<div
  class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center"
  style="backdrop-filter: blur(20px); width: 100%; z-index: 100"
  id="loading"
>
  <div class="py-2 px-6 rounded-lg flex items-center flex-col">
    <div class="loader-dots block relative w-22 h-6 mt-2" style="width: 5rem">
      <div
        class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
        style="top: 0; width: 0.75rem; height: 0.75rem"
      ></div>
      <div
        class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
        style="top: 0; width: 0.75rem; height: 0.75rem"
      ></div>
      <div
        class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
        style="top: 0; width: 0.75rem; height: 0.75rem"
      ></div>
      <div
        class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
        style="top: 0; width: 0.75rem; height: 0.75rem"
      ></div>
    </div>
    <div class="text-gray-500 text-xs font-light mt-2 text-center">
      Please wait...
    </div>
  </div>
</div>
