<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex self-stretch flex-col space-y-9 items-start justify-start px-6 py-4 bg-white rounded">
    <div class="flex space-x-72 items-start justify-start">
      <div class="flex items-start justify-start">
        <div class="text-xl font-medium tracking-wide leading-loose text-coolGray-900">
          Pengembangan Aplikasi UMKM Kota Semarang
        </div>
      </div>
      <div class="flex flex-col space-y-2 items-start justify-start">
        <div
          class="flex flex-col items-start justify-start"
          style="width: 304px; min-width: 304px; max-width: 304px; height: 10px; min-height: 10px; max-height: 10px;"
        >
          <bar />
        </div>
        <div class="flex items-start justify-start">
          <div class="text-sm tracking-wide leading-tight text-coolGray-500">
            10 Task Done
          </div>
        </div>
      </div>
    </div>
    <div class="flex space-x-8 items-center justify-start">
      <div class="flex items-start justify-start">
        <div class="flex items-center justify-center px-4 py-2 bg-coolGray-50 rounded cursor-pointer">
          <div class="text-base font-medium tracking-wide leading-normal text-indigo-500">
            Project Detail
          </div>
        </div>
      </div>
      <div class="flex flex-col items-start justify-start">
        <a
          href="/pm/projects/task"
          class="flex items-center justify-center px-4 py-2 rounded cursor-pointer"
        >
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
            Task
          </div>
        </a>
      </div>
      <div class="flex items-center justify-center px-4 py-2 rounded cursor-pointer">
        <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
          Planning
        </div>
      </div>
      <div class="flex items-center justify-center px-4 py-2 rounded cursor-pointer">
        <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
          Timeline
        </div>
      </div>
      <div class="flex items-center justify-center px-4 py-2 rounded cursor-pointer">
        <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
          Team
        </div>
      </div>
    </div>
  </div>
  <div class="flex self-stretch flex-col space-y-8 items-start justify-start pl-6 pr-8 pt-8 pb-10 bg-white rounded">
    <div class="flex self-stretch space-x-2 items-start justify-start">
      <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
        <div class="flex self-stretch items-start justify-start">
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
            This project will be carried out by:
          </div>
        </div>
        <div class="flex self-stretch items-start justify-start">
          <div class="text-xl font-medium tracking-wide leading-loose text-coolGray-900">
            Team 1
          </div>
        </div>
      </div>
      <div class="flex flex-col items-start justify-start">
        <div class="flex items-start justify-start">
          <div class="flex items-start justify-start px-4 py-2 border rounded border-indigo-400">
            <div class="text-base font-medium tracking-wide leading-normal text-center text-indigo-500">
              Change Team
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex self-stretch flex-col items-start justify-start">
      <div class="flex self-stretch flex-col items-start justify-start p-6 bg-coolGray-50 border rounded border-coolGray-300">
        <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
          <div class="flex self-stretch space-x-2.5 items-center justify-start">
            <div class="flex flex-1 items-start justify-start">
              <div class="text-base tracking-wide leading-normal text-coolGray-500">
                List Member
              </div>
            </div>
            <div class="flex flex-col items-start justify-start">
              <div class="flex space-x-1 items-center justify-center px-4 py-2 bg-indigo-500 rounded">
                <div />
                <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                  Add Member
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start py-6 pl-6 bg-coolGray-50 rounded">
            <div class="flex self-stretch flex-col items-start justify-start">
              <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                <div class="flex self-stretch items-center justify-start py-2 pr-4 rounded">
                  <div class="flex space-x-4 items-start justify-start">
                    <div class="flex items-start justify-start">
                      <img
                        src="/fimgs/I448_1610_1448_4295.x3.png"
                        class="rounded-full"
                        style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;background-image: url('/fimgs/bg-cf46fd8049eabaf4acc59a5b2a37552802a4d9d3');background-size:100% 100%;background-repeat:no-repeat;"
                      />
                    </div>
                    <div class="flex flex-col items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                          Afif Hanifudin
                        </div>
                      </div>
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-xs tracking-wide leading-none text-coolGray-500">
                          UIUX Designer
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-center py-2 pr-4">
                  <div class="flex self-stretch space-x-4 items-start justify-start">
                    <div class="flex items-start justify-start">
                      <div
                        class="rounded-full"
                        style="background-image: url('/fimgs/bg-f30584aa4166eb7ec409290d768a2d61215941ef');background-size:100% 100%;background-repeat:no-repeat;"
                      />
                    </div>
                    <div class="flex flex-col items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                          Dzaki
                        </div>
                      </div>
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-xs tracking-wide leading-none text-coolGray-500">
                          Business Analyst
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-center py-2 pr-4">
                  <div class="flex self-stretch space-x-4 items-start justify-start">
                    <div class="flex items-start justify-start">
                      <div
                        class="rounded-full"
                        style="background-image: url('/fimgs/bg-28db5d94d03d66d78847b1d3929959b89c5d7b9f');background-size:100% 100%;background-repeat:no-repeat;"
                      />
                    </div>
                    <div class="flex flex-col items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                          Faisal
                        </div>
                      </div>
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-xs tracking-wide leading-none text-coolGray-500">
                          Full Stack Developer
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-center py-2 pr-4">
                  <div class="flex self-stretch space-x-4 items-start justify-start">
                    <div class="flex items-start justify-start">
                      <div
                        class="rounded-full"
                        style="background-image: url('/fimgs/bg-2e999bf779e5ac51c14a32cc62f9c405d92835c7');background-size:100% 100%;background-repeat:no-repeat;"
                      />
                    </div>
                    <div class="flex flex-col items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                          Royhan
                        </div>
                      </div>
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-xs tracking-wide leading-none text-coolGray-500">
                          Full Stack Developer
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-center py-2 pr-4">
                  <div class="flex self-stretch space-x-4 items-start justify-start">
                    <div class="flex items-start justify-start">
                      <div
                        class="rounded-full"
                        style="background-image: url('/fimgs/bg-156162a502e941db61bcdbe2a17ccf701a0a7801');background-size:100% 100%;background-repeat:no-repeat;"
                      />
                    </div>
                    <div class="flex flex-col items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                          Bukhari
                        </div>
                      </div>
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-xs tracking-wide leading-none text-coolGray-500">
                          Full Stack Developer
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>