<>
  <effect
    meta={{
      showModal: false,
      input: {},
      errors: {},
      state: { email: "" },
      state1: { print: false },

      handleSubmit(event) {
        const requestOptions = {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(this.state),
        };
        fetch(window.location.origin + "/api/email-reset", requestOptions).then(
          (response) => {
            response.json().then((e) => {
              console.log(e);
              console.log(this.state.email);
            });
          }
        );
        if (this.validate()) {
          console.log(this);
          let input = {};
          input["email"] = "";
          this.input = input;
        }

        this.state1.print = true;
        console.log(this.state1.print);
        window.location.replace(window.location.origin + "/m");
        event.preventDefault();
      },
      validate() {
        let input = this.input;
        let errors = {};
        let isValid = true;

        if (!input["email"]) {
          isValid = false;
          errors["email"] = "This field is required.";
        }

        if (typeof input["email"] !== "undefined") {
          let pattern = RegExp(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/);
          ///^[a-zA-Z0-9._]+@[a-zA-Z]+(?:\.[a-zA-Z0-9-]+)*$/
          if (!pattern.test(input["email"])) {
            isValid = false;
            errors["email"] = "Email address doesn't valid.";
          }
        }
        this.errors = errors;
        return isValid;
      },
      handleSubmit1(event) {
        window.location.replace(window.location.origin + "/m");
        event.preventDefault();
      },
      handleSubmit2(event) {
        window.location.replace(window.location.origin);
        event.preventDefault();
      },
      ubahNilai(e) {
        let input = this.input;
        input[e.target.name] = e.target.value;
        this.input = input;

        let name = e.target.name;
        let nilai = e.target.value;
        this.state[name] = nilai;
        this.state1.print = false;
        // console.log(name);
      },
      handleInputChange(e) {
        let name = e.target.name;
        let nilai = e.target.value;
        console.log(name + "   " + e.target.value);
        this.state[name] = nilai;
        // console.log(this.state.username);
      },
    }}
    run={async () => {}}
  />
  <div class="flex flex-col w-full h-full items-center justify-center bg-white m-auto">
    <div class="flex w-full self-stretch items-start justify-center px-3 pt-4">
      <form
        class="flex w-full space-x-5 items-center justify-start"
        onSubmit={meta.handleSubmit1}
      >
        <button class="flex items-center justify-start">
          <img
            src="/fimgs/I727_1000_1575_5334.x3.png"
            style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
          />
          <div class="text-base tracking-wide leading-tight text-indigo-500">
            Back
          </div>
        </button>
      </form>
    </div>
    <div class="flex flex-col w-full px-5 space-y-10 items-center justify-center m-auto">
      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
        <div class="flex self-stretch items-start justify-start pb-2">
          <div class="text-xl font-semibold tracking-wide leading-none text-coolGray-800">
            Forget Password?
          </div>
        </div>
        <div class="flex self-stretch items-start justify-start">
          <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-500">
            Insert your email address
          </div>
        </div>
      </div>
      <form
        class="flex self-stretch flex-col space-y-6 items-start justify-start"
        onSubmit={meta.handleSubmit}
      >
        <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
          <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-800">
                Email Address
              </div>
            </div>
            <div class="flex self-stretch items-center justify-start">
              <div class="relative flex flex-1 items-center justify-start">
                <div class="absolute flex border border-transparent left-0 top-0 h-full w-12">
                  <div class="flex items-center justify-center rounded-tl rounded-bl z-10 text-lg h-full w-full">
                    <img
                      src="/fimgs/I205_201_18_21.x3.png"
                      style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-7f26b390a09bdf75f8aad23d0059860be6c55013');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                  </div>
                </div>
                <m-input
                  id="email-address"
                  name="email"
                  type="email"
                  autoComplete="email"
                  required
                  placeholder="Insert your email here"
                  class={
                    meta.showErrorMessage
                      ? "text-sm relative w-full border rounded placeholder-gray-400 border-red-500 focus:outline-none py-2.5 pr-4 pl-12"
                      : "text-sm relative w-full border rounded placeholder-gray-400 border-gray-300 py-2.5 pr-4 pl-12"
                  }
                />
              </div>
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="flex self-stretch flex-col items-start justify-start"
        >
          <div class="flex self-stretch items-center justify-center px-4 py-2 bg-indigo-500 rounded">
            <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
              Send
            </div>
          </div>
        </button>
      </form>
    </div>
  </div>
</>