<>
  <effect meta={{}} run={async () => {}} />
  <div class="space-y-4 h-full">
    <div class="flex self-stretch items-center justify-between">
      <div
        class="flex items-center justify-start"
        style="width: 263px; min-width: 263px; max-width: 263px; height: 18px; min-height: 18px; max-height: 18px;"
      >
        <img
          src="/fimgs/612_2197.x3.png"
          style="width: 87px; min-width: 87px; max-width: 87px; height: 18px; min-height: 18px; max-height: 18px;"
        />
      </div>
      <div class="flex space-x-6 items-center justify-start">
        <div class="flex items-center justify-center rounded">
          <img
            src="/fimgs/612_2200.x3.png"
            style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
          />
        </div>
        <img
          src="/fimgs/612_2201.x3.png"
          class="flex items-center justify-center rounded"
          style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
        />
      </div>
    </div>
    <div class="flex items-start justify-start">
      <div class="text-lg font-medium tracking-wide leading-relaxed text-coolGray-900">
        Analytics
      </div>
    </div>
    <div class="flex self-stretch flex-col space-y-2 items-center justify-center">
      <div class="flex flex-col space-y-4 items-start justify-start">
        <div class="flex self-stretch space-x-4 items-start justify-start">
          <div
            class="flex flex-1 flex-col items-start justify-center py-4 pl-4 pr-2 bg-white rounded"
            style="width: 160px; min-width: 160px; max-width: 160px; height: 81px; min-height: 81px; max-height: 81px;"
          >
            <div class="flex self-stretch space-x-2.5 items-start justify-start">
              <div class="flex items-center justify-center p-1.5 bg-orange-400 rounded">
                <img
                  src="/fimgs/612_2211.x3.png"
                  style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
                />
              </div>
              <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-coolGray-500">
                    Total Projects
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-lg font-medium tracking-wide leading-relaxed text-coolGray-900">
                    25
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex flex-1 flex-col items-start justify-center py-4 pl-4 pr-2 bg-white rounded"
            style="width: 160px; min-width: 160px; max-width: 160px; height: 81px; min-height: 81px; max-height: 81px;"
          >
            <div class="flex self-stretch space-x-2.5 items-start justify-start">
              <div class="flex items-center justify-center p-1.5 bg-green-500 rounded">
                <img
                  src="/fimgs/612_2220.x3.png"
                  style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
                />
              </div>
              <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-coolGray-500">
                    Complete
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-lg font-medium tracking-wide leading-relaxed text-coolGray-900">
                    22
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch space-x-4 items-start justify-start">
          <div
            class="flex flex-1 flex-col items-start justify-center py-4 pl-4 pr-2 bg-white rounded"
            style="width: 160px; min-width: 160px; max-width: 160px; height: 81px; min-height: 81px; max-height: 81px;"
          >
            <div class="flex self-stretch space-x-2.5 items-start justify-start">
              <img
                src="/fimgs/612_2229.x3.png"
                class="flex items-center justify-center p-1.5 bg-red-500 rounded"
                style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
              />
              <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-coolGray-500">
                    Uncomplete
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-lg font-medium tracking-wide leading-relaxed text-coolGray-900">
                    3
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-1 flex-col items-start justify-center py-4 pl-4 pr-2 bg-white rounded">
            <div class="flex self-stretch space-x-2.5 items-start justify-start">
              <div class="flex items-center justify-center p-1.5 bg-blue-700 rounded">
                <img
                  src="/fimgs/612_2239.x3.png"
                  style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
                />
              </div>
              <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-coolGray-500">
                    Next Project
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-lg font-medium tracking-wide leading-relaxed text-coolGray-900">
                    2
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex self-stretch items-center justify-between">
      <div class="flex items-start justify-start">
        <div class="text-lg font-medium tracking-wide leading-relaxed text-coolGray-900">
          Importanat Projects
        </div>
      </div>
      <div class="flex items-center justify-center p-1 bg-indigo-500 rounded">
        <div class="flex items-start justify-start">
          <img
            src="/fimgs/612_2883.x3.png"
            style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
          />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-4 flex-grow items-start justify-start relative overflow-y-auto max-h-80">
      <div class="flex flex-col space-y-4 items-start justify-start p-4 bg-white rounded">
        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
          <div class="flex self-stretch items-center justify-between">
            <div class="flex space-x-1 items-center justify-start">
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-center text-coolGray-500">
                  Tim 6
                </div>
              </div>
            </div>
            <div class="flex items-start justify-start">
              <img
                src="/fimgs/612_2865.x1.png"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                Pengembangan Aplikasi UMKM Kota Semarang
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                <img
                  src="/fimgs/612_2871.x1.png"
                  class="flex flex-col items-start justify-start"
                  style="width: 127px; min-width: 127px; max-width: 127px; height: 10px; min-height: 10px; max-height: 10px;"
                />
                <div class="flex items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-coolGray-500">
                    10 Task Done
                  </div>
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-xs tracking-wide leading-none">
                  Due Date:
                  <br />
                  25, September 2021
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center px-2 py-0.5 bg-orange-400 bg-opacity-70 rounded-sm">
          <div class="text-xs tracking-wide leading-none text-center text-white">
            In Progress
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y-4 items-start justify-start p-4 bg-white rounded">
        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
          <div class="flex self-stretch items-center justify-between">
            <div class="flex space-x-1 items-center justify-start">
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-center text-coolGray-500">
                  Tim 6
                </div>
              </div>
            </div>
            <div class="flex items-start justify-start">
              <img
                src="/fimgs/612_2865.x1.png"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                Pengembangan Aplikasi UMKM Kota Semarang
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                <img
                  src="/fimgs/612_2871.x1.png"
                  class="flex flex-col items-start justify-start"
                  style="width: 127px; min-width: 127px; max-width: 127px; height: 10px; min-height: 10px; max-height: 10px;"
                />
                <div class="flex items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-coolGray-500">
                    10 Task Done
                  </div>
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-xs tracking-wide leading-none">
                  Due Date:
                  <br />
                  25, September 2021
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center px-2 py-0.5 bg-orange-400 bg-opacity-70 rounded-sm">
          <div class="text-xs tracking-wide leading-none text-center text-white">
            In Progress
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y-4 items-start justify-start p-4 bg-white rounded">
        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
          <div class="flex self-stretch items-center justify-between">
            <div class="flex space-x-1 items-center justify-start">
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-center text-coolGray-500">
                  Tim 6
                </div>
              </div>
            </div>
            <div class="flex items-start justify-start">
              <img
                src="/fimgs/612_2865.x1.png"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                Pengembangan Aplikasi UMKM Kota Semarang
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                <img
                  src="/fimgs/612_2871.x1.png"
                  class="flex flex-col items-start justify-start"
                  style="width: 127px; min-width: 127px; max-width: 127px; height: 10px; min-height: 10px; max-height: 10px;"
                />
                <div class="flex items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-coolGray-500">
                    10 Task Done
                  </div>
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-xs tracking-wide leading-none">
                  Due Date:
                  <br />
                  25, September 2021
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center px-2 py-0.5 bg-orange-400 bg-opacity-70 rounded-sm">
          <div class="text-xs tracking-wide leading-none text-center text-white">
            In Progress
          </div>
        </div>
      </div>
    </div>
  </div>
</>