<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-coolGray-50">
    <div class="flex w-full self-stretch items-start justify-center px-3 py-4 bg-white shadow shadow-b">
      <div class="flex w-full space-x-5 items-center justify-start">
        <a href="/m/pm/account" class="flex items-center justify-start">
          <img
            src="/fimgs/I727_1000_1575_5334.x3.png"
            style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
          />
          <div class="text-base tracking-wide leading-tight text-indigo-500">
            Back
          </div>
        </a>
        <div class="flex items-center justify-center">
          <div class="text-base tracking-wide leading-normal text-coolGray-900">
            Team 1
          </div>
        </div>
      </div>
      <a href="/m/pm/account/team/edit" class="flex items-center justify-end">
        <img
          src="/fimgs/I745_1356_1630_7652.x3.png"
          style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
        />
      </a>
    </div>
    <div class="flex flex-col w-full self-stretch space-y-5 py-3 w-auto">
      <div class="flex flex-col self-stretch space-y-6 items-start justify-start px-5 py-6 bg-white">
        <div class="flex self-stretch items-center justify-between">
          <div class="flex items-start justify-start">
            <div class="text-sm tracking-wide leading-none text-coolGray-500">
              List Member
            </div>
          </div>
          <div class="flex space-x-1 items-center justify-start">
            <div class="flex items-center justify-start">
              <div class="text-xs tracking-wide leading-none text-indigo-500">
                Add Member
              </div>
            </div>
            <img
              src="/fimgs/745_1364.x3.png"
              style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
            />
          </div>
        </div>
        <div class="flex flex-1 space-x-2 items-center justify-center">
          <img
            src="/fimgs/609_817.x3.png"
            class="flex items-start justify-start"
            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
          />
          <div class="flex flex-1 flex-col items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                Royhan
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs tracking-wide leading-none text-coolGray-500">
                Full Stact Developer
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-1 space-x-2 items-center justify-center">
          <img
            src="/fimgs/609_817.x3.png"
            class="flex items-start justify-start"
            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
          />
          <div class="flex flex-1 flex-col items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                Bukhari
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs tracking-wide leading-none text-coolGray-500">
                Full Stack Developer
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-1 space-x-2 items-center justify-center">
          <img
            src="/fimgs/609_817.x3.png"
            class="flex items-start justify-start"
            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
          />
          <div class="flex flex-1 flex-col items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                Faisol
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs tracking-wide leading-none text-coolGray-500">
                Full Stack Developer
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-1 space-x-2 items-center justify-center">
          <img
            src="/fimgs/609_817.x3.png"
            class="flex items-start justify-start"
            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
          />
          <div class="flex flex-1 flex-col items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                Afif
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs tracking-wide leading-none text-coolGray-500">
                UI/UX Designer
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-1 space-x-2 items-center justify-center">
          <img
            src="/fimgs/609_817.x3.png"
            class="flex items-start justify-start"
            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
          />
          <div class="flex flex-1 flex-col items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                Zaki
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs tracking-wide leading-none text-coolGray-500">
                Business Analyst
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>