<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-coolGray-50">
    <div class="flex w-full self-stretch items-start justify-center px-3 py-4 bg-white shadow shadow-b">
      <div class="flex w-full space-x-5 items-center justify-start">
        <a href="/m/pm/projects" class="flex items-center justify-start">
          <img
            src="/fimgs/I727_1000_1575_5334.x3.png"
            style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
          />
          <div class="text-base tracking-wide leading-tight text-indigo-500">
            Back
          </div>
        </a>
      </div>
    </div>
    <div class="overflow-x-auto w-full">
      <div class="flex flex-col self-stretch space-y-5 py-3 w-auto">
        <div class="flex flex-col self-stretch items-start justify-start">
          <div class="flex space-x-4 items-start justify-start px-5 py-4 bg-white">
            <a
              class="flex items-center justify-center px-4 py-2 border rounded border-coolGray-400"
              style="width: 132px; min-width: 132px; max-width: 132px;"
              href="/m/pm/projects/detail"
            >
              <div class="text-sm tracking-wide leading-tight text-center text-coolGray-500">
                Projects Detail
              </div>
            </a>
            <a
              class="flex items-center justify-center px-4 py-2 border rounded border-coolGray-400"
              href="/m/pm/projects/task"
            >
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Task
              </div>
            </a>
            <a
              class="flex items-center justify-center px-4 py-2 border rounded border-coolGray-400"
              href="/m/pm/projects/planning"
            >
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Planning
              </div>
            </a>
            <a
              class="flex items-center justify-center px-4 py-2 border rounded border-coolGray-400"
              href="/m/pm/projects/timeline"
            >
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Timeline
              </div>
            </a>
            <a
              class="flex items-center justify-center px-4 py-2 border rounded border-coolGray-400"
              style="width: 151px; min-width: 151px; max-width: 151px;"
              href="/m/pm/projects/filemanagement"
            >
              <div class="text-sm tracking-wide leading-tight text-center text-coolGray-500">
                File Management
              </div>
            </a>
            <a
              class="flex items-center justify-center px-4 py-2 border rounded border-indigo-400"
              href="/m/pm/projects/team"
            >
              <div class="text-sm tracking-wide leading-tight text-indigo-500">
                Team
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full self-stretch space-y-5 pb-3 w-auto">
      <div class="flex flex-col self-stretch space-y-6 items-start justify-start px-5 py-4 bg-white">
        <div class="flex flex-col space-y-1 items-start justify-start">
          <div class="flex items-start justify-start">
            <div class="text-xs tracking-wide leading-none text-coolGray-500">
              This is Project be commissioned by:
            </div>
          </div>
          <div class="flex items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-900">
              Team 1
            </div>
          </div>
        </div>
        <div class="flex flex-1 space-x-2 items-center justify-center">
          <img
            src="/fimgs/609_817.x3.png"
            class="flex items-start justify-start"
            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
          />
          <div class="flex flex-1 flex-col items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                Royhan
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs tracking-wide leading-none text-coolGray-500">
                Full Stact Developer
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-1 space-x-2 items-center justify-center">
          <img
            src="/fimgs/609_817.x3.png"
            class="flex items-start justify-start"
            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
          />
          <div class="flex flex-1 flex-col items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                Bukhari
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs tracking-wide leading-none text-coolGray-500">
                Full Stack Developer
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-1 space-x-2 items-center justify-center">
          <img
            src="/fimgs/609_817.x3.png"
            class="flex items-start justify-start"
            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
          />
          <div class="flex flex-1 flex-col items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                Faisol
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs tracking-wide leading-none text-coolGray-500">
                Full Stack Developer
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-1 space-x-2 items-center justify-center">
          <img
            src="/fimgs/609_817.x3.png"
            class="flex items-start justify-start"
            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
          />
          <div class="flex flex-1 flex-col items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                Afif
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs tracking-wide leading-none text-coolGray-500">
                UI/UX Designer
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-1 space-x-2 items-center justify-center">
          <img
            src="/fimgs/609_817.x3.png"
            class="flex items-start justify-start"
            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
          />
          <div class="flex flex-1 flex-col items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                Zaki
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-xs tracking-wide leading-none text-coolGray-500">
                Business Analyst
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>