<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-coolGray-50">
    <div class="flex w-full self-stretch items-start justify-center px-3 py-4 bg-white shadow shadow-b">
      <div class="flex w-full space-x-5 items-center justify-start">
        <a href="" class="flex items-center justify-start">
          <img
            src="/fimgs/I727_1000_1575_5334.x3.png"
            style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
          />
          <div class="text-base tracking-wide leading-tight text-indigo-500">
            Back
          </div>
        </a>
      </div>
    </div>
    <div class="overflow-x-auto w-full">
      <div class="flex flex-col self-stretch space-y-5 py-3 w-auto">
        <div class="flex flex-col self-stretch items-start justify-start">
          <div class="flex space-x-4 items-start justify-start px-5 py-4 bg-white">
            <div
              class="flex items-center justify-center px-4 py-2 border rounded border-indigo-400"
              style="width: 132px; min-width: 132px; max-width: 132px;"
            >
              <div class="text-sm tracking-wide leading-tight text-center text-indigo-500">
                Projects Detail
              </div>
            </div>
            <div class="flex items-center justify-center px-4 py-2 border rounded border-coolGray-400">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Task
              </div>
            </div>
            <div class="flex items-center justify-center px-4 py-2 border rounded border-coolGray-400">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Planning
              </div>
            </div>
            <div class="flex items-center justify-center px-4 py-2 border rounded border-coolGray-400">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Timeline
              </div>
            </div>
            <div
              class="flex items-center justify-center px-4 py-2 border rounded border-coolGray-400"
              style="width: 151px; min-width: 151px; max-width: 151px;"
            >
              <div class="text-sm tracking-wide leading-tight text-center text-coolGray-500">
                File Management
              </div>
            </div>
            <div class="flex items-center justify-center px-4 py-2 border rounded border-coolGray-400">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Team
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col self-stretch w-auto">
      <div class="flex items-start justify-start px-5 py-4 bg-white">
        <div class="flex flex-col space-y-6 items-start justify-start relative">
          <div class="flex flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                  Project Name
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                  Pengembangan Aplikasi UMKM Kota Semarang
                </div>
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
              <div class="flex items-start justify-start">
                <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                  Project Description
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                  Pengembangan Aplikasi UMKM Kota Semarang dibuat untuk
                  memberikan kemudahan bagi masyarakat yang bergerak di bidang
                  bisnis terutama pada UMKM. Hal ini didasarkan pada masih
                  banyak masyarakat yang belum memanfaatkan teknologi pemasaran
                  seperti E-commerce dan lainnya. Penelitian ini menggunakan
                  model pengembangan SDLC. Model analisisnya menggunakan Use
                  Case, Activity, Class Diagram, E-R Diagram dan kamus data.
                  Manfaatnya dapat memberikan kemudahan dalam memasarkan produk
                  UMKM kota semarang agar lebih dikenal oleh masyarakat lokal
                  maupun luar daerah. Dalam Aplikasi ini masyarakat dapat
                  menjual produk UMKM melalui bantuan teknologi.{" "}
                </div>
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
              <div class="flex items-start justify-start">
                <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                  Progress Task
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                <bar />
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-coolGray-500">
                    10 Task Done
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch space-x-4 items-start justify-start">
              <img
                src="/fimgs/824_2235.x3.png"
                style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
              />
              <div class="flex flex-1 flex-col space-y-0.5 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-justify text-coolGray-500">
                    Project Create For
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-justify text-coolGray-900">
                    Pemkot Semarang
                  </div>
                </div>
              </div>
            </div>
            <div class="flex self-stretch space-x-4 items-start justify-start">
              <img
                src="/fimgs/824_2243.x3.png"
                style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
              />
              <div class="flex flex-1 flex-col space-y-0.5 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-justify text-coolGray-500">
                    Start Project
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-justify text-coolGray-900">
                    26/09/2021
                  </div>
                </div>
              </div>
            </div>
            <div class="flex self-stretch space-x-4 items-start justify-start">
              <img
                src="/fimgs/824_2251.x3.png"
                style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
              />
              <div class="flex flex-1 flex-col space-y-0.5 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-justify text-coolGray-500">
                    Due Date
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-justify text-coolGray-900">
                    26/11/2021
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>