<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col space-y-2 items-start justify-start bg-coolGray-100">
    <div class="flex flex-col items-start justify-center px-5 py-4 bg-white shadow-inner">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start">
          <div style="background-image: url('/fimgs/bg-c850bb71586d986bf96dfc0691a5f82a22f22652');background-size:100% 100%;background-repeat:no-repeat;" />
          <div class="text-sm tracking-wide leading-tight text-indigo-500">
            Back
          </div>
        </div>
        <div class="flex items-start justify-start">
          <div class="text-base tracking-wide leading-normal text-coolGray-900">
            Task Detail
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-start justify-start py-4 bg-white">
      <div class="flex flex-1 flex-col space-y-4 items-center justify-center">
        <div class="flex space-x-24 items-start justify-start">
          <div class="flex items-center justify-center px-2 py-1 bg-indigo-400 rounded">
            <div class="text-xs tracking-wide leading-none text-white">
              IN PROGRESS
            </div>
          </div>
          <div class="flex space-x-4 items-start justify-start">
            <div class="flex flex-col space-y-0.5 items-center justify-center">
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-500">
                  Start Date
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div class="text-xs font-medium tracking-wide leading-none text-coolGray-900">
                  26/09/2021
                </div>
              </div>
            </div>
            <div class="flex flex-col space-y-0.5 items-center justify-center">
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-500">
                  Due Date
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div class="text-xs font-medium tracking-wide leading-none text-coolGray-900">
                  26/11/2021
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-start justify-start relative overflow-y-auto">
          <div class="flex flex-col space-y-6 items-center justify-center">
            <div class="flex flex-col space-y-4 items-start justify-start">
              <div class="flex flex-col space-y-2 items-start justify-start">
                <div class="flex items-start justify-start">
                  <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                    Task Name
                  </div>
                </div>
                <div class="flex items-center justify-start px-6 py-3 bg-coolGray-50 rounded">
                  <div class="flex flex-1 space-x-3 items-center justify-center">
                    <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                      Wireframe
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-col space-y-2 items-start justify-start">
                <div class="flex items-start justify-start">
                  <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                    Status
                  </div>
                </div>
                <div class="flex items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
                  <div class="flex flex-1 space-x-3 items-center justify-center">
                    <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                      IN PROGRESS
                    </div>
                    <div style="background-image: url('/fimgs/bg-828ffc36cf8db9b135befd66a2753a3d0b07073c');background-size:100% 100%;background-repeat:no-repeat;" />
                  </div>
                </div>
              </div>
              <div class="flex space-x-4 items-start justify-start">
                <div class="flex flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                      Start Date
                    </div>
                  </div>
                  <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
                    <div class="flex flex-1 space-x-3 items-center justify-center">
                      <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                        14/09/2021
                      </div>
                      <div style="background-image: url('/fimgs/bg-828ffc36cf8db9b135befd66a2753a3d0b07073c');background-size:100% 100%;background-repeat:no-repeat;" />
                    </div>
                  </div>
                </div>
                <div class="flex flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                      Due Date
                    </div>
                  </div>
                  <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
                    <div class="flex flex-1 space-x-3 items-center justify-center">
                      <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                        19/09/2021
                      </div>
                      <div style="background-image: url('/fimgs/bg-828ffc36cf8db9b135befd66a2753a3d0b07073c');background-size:100% 100%;background-repeat:no-repeat;" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex space-x-4 items-start justify-start">
                <div class="flex flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                      Priority
                    </div>
                  </div>
                  <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
                    <div class="flex flex-1 space-x-3 items-center justify-center">
                      <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                        Medium
                      </div>
                      <div style="background-image: url('/fimgs/bg-828ffc36cf8db9b135befd66a2753a3d0b07073c');background-size:100% 100%;background-repeat:no-repeat;" />
                    </div>
                  </div>
                </div>
                <div class="flex flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                      Task Value
                    </div>
                  </div>
                  <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
                    <div class="flex flex-1 space-x-3 items-center justify-center">
                      <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                        5
                      </div>
                      <div style="background-image: url('/fimgs/bg-828ffc36cf8db9b135befd66a2753a3d0b07073c');background-size:100% 100%;background-repeat:no-repeat;" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-col space-y-4 items-center justify-center">
              <div class="flex items-center justify-between">
                <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                  Subtask
                </div>
                <div class="flex items-center justify-center p-1 bg-indigo-500 rounded-full">
                  <div style="background-image: url('/fimgs/bg-ace2282106270a396edd79226a90f722a6c0bdd5');background-size:100% 100%;background-repeat:no-repeat;" />
                </div>
              </div>
              <div class="flex flex-col space-y-6 items-center justify-center">
                <div class="flex flex-col space-y-4 items-start justify-start">
                  <div class="flex flex-col items-start justify-center px-5 py-2">
                    <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                      <div class="flex self-stretch space-x-2.5 items-start justify-start">
                        <div class="text-sm tracking-wide leading-tight">
                          Landing Page
                        </div>
                        <div class="flex items-center justify-center p-1 bg-red-400 rounded">
                          <div style="background-image: url('/fimgs/bg-ffcb14b132602a3db2746458b14c651fb9d99d91');background-size:100% 100%;background-repeat:no-repeat;" />
                        </div>
                      </div>
                      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch items-start justify-between">
                          <div class="flex space-x-6 items-start justify-start">
                            <div class="flex items-start justify-start">
                              <div class="text-xs tracking-wide leading-none text-green-400">
                                14/09/2021
                              </div>
                            </div>
                            <div class="flex items-start justify-start">
                              <div class="text-xs tracking-wide leading-none text-red-400">
                                15/09/2021
                              </div>
                            </div>
                          </div>
                          <div class="flex items-start justify-start">
                            <div class="text-xs font-medium tracking-wide leading-none text-indigo-500">
                              IN PROGRESS
                            </div>
                          </div>
                        </div>
                        <div class="flex self-stretch space-x-6 items-start justify-start">
                          <div class="flex items-start justify-start">
                            <div class="text-xs tracking-wide leading-none text-indigo-500">
                              Medium
                            </div>
                          </div>
                          <div class="flex items-start justify-start">
                            <div class="text-xs tracking-wide leading-none text-indigo-500">
                              5
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col items-start justify-center px-5 pt-2 pb-4 bg-coolGray-50">
                    <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start pr-2">
                        <div class="text-sm tracking-wide leading-tight">
                          Landing Page
                        </div>
                      </div>
                      <div class="flex self-stretch flex-col items-start justify-start">
                        <div class="flex items-start justify-between">
                          <div class="flex items-start justify-start">
                            <div class="flex items-center justify-center p-1 bg-violet-100 rounded">
                              <div style="background-image: url('/fimgs/bg-44ecb1e82aecb950c69939e4291e6ed559758c21');background-size:100% 100%;background-repeat:no-repeat;" />
                            </div>
                          </div>
                          <div class="flex items-start justify-start">
                            <div class="flex items-center justify-center p-1 bg-violet-100 rounded">
                              <div style="background-image: url('/fimgs/bg-1a2a26e7f92ebf8683b51908f0e882aa0aa49333');background-size:100% 100%;background-repeat:no-repeat;" />
                            </div>
                          </div>
                          <div class="flex items-start justify-start">
                            <div class="flex items-center justify-center p-1 bg-violet-100 rounded">
                              <div style="background-image: url('/fimgs/bg-0b14e229c3a9e330faea3a6d0c60dc52518602b1');background-size:100% 100%;background-repeat:no-repeat;" />
                            </div>
                          </div>
                          <div class="flex items-center justify-center p-1 bg-violet-100 rounded">
                            <div style="background-image: url('/fimgs/bg-35b893b3008b75d3bb173dc8aea94b8a2074dc92');background-size:100% 100%;background-repeat:no-repeat;" />
                          </div>
                          <div class="flex items-center justify-center p-1 bg-violet-100 rounded">
                            <div style="background-image: url('/fimgs/bg-a44709ac8360dd79944000e268d1f7c02b686d44');background-size:100% 100%;background-repeat:no-repeat;" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
                  <div class="flex flex-1 space-x-3 items-center justify-center">
                    <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                      Create Subtask
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                  Progress Task
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="flex flex-col space-y-4 items-start justify-start">
                  <div class="flex space-x-4 items-start justify-start">
                    <div class="flex items-start justify-start">
                      <div class="text-sm tracking-wide leading-tight">
                        Register Page
                      </div>
                    </div>
                    <div class="flex flex-col items-center justify-center px-2.5 py-1.5 bg-orange-300">
                      <div class="flex items-start justify-start">
                        <div class="flex items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight text-center text-white">
                            COMPLETE
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col items-start justify-start">
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-500">
                        Information
                      </div>
                    </div>
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-900">
                        -
                      </div>
                    </div>
                  </div>
                </div>
                <div />
                <div class="flex flex-col space-y-4 items-start justify-start">
                  <div class="flex space-x-4 items-start justify-start">
                    <div class="flex items-start justify-start">
                      <div class="text-sm tracking-wide leading-tight">
                        Register Page
                      </div>
                    </div>
                    <div class="flex flex-col items-center justify-center px-2.5 py-1.5 bg-red-500">
                      <div class="flex items-start justify-start">
                        <div class="flex items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight text-center text-white">
                            REVISION
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col items-start justify-start">
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-500">
                        Information
                      </div>
                    </div>
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-900">
                        Forgot Password Belum Ada
                      </div>
                    </div>
                  </div>
                </div>
                <div />
                <div class="flex flex-col space-y-4 items-start justify-start">
                  <div class="flex space-x-4 items-start justify-start">
                    <div class="flex items-start justify-start">
                      <div class="text-sm tracking-wide leading-tight">
                        Register Page
                      </div>
                    </div>
                    <div class="flex flex-col items-center justify-center px-2.5 py-1.5 bg-blue-700">
                      <div class="flex items-start justify-start">
                        <div class="flex items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight text-center text-white">
                            SUBMITTED
                          </div>
                        </div>
                        <div class="flex items-start justify-start">
                          <div style="background-image: url('/fimgs/bg-bf959fd56ab360bde7b39df319aa065bb56830a5');background-size:100% 100%;background-repeat:no-repeat;" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col items-start justify-start">
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-500">
                        Information
                      </div>
                    </div>
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-900">
                        -
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>