<>
  <effect
    meta={{
      data_projek: "",
      member: "",
      name: "",
      team: "",
      show: {
        tim1: false,
        tim2: false,
      },
      add: { tekan: true },
      pilih: {
        showTATeam: true,
        showTTeam: false,
      },
      toggleTATeam() {
        this.pilih.showTATeam = true;
        this.pilih.showTTeam = false;
      },
      toggleTTeam() {
        this.pilih.showTTeam = true;
        this.pilih.showTATeam = false;
      },
      toggleSTeam1() {
        this.show.tim1 = !this.show.tim1;
      },
      toggleSTeam2() {
        this.show.tim2 = !this.show.tim2;
      },
    }}
    run={async () => {}}
  />
  <div class="flex flex-col self-stretch space-y-6 p-12 w-auto">
    <div class="flex flex-col space-y-8 items-end justify-start">
      <div class="flex flex-col items-start justify-start">
        <div class="flex space-x-1 items-center justify-center px-4 py-2 bg-indigo-500 rounded">
          <img
            src="/fimgs/603_427.x3.png"
            style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
          />
          <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
            New Team
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col items-start justify-center pl-6 pr-8 pt-8 pb-10 bg-white rounded">
        <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
          <div class="flex self-stretch items-start justify-start">
            <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <div class="text-xl font-medium tracking-wide leading-loose text-coolGray-900">
                  Team List
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-base tracking-wide leading-normal text-coolGray-500">
                  8 Total Team
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
            <div class="flex self-stretch items-center justify-start px-6 py-3 bg-coolGray-50 rounded">
              <div class="flex flex-1 space-x-3 items-center justify-center">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-base tracking-wide leading-normal text-coolGray-900">
                    Team 1
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <img
                    src="/fimgs/457_1759.x3.png"
                    style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
                  />
                </div>
              </div>
            </div>
            <div class="flex self-stretch items-center justify-start px-6 py-3 bg-coolGray-50 rounded">
              <div class="flex flex-1 space-x-3 items-center justify-center">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-base tracking-wide leading-normal text-coolGray-900">
                    Team 1
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <img
                    src="/fimgs/457_1759.x3.png"
                    style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
                  />
                </div>
              </div>
            </div>
            <div class="flex self-stretch items-center justify-start px-6 py-3 bg-coolGray-50 rounded">
              <div class="flex flex-1 space-x-3 items-center justify-center">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-base tracking-wide leading-normal text-coolGray-900">
                    Team 1
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <img
                    src="/fimgs/457_1759.x3.png"
                    style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
                  />
                </div>
              </div>
            </div>
            <div class="flex self-stretch items-center justify-start px-6 py-3 bg-coolGray-50 rounded">
              <div class="flex flex-1 space-x-3 items-center justify-center">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-base tracking-wide leading-normal text-coolGray-900">
                    Team 1
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <img
                    src="/fimgs/457_1759.x3.png"
                    style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>