<>
  <effect
    meta={{
      // status: [
      //   { value: "1", label: "TODO", color: "#4ADE80" },
      //   {
      //     value: "2",
      //     label: "IN PROGRESS",
      //     color: "#888DF1",
      //   },
      //   { value: "3", label: "SUBMITTED", color: "#2D34E6" },
      //   { value: "4", label: "REVIEW", color: "#F9A8D4" },
      //   { value: "5", label: "REVISION", color: "#F87171" },
      //   { value: "6", label: "COMPLETE", color: "#F1B459" },
      // ],
      data_projek: "",
      state: {
        judul: "Loading",
        deskripsi: "Loading",
        label: "Loading",
        startdate: "26/09/2021",
        duedate: "26/09/2021",
        proggres: "0",
        taskComplete: "0",
      },
      link: {
        team: "#",
        task: "#",
        timeline: "#",
        planning: "#",
        file: "#",
      },
      time: {
        year: "2021",
        month: "11",
      },
      isLoading: false,
      data_timeline: [],
      selectedMonth: new Date(),
      show: {
        tim1: false,
        tim2: false,
      },
      add: { tekan: true },
      setMonth(newMonth) {
        if (this.selectedMonth == null) {
          this.selectedMonth = new Date();
          const months = [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
          ];
          var yyyy = this.selectedMonth.getFullYear();
          this.selectedMonth =
            months[this.selectedMonth.getMonth()] + " " + yyyy;
        } else {
          this.selectedMonth = newMonth;
          const months = [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
          ];
          var yyyy = this.selectedMonth.getFullYear();
          this.selectedMonth =
            months[this.selectedMonth.getMonth()] + " " + yyyy;
        }
      },
      getPreviousMonth() {
        const currentMonthInMilli = new Date(this.selectedMonth).getTime();
        const oneMonth = 1000 * 60 * 60 * 24 * 30;
        const previousMonthInMilli = currentMonthInMilli - oneMonth;
        const previousMonth = new Date(previousMonthInMilli);
        this.setMonth(previousMonth);
        this.reloadData(previousMonth);
      },
      getNextMonth() {
        const currentMonthInMilli = new Date(this.selectedMonth).getTime();
        const oneMonth = 1000 * 60 * 60 * 24 * 31;
        const nextMonthInMilli = currentMonthInMilli + oneMonth;
        const nextMonth = new Date(nextMonthInMilli);
        this.setMonth(nextMonth);
        this.reloadData(nextMonth);
      },
      reloadData(month) {
        this.isLoading = false;
        var mmth = ("0" + (month.getMonth() + 1)).slice(-2);
        console.log("year ==> " + mmth);
        // console.log("month ==> " + xmonth);
        api("/api/project/timeline", {
          data: {
            month: ("0" + (month.getMonth() + 1)).slice(-2),
            year: month.getFullYear(),
          },
        })
          .then((e) => {
            console.log(e);
            if (e.status == true) {
              e.data_act.timeline.map((e) => {
                // console.log(e);
                console.log(
                  e.startdate.split("-")[0] + "-" + e.startdate.split("-")[1]
                );
                var startDateku = new Date(
                  e.startdate.split("-")[0],
                  parseInt(e.startdate.split("-")[1]) - 1
                );
                var dueDateku = new Date(
                  e.duedate.split("-")[0],
                  parseInt(e.duedate.split("-")[1]) - 1
                );
                var dateku = new Date(
                  this.time.year,
                  parseInt(this.time.month) - 1
                );
                var label = [];
                if (dateku >= startDateku) {
                  if (dateku < dueDateku) {
                    for (let i = 1; i <= 4; i++) {
                      label[i] =
                        "flex-grow bg-blue-300 border border-coolGray-300";
                    }
                  } else {
                    var startWeek = parseInt(e.startweeks);
                    var dueWeek = parseInt(e.dueweeks);
                    console.log(startWeek + " and " + dueWeek);
                    for (let i = 1; i <= 4; i++) {
                      console.log(i);
                      var tes = true;
                      if (i >= startWeek && i <= dueWeek) {
                        label[i] =
                          "flex-grow bg-blue-300 border border-coolGray-300";
                      } else {
                        tes = false;
                        label[i] = "flex-grow border border-coolGray-300";
                      }
                      console.log(tes);
                    }
                  }
                  e.labelTime = label;
                  console.log(label);
                  console.log(e);
                }
              });
              this.isLoading = true;
              // document.getElementById("loading").remove();
              this.data_timeline = e.data_act.timeline;
              // console.log(this.data_timeline.length);
              // console.log(e);
            }
          })
          .catch((e) => {
            console.log(e);
          });
      },
    }}
    run={async () => {
      var tdate = new Date();
      meta.setMonth(meta.selectedMonth);
      console.log("Mendapatkan data timeline : loading");
      api("/api/project/timeline", {
        data: {
          month: ("0" + tdate.getMonth()).slice(-2),
          year: tdate.getFullYear(),
        },
      })
        .then((e) => {
          console.log(e);
          if (e.status == true) {
            e.data_act.timeline.map((e) => {
              // console.log(e);
              console.log(
                e.startdate.split("-")[0] + "-" + e.startdate.split("-")[1]
              );
              var startDateku = new Date(
                e.startdate.split("-")[0],
                parseInt(e.startdate.split("-")[1]) - 1
              );
              var dueDateku = new Date(
                e.duedate.split("-")[0],
                parseInt(e.duedate.split("-")[1]) - 1
              );
              var dateku = new Date(
                meta.time.year,
                parseInt(meta.time.month) - 1
              );
              console.log("tanggal mulai " + startDateku);
              console.log("tanggal akhir " + dueDateku);
              console.log("waktu yang dipilih " + dateku);
              var label = [];
              if (dateku >= startDateku) {
                if (dateku < dueDateku) {
                  for (let i = 1; i <= 4; i++) {
                    label[i] =
                      "flex-grow bg-blue-300 border border-coolGray-300";
                  }
                } else {
                  var startWeek = parseInt(e.startweeks);
                  var dueWeek = parseInt(e.dueweeks);
                  console.log(startWeek + " and " + dueWeek);
                  for (let i = 1; i <= 4; i++) {
                    console.log(i);
                    var tes = true;
                    if (i >= startWeek && i <= dueWeek) {
                      label[i] =
                        "flex-grow bg-blue-300 border border-coolGray-300";
                    } else {
                      tes = false;
                      label[i] = "flex-grow border border-coolGray-300";
                    }
                    console.log(tes);
                  }
                }
                e.labelTime = label;
                console.log(label);
                console.log(e);
              }
            });
            meta.isLoading = true;
            // document.getElementById("loading").remove();
            meta.data_timeline = e.data_act.timeline;
            console.log(meta.data_timeline.length);
            // console.log(e);
          }
        })
        .catch((e) => {
          console.log(e);
        });

      console.log("Akhir:");
      meta.actionstatus = {
        onChange: (e) => {
          runInAction(() => {
            meta.state.status = e.value;
            console.log(meta.state.status);
          });
        },
      };
      meta.actioncstatus = {
        onChange: (e) => {
          runInAction(() => {
            meta.state.cstatus = e.color;
            console.log(meta.state.cstatus);
          });
        },
      };
    }}
  />
  <div class="flex flex-col self-stretch space-y-6 p-10 w-auto">
    <div class="rounded">
      <div
        class="flex self-stretch items-center bg-white rounded-t border-b border-coolGray-300 px-8"
        style="height: 50px; min-height: 50px; max-height: 50px;"
      >
        <div class="flex space-x-2 items-center justify-center flex-grow">
          <div class="flex items-center justify-center">
            <div id="prev" onClick={meta.getPreviousMonth}>
              <img
                class="cursor-pointer"
                src="/fimgs/638_776.x3.png"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
            </div>
            <div class="flex flex-1 items-start justify-start">
              <div
                class="text-base font-medium tracking-wide leading-normal text-indigo-500"
                id="date"
              >
                {meta.selectedMonth}
              </div>
            </div>
            <div id="next" onClick={meta.getNextMonth}>
              <img
                class="cursor-pointer"
                src="/fimgs/638_779.x3.png"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="overflow-x-auto">
        <div class="align-middle inline-block min-w-full">
          <div class="overflow-hidden">
            <table class="min-w-full bg-white">
              <thead>
                <tr>
                  <td
                    rowSpan="2"
                    class="relative px-3 py-2 justify-center mr-auto border-r border-b border-coolGray-300"
                  >
                    <div class=" text-sm font-medium text-gray-500 text-center">
                      Project Name
                    </div>
                  </td>
                  <td
                    colSpan="4"
                    class="relative px-6 py-2 justify-center border-b border-coolGray-300"
                  >
                    <div class="text-sm font-medium text-coolGray-500 text-center">
                      Week
                    </div>
                  </td>
                </tr>
                <tr class="border-b border-coolGray-300">
                  <td class="relative px-6 py-2 text-sm justify-start border border-coolGray-300">
                    <div class="text-sm font-medium text-coolGray-500 text-center">
                      1
                    </div>
                  </td>
                  <td class="relative px-6 py-2 text-sm justify-start border border-coolGray-300">
                    <div class="text-sm font-medium text-coolGray-500 text-center">
                      2
                    </div>
                  </td>
                  <td class="relative px-6 py-2 text-sm justify-start border border-coolGray-300">
                    <div class="text-sm font-medium text-coolGray-500 text-center">
                      3
                    </div>
                  </td>
                  <td class="relative px-6 py-2 text-sm justify-start border border-coolGray-300">
                    <div class="text-sm font-medium text-coolGray-500 text-center">
                      4
                    </div>
                  </td>
                </tr>
              </thead>
              <tbody>
                {meta.isLoading ? (
                  <>
                    {meta.data_timeline.map((e) => {
                      return (
                        <tr class="border-b border-coolGray-300">
                          <td class="px-3 py-4 whitespace-normal text-left">
                            <div class="text-sm text-gray-900">{e.name}</div>
                          </td>
                          <td class={e.labelTime[1]}></td>
                          <td class={e.labelTime[2]}></td>
                          <td class={e.labelTime[3]}></td>
                          <td class={e.labelTime[4]}></td>
                        </tr>
                      );
                    })}
                  </>
                ) : (
                  <tr class="border-b border-coolGray-300">
                    <td
                      class="px-3 py-4 whitespace-normal text-left"
                      colSpan="5"
                    >
                      <div class="flex self-stretch flex-wrap items-center justify-center">
                        <div class="py-2 px-6 rounded-lg flex items-center flex-col">
                          <div
                            class="loader-dots block relative w-22 h-6 mt-2"
                            style="width: 5rem;"
                          >
                            <div
                              class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                              style="top: 0; width: 0.75rem; height: 0.75rem;"
                            ></div>
                            <div
                              class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                              style="top: 0; 	width: 0.75rem; height: 0.75rem;"
                            ></div>
                            <div
                              class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                              style="top: 0; 	width: 0.75rem; height: 0.75rem;"
                            ></div>
                            <div
                              class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                              style="top: 0; 	width: 0.75rem; height: 0.75rem;"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                )}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</>