<>
  <effect
    meta={{
      data_projek: "",
      member: "",
      name: "",
      team: "",
      show: {
        tim1: false,
        tim2: false,
      },
      add: { tekan: true },
      pilih: {
        showTATeam: true,
        showTTeam: false,
      },
      toggleTTeam() {
        this.showTTeam = !this.showTTeam;
      },
      togglePopup() {
        this.showPopup = !this.showPopup;
      },
    }}
    run={async () => {}}
  />
  <div class="flex flex-col self-stretch space-y-6 p-12 w-auto">
    <div class="flex flex-col space-y-8 items-end justify-start">
      <div class="flex flex-col items-start justify-start">
        <div class="flex space-x-1 items-center justify-center px-4 py-2 bg-indigo-500 rounded">
          <img
            src="/fimgs/603_427.x3.png"
            style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
          />
          <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
            New Team
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col items-start justify-center pl-6 pr-8 pt-8 pb-10 bg-white rounded">
        <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
          <div class="flex self-stretch items-start justify-start">
            <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch items-start justify-start">
                <div class="text-xl font-medium tracking-wide leading-loose text-coolGray-900">
                  Team List
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-base tracking-wide leading-normal text-coolGray-500">
                  4 Total Team
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
            <div class="flex self-stretch items-center justify-start px-6 py-3 bg-coolGray-50 rounded">
              <div class="flex flex-1 space-x-3 items-center justify-center">
                <div
                  class="flex flex-1 items-start justify-start cursor-pointer"
                  onClick={meta.toggleTTeam}
                >
                  <div class="text-base tracking-wide leading-normal text-coolGray-900">
                    Team 1
                  </div>
                </div>
                <div
                  class="flex items-start justify-start"
                  onClick={meta.togglePopup}
                >
                  <img
                    src="/fimgs/457_1759.x3.png"
                    class="cursor-pointer"
                    style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
                  />
                  {meta.showPopup && (
                    <div class="absolute">
                      <div
                        class="origin-top-right absolute w-48 right-0 rounded-md shadow-lg py-1 bg-white focus:outline-none"
                        style="margin-top: 20px;"
                      >
                        <div class="flex flex-col items-start justify-start py-4 bg-white rounded">
                          <div class="flex items-center justify-start py-2 pl-4 rounded-bl rounded-br">
                            <div class="flex flex-1 space-x-2 items-center justify-start">
                              <img
                                src="/fimgs/472_1431.x3.png"
                                style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
                              />
                              <div class="flex flex-1 items-start justify-start">
                                <div class="text-base tracking-wide leading-normal text-coolGray-500">
                                  Edit Team
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="flex items-center justify-start py-2 pl-4 rounded-bl rounded-br">
                            <div class="flex flex-1 space-x-2 items-center justify-start">
                              <img
                                src="/fimgs/472_1436.x3.png"
                                style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
                              />
                              <div class="flex flex-1 items-start justify-start">
                                <div class="text-base tracking-wide leading-normal text-coolGray-500">
                                  Delete
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  )}
                </div>
              </div>
            </div>
            {meta.showTTeam && (
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch flex-col items-start justify-start p-6 bg-coolGray-50 border rounded border-coolGray-300">
                  <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                    <div class="flex self-stretch space-x-2.5 items-center justify-start">
                      <div class="flex flex-1 items-start justify-start">
                        <div class="text-base tracking-wide leading-normal text-coolGray-500">
                          List Member
                        </div>
                      </div>
                      <div
                        class="flex flex-col items-start justify-start cursor-pointer"
                        onClick={meta.toggleTTeam}
                      >
                        <img
                          src="/fimgs/264_181.x3.png"
                          style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                        />
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col items-start justify-start py-6 pl-6 bg-coolGray-50 rounded">
                      <div class="flex self-stretch flex-col items-start justify-start">
                        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                          <div class="flex self-stretch items-center justify-start py-2 pr-4 rounded">
                            <div class="flex space-x-4 items-start justify-start">
                              <div class="flex items-start justify-start">
                                <img
                                  src="/fimgs/I448_1610_1448_4295.x3.png"
                                  class="rounded-full"
                                  style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
                                />
                              </div>
                              <div class="flex flex-col items-start justify-start">
                                <div class="flex self-stretch items-start justify-start">
                                  <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                                    Afif Hanifudin
                                  </div>
                                </div>
                                <div class="flex self-stretch items-start justify-start">
                                  <div class="text-xs tracking-wide leading-none text-coolGray-500">
                                    UIUX Designer
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="flex self-stretch items-center justify-start py-2 pr-4 rounded">
                            <div class="flex space-x-4 items-start justify-start">
                              <div class="flex items-start justify-start">
                                <img
                                  src="/fimgs/I448_1610_1448_4295.x3.png"
                                  class="rounded-full"
                                  style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
                                />
                              </div>
                              <div class="flex flex-col items-start justify-start">
                                <div class="flex self-stretch items-start justify-start">
                                  <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                                    Afif Hanifudin
                                  </div>
                                </div>
                                <div class="flex self-stretch items-start justify-start">
                                  <div class="text-xs tracking-wide leading-none text-coolGray-500">
                                    UIUX Designer
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="flex self-stretch items-center justify-start py-2 pr-4 rounded">
                            <div class="flex space-x-4 items-start justify-start">
                              <div class="flex items-start justify-start">
                                <img
                                  src="/fimgs/I448_1610_1448_4295.x3.png"
                                  class="rounded-full"
                                  style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
                                />
                              </div>
                              <div class="flex flex-col items-start justify-start">
                                <div class="flex self-stretch items-start justify-start">
                                  <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                                    Afif Hanifudin
                                  </div>
                                </div>
                                <div class="flex self-stretch items-start justify-start">
                                  <div class="text-xs tracking-wide leading-none text-coolGray-500">
                                    UIUX Designer
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="flex self-stretch items-center justify-start py-2 pr-4 rounded">
                            <div class="flex space-x-4 items-start justify-start">
                              <div class="flex items-start justify-start">
                                <img
                                  src="/fimgs/I448_1610_1448_4295.x3.png"
                                  class="rounded-full"
                                  style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
                                />
                              </div>
                              <div class="flex flex-col items-start justify-start">
                                <div class="flex self-stretch items-start justify-start">
                                  <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                                    Afif Hanifudin
                                  </div>
                                </div>
                                <div class="flex self-stretch items-start justify-start">
                                  <div class="text-xs tracking-wide leading-none text-coolGray-500">
                                    UIUX Designer
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            )}
            <div class="flex self-stretch items-center justify-start px-6 py-3 bg-coolGray-50 rounded">
              <div class="flex flex-1 space-x-3 items-center justify-center">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-base tracking-wide leading-normal text-coolGray-900">
                    Team 2
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <img
                    src="/fimgs/457_1759.x3.png"
                    style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
                  />
                </div>
              </div>
            </div>
            <div class="flex self-stretch items-center justify-start px-6 py-3 bg-coolGray-50 rounded">
              <div class="flex flex-1 space-x-3 items-center justify-center">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-base tracking-wide leading-normal text-coolGray-900">
                    Team 3
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <img
                    src="/fimgs/457_1759.x3.png"
                    style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
                  />
                </div>
              </div>
            </div>
            <div class="flex self-stretch items-center justify-start px-6 py-3 bg-coolGray-50 rounded">
              <div class="flex flex-1 space-x-3 items-center justify-center">
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-base tracking-wide leading-normal text-coolGray-900">
                    Team 4
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <img
                    src="/fimgs/457_1759.x3.png"
                    style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>