<>
  <effect
    meta={{
      data_projek: "",
      member: "",
      name: "",
      filled() {
        this.isFilled = !this.isFilled;
        this.showModal = !this.showModal;
      },
      toggleModal() {
        this.showModal = !this.showModal;
      },
      toggleModal2() {
        this.showModal2 = !this.showModal2;
      },
      ubahNilai(e) {
        let name = e.target.name;
        let nilai = e.target.value;
        this.state[name] = nilai;
        // console.log(nilai);
      },
      pm: [
        { value: "1", label: "Salmonela" },
        { value: "2", label: "Ecolia" },
        { value: "3", label: "Bacteria" },
      ],
      styles: {
        control: (base, state) => ({
          ...base,
          paddingTop: "5px",
          paddingBottom: "5px",
          boxShadow: "none",
          border: state.isFocused ? "1px solid #818CF8" : "1px solid #D1D5DB",
          "&:hover": {
            border: state.isFocused ? "1px solid #818CF8" : "1px solid #D1D5DB",
          },
        }),
        option: (styles, state) => ({
          ...styles,
          "&:hover": {
            backgroundColor: state.isDisabled
              ? "#F3F4F6"
              : state.isSelected
              ? null
              : "#F3F4F6",
          },
        }),
      },
    }}
    run={async () => {}}
  />
  {meta.isFilled ? (
    <>
      <div class="flex flex-col self-stretch space-y-8 p-10 w-auto">
        <div class="flex flex-col items-end justify-end">
          <button
            onClick={meta.toggleModal}
            class="flex space-x-1 items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded"
            style="width: 220px; min-width: 220px; max-width: 220px; height: 40px; min-height: 40px; max-height: 40px;"
          >
            <img
              src="/fimgs/603_427.x3.png"
              style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
            />
            <div class="text-base font-medium tracking-wide leading-normal text-right text-white pl-1">
              Add Project Manager
            </div>
          </button>
        </div>
        <div class="overflow-x-auto">
          <div class="align-middle inline-block min-w-full">
            <div class="overflow-hidden">
              <table class="min-w-full divide-y-4 divide-gray-50">
                <thead class="bg-white">
                  <tr>
                    <th
                      scope="col"
                      class="relative px-6 py-3 text-sm text-left justify-start"
                    >
                      <div class=" text-sm font-medium text-coolGray-500 text-start ">
                        Project Manager Name
                      </div>
                    </th>
                    <th
                      scope="col"
                      class="relative px-6 py-3 text-sm text-left justify-start"
                    >
                      <div class=" text-sm font-medium text-coolGray-500 text-start ">
                        Total Teams
                      </div>
                    </th>
                    <th
                      scope="col"
                      class="relative px-6 py-3 text-sm text-left justify-start"
                    >
                      <div class=" text-sm font-medium text-coolGray-500 text-start ">
                        Action
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y-4 divide-gray-50">
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-start">
                      <div class="text-sm text-gray-900">Zwei Algebra</div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-start">
                      <div class="text-sm text-gray-900">8 Teams</div>
                    </td>
                    <td class="px-6 py-2 whitespace-nowrap text-start">
                      <div class="flex flex-1 space-x-4 items-start justify-start">
                        <div class="cursor-pointer">
                          <button onClick={meta.toggleModal2}>
                            <img
                              style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
                              src="/fimgs/295_279.x3.png"
                            />
                          </button>
                        </div>
                        <div class="cursor-pointer">
                          <button>
                            <img
                              style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
                              src="/fimgs/295_281.x3.png"
                            />
                          </button>
                        </div>
                        <div class="cursor-pointer">
                          <img
                            src="/fimgs/678_632.x3.png"
                            class="flex items-center justify-center"
                            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
                          />
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-start">
                      <div class="text-sm text-gray-900">Samuel Salmonela</div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-start">
                      <div class="text-sm text-gray-900">8 Teams</div>
                    </td>
                    <td class="px-6 py-2 whitespace-nowrap text-start">
                      <div class="flex flex-1 space-x-4 items-start justify-start">
                        <div class="cursor-pointer">
                          <button onClick={meta.toggleModal2}>
                            <img
                              style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
                              src="/fimgs/295_279.x3.png"
                            />
                          </button>
                        </div>
                        <div class="cursor-pointer">
                          <button>
                            <img
                              style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
                              src="/fimgs/295_281.x3.png"
                            />
                          </button>
                        </div>
                        <div class="cursor-pointer">
                          <img
                            src="/fimgs/678_632.x3.png"
                            class="flex items-center justify-center"
                            style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
                          />
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </>
  ) : (
    <div class="flex flex-1 self-stretch flex-col items-center justify-center">
      <div class="flex flex-col space-y-6 items-center justify-center">
        <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
          Project Manager is still empty
        </div>
        <button
          onClick={meta.toggleModal}
          class="flex space-x-1 items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded"
          style="width: 220px; min-width: 220px; max-width: 220px; height: 40px; min-height: 40px; max-height: 40px;"
        >
          <img
            src="/fimgs/603_427.x3.png"
            style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
          />
          <div class="text-base font-medium tracking-wide leading-normal text-right text-white pl-1">
            Add Project Manager
          </div>
        </button>
      </div>
    </div>
  )}
  {meta.showModal ? (
    <>
      <div class="flex justify-center items-center overflow-ellipsis fixed inset-0 z-50 outline-none focus:outline-none">
        <div
          class="relative w-auto mx-auto max-w-3xl"
          style="min-width: 480px; width: 480px;"
        >
          {/*content*/}
          <div class="border-0 rounded shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            {/*body*/}
            <div class="border-0 rounded flex flex-col items-start justify-start relative overflow-ellipsis bg-gray-50">
              <div class="border-0 rounded-t flex self-stretch flex-col px-7 py-4 items-start justify-start bg-white shadow">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-center justify-between">
                    <div class="flex items-start justify-start pl-28">
                      <div class="text-xl font-medium tracking-wide leading-loose text-center text-coolGray-900">
                        Add Project Manager
                      </div>
                    </div>
                    <form onSubmit={meta.toggleModal}>
                      <button class="flex flex-col items-start justify-start">
                        <img
                          src="/fimgs/517_574.x1.svg"
                          style="width: 24px; min-width: 24px; max-width: 24px; height: 30px; min-height: 30px; max-height: 30px;"
                        />
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="flex flex-1 self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch flex-col space-y-8 items-start justify-start p-8">
                  <div class="flex self-stretch flex-col space-y-2.5 items-start justify-center">
                    <div class="flex self-stretch items-start justify-start">
                      <div class="text-sm tracking-wide leading-none text-center text-gray-500">
                        Project Manager Name
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-start">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          id="name"
                          name="name"
                          onChange={meta.ubahNilai}
                          type="text"
                          placeholder=""
                          class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>
                  </div>
                  <button
                    type="submit"
                    class="flex flex-1 self-stretch flex-col items-start justify-start"
                    onClick={meta.filled}
                  >
                    <div class="flex self-stretch items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded">
                      <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                        Save
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div className="opacity-25 fixed inset-0 z-40 bg-black"></div>
    </>
  ) : null}
  {meta.showModal2 ? (
    <>
      <div class="flex justify-center items-center overflow-ellipsis fixed inset-0 z-50 outline-none focus:outline-none">
        <div
          class="relative w-auto mx-auto max-w-3xl"
          style="min-width: 480px; width: 480px;"
        >
          {/*content*/}
          <div class="border-0 rounded shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            {/*body*/}
            <div class="border-0 rounded flex flex-col items-start justify-start relative overflow-ellipsis bg-gray-50">
              <div class="border-0 rounded-t flex self-stretch flex-col px-7 py-4 items-start justify-start bg-white shadow">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-center justify-between">
                    <div class="flex items-start justify-start pl-24">
                      <div class="text-xl font-medium tracking-wide leading-loose text-center text-coolGray-900">
                        Change Project Manager
                      </div>
                    </div>
                    <form onSubmit={meta.toggleModal2}>
                      <button class="flex flex-col items-start justify-start">
                        <img
                          src="/fimgs/517_574.x1.svg"
                          style="width: 24px; min-width: 24px; max-width: 24px; height: 30px; min-height: 30px; max-height: 30px;"
                        />
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="flex flex-1 self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch flex-col space-y-8 items-start justify-start p-8">
                  <div class="flex self-stretch flex-col space-y-2.5 items-start justify-center">
                    <div class="flex self-stretch items-start justify-start">
                      <div class="text-sm tracking-wide leading-none text-center text-gray-500">
                        Project Manager Name
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-start pb-2">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          id="name"
                          name="name"
                          onChange={meta.ubahNilai}
                          type="text"
                          placeholder=""
                          class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>
                    <div class="flex self-stretch items-start justify-start">
                      <div class="text-sm tracking-wide leading-none text-center text-gray-500">
                        Replaced By
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-start">
                      <div class="relative flex flex-1 items-center justify-start">
                        <multipleselect
                          options={meta.pm}
                          defaultValue={meta.pm[0]}
                          theme={(theme) => ({
                            ...theme,
                            colors: {
                              ...theme.colors,
                              primary25: "#F3F4F6",
                              primary: "#6366F1",
                            },
                          })}
                          styles={meta.styles}
                          className="w-full"
                          classNamePrefix="select"
                          name="gender"
                        />
                      </div>
                    </div>
                  </div>
                  <button
                    type="submit"
                    class="flex flex-1 self-stretch flex-col items-start justify-start"
                    onClick={meta.toggleModal2}
                  >
                    <div class="flex self-stretch items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded">
                      <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                        Save
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div className="opacity-25 fixed inset-0 z-40 bg-black"></div>
    </>
  ) : null}
</>