<>
  <effect
    meta={{
      toggleProfile() {
        this.showProfile = !this.showProfile;
      },
      data_projek: [],
      dept1: [],
      dept2: [],
      role: [],
      employee: [
        { value: "0", label: "All Employee" },
        { value: "1", label: "UI/UX Designer" },
        { value: "2", label: "Business Analyst" },
        { value: "3", label: "Full Stack Developer" },
      ],
      data_emp: [],
      state: {
        email: "",
        nik: "",
        password: "",
        userrole: "",
        fullname: "",
        birthplace: "",
        birthdate: "",
        division: "",
        phone: "",
        address: "",
      },
      state0: {
        email: "",
        nik: "",
        password: "",
        userrole: "",
        fullname: "",
        birthplace: "",
        birthdate: "",
        division: "",
        phone: "",
        address: "",
      },
      page: {
        next: 0,
        data: [],
        prev: 0,
      },
      isFilled: true,
      styles: {
        control: (base, state) => ({
          ...base,
          paddingTop: "5px",
          paddingBottom: "5px",
          boxShadow: "none",
          border: state.isFocused ? "1px solid #818CF8" : "1px solid #D1D5DB",
          "&:hover": {
            border: state.isFocused ? "1px solid #818CF8" : "1px solid #D1D5DB",
          },
        }),
        option: (styles, state) => ({
          ...styles,
          "&:hover": {
            backgroundColor: state.isDisabled
              ? "#F3F4F6"
              : state.isSelected
              ? null
              : "#F3F4F6",
          },
        }),
      },
      stylesx: {
        control: (base, state) => ({
          ...base,
          paddingTop: "5px",
          paddingBottom: "5px",
          border: "none",
          boxShadow: "none",
          backgroundColor: "transparent",
        }),
        option: (styles, state) => ({
          ...styles,
          "&:hover": {
            backgroundColor: state.isDisabled
              ? "#F3F4F6"
              : state.isSelected
              ? null
              : "#F3F4F6",
          },
        }),
      },
      filled() {
        this.isFilled = this.isFilled;
        this.showModal = !this.showModal;
      },
      toggleModal() {
        this.showModal = !this.showModal;
      },
      toggleModalE() {
        this.showModalE = !this.showModalE;
      },
      showDetail(idemployee) {
        api("/api/employee/show", {
          id: idemployee,
        }).then((e) => {
          if (e.status == true) {
            this.state0.email = e.data_act.muser.email;
          }
          console.log(e);
        });
      },
      toggleModalD() {
        this.showModalD = !this.showModalD;
      },
      toggleDrop() {
        this.showDrop = !this.showDrop;
      },
      ubahNilai(e) {
        let name = e.target.name;
        let nilai = e.target.value;
        this.state[name] = nilai;
      },
      dataUser(e) {
        let userDetail = [];
        api("/api/role").then((i) => {
          i.data_act.map((res, index) => {
            i.data_act[index] = { value: res.id, label: res.name };
            userDetail.push(i.data_act[index]);
          });
        });
        return userDetail;
      },
      submitData(event) {
        let dataku = {
          email: this.state.email,
          nik: this.state.nik,
          password: this.state.password,
          userrole: this.state.userrole,
          fullname: this.state.fullname,
          birthplace: this.state.birthplace,
          birthdate: this.state.birthdate,
          iddivision: this.state.division,
          phone: this.state.phone,
          address: this.state.address,
        };
        api("/api/employee/create", {
          data: dataku,
        }).then((e) => {
          if (e.status == false) {
            console.log(e);
            // this.isFilled = this.isFilled;
            // this.showModal = !this.showModal;
          } else {
            console.log(e);
            api("/api/employee").then((e) => {
              console.log(e);
              this.data_projek = e.data_act;
              this.showModal = !this.showModal;
            });
          }
        });
        event.preventDefault();
      },
      dataProjek() {
        let result = [];
        api("/api/employee").then((e) => {
          result["result"] = e;
        });
        return result;
      },
      getDivision(event) {
        this.state.division = "";
        this.dept2 = [];
        api("/api/division", {
          data: {
            iddepartment: event.value,
          },
        }).then((e) => {
          console.log(e);
          if (e.status == true) {
            e.data_act.map((e1) => {
              this.dept2.push({ value: e1.id, label: e1.name });
            });
          }
        });
        console.log(event.value);
      },
      getSelectedValue(event, name) {
        this.state[name] = event.value;
      },
      pageNavigation(event, page) {
        console.clear();
        page--;
        var nskip = page * 10;
        // var nskip = page * 10;
        console.log(nskip);
        api("/api/employee", {
          data: {
            skip: nskip,
            take: 10,
          },
        }).then((e) => {
          console.log(e);
          this.data_projek = e.data_act;
        });
      },
    }}
    run={async () => {
      // Department
      api("/api/department").then((e) => {
        if (e.status == true) {
          e.data_act.map((e1) => {
            meta.dept1.push({ value: e1.id, label: e1.name });
          });
        }
        console.log(e);
      });
      // role
      api("/api/role").then((e) => {
        if (e.status == true) {
          e.data_act.map((e1) => {
            meta.role.push({ value: e1.id, label: e1.name });
          });
        }
        // console.log(e);
      });
      var data_i = meta.dataProjek();
      api("/api/employee").then((e) => {
        console.log(e);
        meta.data_projek = e.data_act;
        if (e.status == true) {
          var ndata = e.nData;
          var npage = Math.floor(ndata / 10);
          if (ndata % 2) {
            npage++;
          }
          if (npage > 5) {
            npage = 5;
          }
          for (let step = 1; step <= npage; step++) {
            meta.page.data.push(step);
            if (step > 1) {
              meta.page.next = 2;
              meta.page.prev = 1;
            }
            // Runs 5 times, with values of step 0 through 4.
            // console.log("Walking east one step");
          }
          // console.log(npage);
        }
      });
      meta.actiongender = {
        onChange: (e) => {
          runInAction(() => {
            meta.state.gender = e.value;
            console.log(meta.state.gender);
          });
        },
      };
      meta.actionrole = {
        onChange: (e) => {
          runInAction(() => {
            meta.state.userrole = e.value;
            console.log(meta.state.userrole);
          });
        },
      };
    }}
  />
  {meta.isFilled ? (
    <>
      <div class="flex flex-col self-stretch space-y-8 p-10 w-auto">
        <div class="flex flex-col items-end justify-end">
          <button
            onClick={meta.toggleModal}
            class="flex space-x-1 items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded"
          >
            <img
              src="/fimgs/603_427.x3.png"
              style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
            />
            <div class="text-base font-medium tracking-wide leading-normal text-right text-white pl-1">
              New Employee
            </div>
          </button>
        </div>

        <div class="border rounded border-coolGray-300">
          <div class="flex self-stretch items-center justify-between bg-white rounded-t">
            <div class="text-sm font-medium tracking-wide leading-tight text-center text-coolGray-900 rounded-l border-r border-coolGray-300">
              <div class="flex items-center justify-center">
                <multipleselect
                  options={meta.employee}
                  defaultValue={meta.employee[0]}
                  menuPortalTarget={document.body}
                  theme={(theme) => ({
                    ...theme,
                    borderRadius: 0,
                    colors: {
                      ...theme.colors,
                      primary25: "#F3F4F6",
                      primary: "#6366F1",
                    },
                  })}
                  styles={meta.stylesx}
                  className="w-52"
                  classNamePrefix="select"
                  name="status"
                />
              </div>
            </div>
            <div class="flex items-start justify-start">
              <div />
            </div>
          </div>
          <div class="overflow-x-auto">
            <div class="p-6 align-middle inline-block min-w-full">
              <div class="overflow-hidden">
                <table class="min-w-full divide-y-4 divide-gray-50">
                  <thead class="bg-white">
                    <tr>
                      <th
                        scope="col"
                        class="px-6 py-3 tracking-wider text-left justify-center w-1/12"
                      >
                        <div class=" text-sm font-medium text-gray-500 text-start">
                          ID
                        </div>
                      </th>
                      <th
                        scope="col"
                        class="relative px-6 py-3 text-sm text-left justify-start"
                      >
                        <div class="text-sm font-medium text-coolGray-500 text-start">
                          Name
                        </div>
                      </th>
                      <th
                        scope="col"
                        class="relative px-6 py-3 text-sm text-left justify-start"
                      >
                        <div class="text-sm font-medium text-coolGray-500 text-start">
                          Departement
                        </div>
                      </th>
                      <th
                        scope="col"
                        class="relative px-6 py-3 text-sm text-left justify-start"
                      >
                        <div class="text-sm font-medium text-coolGray-500 text-start">
                          Phone
                        </div>
                      </th>
                      <th
                        scope="col"
                        class="relative px-6 py-3 text-sm text-left justify-start"
                      >
                        <div class="text-sm font-medium text-coolGray-500 text-start">
                          Address
                        </div>
                      </th>
                      <th
                        scope="col"
                        class="relative px-6 py-3 text-sm text-left justify-start"
                      >
                        <div class="text-sm font-medium text-coolGray-500 text-start">
                          Action
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y-4 divide-gray-50">
                    {Object.keys(meta.data_projek).map((e, idx) => {
                      return (
                        <tr>
                          <td class="px-6 py-4 whitespace-nowrap text-start">
                            <div class="text-sm text-gray-900">{idx + 1}</div>
                          </td>
                          <td class="px-6 py-4 whitespace-nowrap text-start">
                            <div class="text-sm text-gray-900">
                              {meta.data_projek[e].email}
                            </div>
                          </td>
                          <td class="px-6 py-4 whitespace-nowrap text-start">
                            <div class="text-sm text-gray-900">
                              UI/UX Designer
                            </div>
                          </td>
                          <td class="px-6 py-4 whitespace-nowrap text-start">
                            <div class="text-sm text-gray-900">phone</div>
                          </td>
                          <td class="px-6 py-4 whitespace-nowrap text-start">
                            <div class="text-sm text-gray-900">
                              {meta.data_projek[e].muser_role.name}
                            </div>
                          </td>
                          <td class="px-6 py-2 whitespace-nowrap text-center text-sm font-medium">
                            <div class="flex flex-1 space-x-4 items-start justify-start">
                              <div class="cursor-pointer">
                                <button onClick={meta.toggleModalE}>
                                  <img
                                    style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
                                    src="/fimgs/295_279.x3.png"
                                  />
                                </button>
                              </div>
                              <div class="cursor-pointer">
                                <button onClick={meta.toggleModalD}>
                                  <img
                                    style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
                                    src="/fimgs/295_281.x3.png"
                                  />
                                </button>
                              </div>
                              <div class="cursor-pointer">
                                <img
                                  src="/fimgs/678_632.x3.png"
                                  class="flex items-center justify-center"
                                  style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
                                />
                              </div>
                            </div>
                          </td>
                        </tr>
                      );
                    })}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="flex space-x-6 items-start justify-start px-6 pb-6">
            <div class="flex flex-1 space-x-4 items-start justify-start">
              <button class="flex flex-col items-center justify-center px-4 py-2 border rounded border-indigo-500 hover:bg-white">
                <div class="text-sm tracking-wide leading-tight text-indigo-500">
                  Previously
                </div>
              </button>
              {meta.page.data.map((e) => {
                return (
                  <button
                    onClick={(event) => {
                      meta.pageNavigation(event, e);
                    }}
                    class="flex flex-col items-center justify-center px-4 py-2 bg-white rounded border border-coolGray-300 text-coolGray-500 hover:bg-indigo-500 hover:border-indigo-500 hover:text-white"
                  >
                    <div class="text-sm tracking-wide leading-tight">{e}</div>
                  </button>
                );
              })}
              <div class="flex flex-col items-center justify-center px-4 py-2 bg-indigo-500 border-indigo-500 rounded hover:bg-indigo-700 hover:border-indigo-700">
                <div class="text-sm tracking-wide leading-tight text-white">
                  Next
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </>
  ) : (
    <div class="flex flex-1 self-stretch flex-col items-center justify-center">
      <div class="flex flex-col space-y-6 items-center justify-center">
        <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
          Employee is still empty
        </div>
        <button
          onClick={meta.toggleModal}
          class="flex space-x-1 items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded"
        >
          <img
            src="/fimgs/603_427.x3.png"
            style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
          />
          <div class="text-base font-medium tracking-wide leading-normal text-right text-white pl-1">
            New Employee
          </div>
        </button>
      </div>
    </div>
  )}
  {meta.showModalE ? (
    <>
      <div class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed">
        <div
          class="z-50 relative p-3 mx-auto my-0 max-w-full"
          style="min-width: 640px; width: 640px;"
        >
          <div class="relative w-auto mx-auto z-50 my-0 max-w-full">
            {/*content*/}
            <div class="border-0 rounded shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
              {/*body*/}
              <div class="border-0 rounded flex flex-col items-start justify-start relative overflow-ellipsis bg-gray-50">
                <div class="border-0 rounded-t flex self-stretch flex-col px-7 py-4 items-start justify-start bg-white shadow">
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch items-center justify-between">
                      <div class="flex items-start justify-start pl-52">
                        <div class="text-xl font-medium tracking-wide leading-loose text-center text-coolGray-900">
                          Edit Employee
                        </div>
                      </div>
                      <form onSubmit={meta.toggleModalE}>
                        <button class="flex flex-col items-start justify-start">
                          <img
                            src="/fimgs/517_574.x1.svg"
                            style="width: 24px; min-width: 24px; max-width: 24px; height: 30px; min-height: 30px; max-height: 30px;"
                          />
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-8 items-start justify-start p-8">
                  <div class="flex self-stretch flex-col space-y-2.5 items-start justify-center">
                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      Full Name
                    </div>
                    <div class="flex self-stretch items-center justify-start pb-2">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          id="name"
                          name="fullname"
                          onChange={meta.ubahNilai}
                          type="text"
                          placeholder=""
                          class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>
                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      NIK
                    </div>
                    <div class="flex self-stretch items-center justify-start pb-2">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          id="name"
                          name="nik"
                          onChange={meta.ubahNilai}
                          type="text"
                          placeholder=""
                          class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>
                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      Place and Date of Birth
                    </div>
                    <div class="flex flex-1 w-full space-x-4 items-center">
                      <div class="flex self-stretch w-1/2 flex-col space-y-2.5 items-start justify-center">
                        <div class="flex self-stretch items-center justify-start pb-2">
                          <div class="relative flex flex-1 items-center justify-start">
                            <input
                              id="name"
                              name="birthplace"
                              onChange={meta.ubahNilai}
                              type="text"
                              placeholder=""
                              class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                            />
                          </div>
                        </div>
                      </div>
                      <div>,</div>
                      <div class="flex self-stretch w-1/2 flex-col space-y-2.5 items-start justify-center">
                        <div class="flex self-stretch items-center justify-start pb-2">
                          <div class="relative flex flex-1 items-center justify-start">
                            <input
                              id="name"
                              name="birthdate"
                              onChange={meta.ubahNilai}
                              type="date"
                              placeholder=""
                              class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      Departement
                    </div>
                    <div class="flex flex-1 w-full space-x-6 items-center">
                      <div class="flex self-stretch w-1/2 flex-col space-y-2.5 items-start justify-center">
                        <div class="flex self-stretch items-center justify-start pb-2">
                          <div class="relative flex flex-1 items-center justify-start">
                            <multipleselect
                              options={meta.dept1}
                              defaultValue={meta.dept1[0]}
                              theme={(theme) => ({
                                ...theme,
                                colors: {
                                  ...theme.colors,
                                  primary25: "#F3F4F6",
                                  primary: "#6366F1",
                                },
                              })}
                              styles={meta.styles}
                              className="w-full"
                              classNamePrefix="select"
                              name="departement"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="flex self-stretch w-1/2 flex-col space-y-2.5 items-start justify-center">
                        <div class="flex self-stretch items-center justify-start pb-2">
                          <div class="relative flex flex-1 items-center justify-start">
                            <multipleselect
                              options={meta.dept2}
                              defaultValue={meta.dept2[0]}
                              theme={(theme) => ({
                                ...theme,
                                colors: {
                                  ...theme.colors,
                                  primary25: "#F3F4F6",
                                  primary: "#6366F1",
                                },
                              })}
                              styles={meta.styles}
                              className="w-full"
                              classNamePrefix="select"
                              name="departement"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      Phone
                    </div>
                    <div class="flex self-stretch items-center justify-start pb-2">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          id="name"
                          name="phone"
                          onChange={meta.ubahNilai}
                          type="text"
                          placeholder=""
                          class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>
                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      Email
                    </div>
                    <div class="flex self-stretch items-center justify-start pb-2">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          id="name"
                          name="email"
                          onChange={meta.ubahNilai}
                          type="email"
                          placeholder=""
                          class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>
                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      Address
                    </div>
                    <div class="flex self-stretch items-center justify-start">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          id="name"
                          name="address"
                          onChange={meta.ubahNilai}
                          type="address"
                          placeholder=""
                          required
                          class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>
                  </div>
                  <form
                    class="flex flex-1 self-stretch flex-col items-start justify-start"
                    onSubmit={meta.submitData}
                  >
                    <button
                      type="submit"
                      class="flex flex-1 self-stretch flex-col items-start justify-start"
                    >
                      <div class="flex self-stretch items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded">
                        <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                          Save
                        </div>
                      </div>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div className="opacity-25 fixed inset-0 z-40 bg-black"></div>
      </div>
    </>
  ) : null}
  {meta.showModal ? (
    <>
      <div class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed">
        <div
          class="z-50 relative p-3 mx-auto my-0 max-w-full"
          style="min-width: 640px; width: 640px;"
        >
          <div class="relative w-auto mx-auto z-50 my-0 max-w-full">
            {/*content*/}
            <div class="border-0 rounded shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
              {/*body*/}
              <div class="border-0 rounded flex flex-col items-start justify-start relative overflow-ellipsis bg-gray-50">
                <div class="border-0 rounded-t flex self-stretch flex-col px-7 py-4 items-start justify-start bg-white shadow">
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch items-center justify-between">
                      <div class="flex items-start justify-start pl-48">
                        <div class="text-xl font-medium tracking-wide leading-loose text-center text-coolGray-900">
                          Add New Employee
                        </div>
                      </div>
                      <form onSubmit={meta.toggleModal}>
                        <button class="flex flex-col items-start justify-start">
                          <img
                            src="/fimgs/517_574.x1.svg"
                            style="width: 24px; min-width: 24px; max-width: 24px; height: 30px; min-height: 30px; max-height: 30px;"
                          />
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-8 items-start justify-start p-8">
                  <div class="flex self-stretch flex-col space-y-2.5 items-start justify-center">
                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      Full Name
                    </div>
                    <div class="flex self-stretch items-center justify-start pb-2">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          id="name"
                          name="fullname"
                          onChange={meta.ubahNilai}
                          type="text"
                          placeholder=""
                          class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>
                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      NIK
                    </div>
                    <div class="flex self-stretch items-center justify-start pb-2">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          id="name"
                          name="nik"
                          onChange={meta.ubahNilai}
                          type="text"
                          placeholder=""
                          class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>
                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      Place and Date of Birth
                    </div>
                    <div class="flex flex-1 w-full space-x-4 items-center">
                      <div class="flex self-stretch w-1/2 flex-col space-y-2.5 items-start justify-center">
                        <div class="flex self-stretch items-center justify-start pb-2">
                          <div class="relative flex flex-1 items-center justify-start">
                            <input
                              id="name"
                              name="birthplace"
                              onChange={meta.ubahNilai}
                              type="text"
                              placeholder=""
                              class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                            />
                          </div>
                        </div>
                      </div>
                      <div>,</div>
                      <div class="flex self-stretch w-1/2 flex-col space-y-2.5 items-start justify-center">
                        <div class="flex self-stretch items-center justify-start pb-2">
                          <div class="relative flex flex-1 items-center justify-start">
                            <input
                              id="name"
                              name="birthdate"
                              onChange={meta.ubahNilai}
                              type="date"
                              placeholder=""
                              class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      Departement
                    </div>
                    <div class="flex flex-1 w-full space-x-6 items-center">
                      <div class="flex self-stretch w-1/2 flex-col space-y-2.5 items-start justify-center">
                        <div class="flex self-stretch items-center justify-start pb-2">
                          <div class="relative flex flex-1 items-center justify-start">
                            <multipleselect
                              options={meta.dept1}
                              defaultValue={meta.dept1[0]}
                              onChange={meta.getDivision}
                              theme={(theme) => ({
                                ...theme,
                                colors: {
                                  ...theme.colors,
                                  primary25: "#F3F4F6",
                                  primary: "#6366F1",
                                },
                              })}
                              styles={meta.styles}
                              className="w-full"
                              classNamePrefix="select"
                              name="departement"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="flex self-stretch w-1/2 flex-col space-y-2.5 items-start justify-center">
                        <div class="flex self-stretch items-center justify-start pb-2">
                          <div class="relative flex flex-1 items-center justify-start">
                            <multipleselect
                              options={meta.dept2}
                              defaultValue={meta.dept2[0]}
                              theme={(theme) => ({
                                ...theme,
                                colors: {
                                  ...theme.colors,
                                  primary25: "#F3F4F6",
                                  primary: "#6366F1",
                                },
                              })}
                              onChange={(e) => {
                                meta.getSelectedValue(e, "division");
                              }}
                              styles={meta.styles}
                              className="w-full"
                              classNamePrefix="select"
                              // name="division"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      Phone
                    </div>
                    <div class="flex self-stretch items-center justify-start pb-2">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          id="name"
                          name="phone"
                          onChange={meta.ubahNilai}
                          type="text"
                          placeholder=""
                          class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>

                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      Address
                    </div>
                    <div class="flex self-stretch items-center justify-start">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          id="name"
                          name="address"
                          onChange={meta.ubahNilai}
                          type="address"
                          placeholder=""
                          required
                          class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>
                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      Role
                    </div>
                    <div class="flex self-stretch items-center justify-start pb-2">
                      <div class="relative flex flex-1 items-center justify-start">
                        <multipleselect
                          options={meta.role}
                          defaultValue={meta.role[0]}
                          theme={(theme) => ({
                            ...theme,
                            colors: {
                              ...theme.colors,
                              primary25: "#F3F4F6",
                              primary: "#6366F1",
                            },
                          })}
                          onChange={(e) => {
                            meta.getSelectedValue(e, "userrole");
                          }}
                          styles={meta.styles}
                          className="w-full"
                          classNamePrefix="select"
                        />
                      </div>
                    </div>
                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      Email
                    </div>
                    <div class="flex self-stretch items-center justify-start pb-2">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          id="name"
                          name="email"
                          onChange={meta.ubahNilai}
                          type="email"
                          placeholder=""
                          class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>
                    <div class="text-sm tracking-wide leading-none text-gray-500">
                      Password
                    </div>
                    <div class="flex self-stretch items-center justify-start pb-2">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          name="password"
                          onChange={meta.ubahNilai}
                          type="text"
                          placeholder=""
                          class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>
                  </div>
                  <form
                    class="flex flex-1 self-stretch flex-col items-start justify-start"
                    onSubmit={meta.submitData}
                  >
                    <button
                      type="submit"
                      class="flex flex-1 self-stretch flex-col items-start justify-start"
                    >
                      <div class="flex self-stretch items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded">
                        <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                          Save
                        </div>
                      </div>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div className="opacity-25 fixed inset-0 z-40 bg-black"></div>
      </div>
    </>
  ) : null}
  {meta.showModalD ? (
    <>
      <div class="flex justify-center items-center overflow-ellipsis fixed inset-0 z-50 outline-none focus:outline-none">
        <div
          class="relative w-auto mx-auto max-w-3xl"
          style="min-width: 325px; width: 325px;"
        >
          {/*content*/}
          <div class="border-0 rounded shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            {/*body*/}
            <div class="flex w-full flex-col items-start justify-start p-4 space-y-6 bg-white rounded">
              <div class="flex w-full space-x-4 items-start justify-start">
                <div>
                  <img
                    style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
                    src="/fimgs/295_281.x3.png"
                  />
                </div>
                <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                      Delete Employee
                    </div>
                  </div>
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-sm tracking-wide leading-tight">
                      Are you sure to delete{" "}
                      <small class="text-sm font-medium">
                        "Bambang Pinang"?
                      </small>{" "}
                      You can’t undo this action
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex w-full space-x-6 items-start justify-end">
                <div class="flex items-start justify-end">
                  <div class="flex items-start justify-end px-4 py-2 rounded">
                    <div class="text-base font-medium tracking-wide leading-normal text-center text-coolGray-500">
                      <button onClick={meta.toggleModalD}>Cancel</button>
                    </div>
                  </div>
                </div>
                <div class="flex items-start justify-end bg-red-500 rounded">
                  <div class="flex items-start justify-end px-4 py-2 rounded">
                    <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                      Delete
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div className="opacity-25 fixed inset-0 z-40 bg-black"></div>
    </>
  ) : null}
</>