<>
  <effect
    meta={{
      data_projek: "",
      member: "",
      name: "",
      team: "",

      dataUser(e) {
        let userDetail = [];
        api("/api/user").then((i) => {
          i.data_act.map((res, index) => {
            i.data_act[index] = { value: res.id, label: res.email };
            userDetail.push(i.data_act[index]);
          });
        });
        return userDetail;
      },
      dataTeam(e) {
        let result = [];
        api("/api/team").then((i) => {
          i.data_act.map((res, index) => {
            i.data_act[index] = { value: res.id, label: res.name };
            result.push(i.data_act[index]);
          });
        });
        return result;
      },
      dataProjek() {
        let result = [];
        api("/api/project").then((e) => {
          result["result"] = e;
        });
        return result;
      },
      submitData(event) {
        api("/api/project/create", {
          data: {
            name: this.state2.title,
            desc: this.state2.desc,
            member: this.member,
            team: this.team,
          },
        }).then((e) => {
          console.log(e);
        });
        event.preventDefault();
      },
    }}
    run={async () => {
      var data_i = meta.dataProjek();
      api("/api/project").then((e) => {
        meta.data_projek = data_i.result.data_act;
      });
      console.log(data_i.iresult);
      meta.actionmember = {
        onChange: (e) => {
          runInAction(() => {
            meta.member = e.map((x) => x.value);
            meta.team = 0;
          });
        },
      };
      meta.actionteam = {
        onChange: (e) => {
          runInAction(() => {
            meta.team = e.value;
            meta.member = [];
          });
        },
      };
    }}
  />
  <div class="flex flex-col self-stretch space-y-10 p-12 w-auto">
    <div class="flex self-stretch w-full space-x-8 items-start justify-start">
      <div
        class="flex flex-1 flex-grow space-x-3 items-start justify-start py-4 pl-4 bg-white rounded"
        style="height: 107px; min-height: 107px; max-height: 107px;"
      >
        <img
          src="/fimgs/609_829.x3.png"
          class="flex items-center justify-center p-1.5 bg-blue-700 rounded-full"
          style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
        />
        <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
          <div class="flex self-stretch items-start justify-start mr-6">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              New Project
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start">
            <div class="text-4xl font-semibold tracking-wide leading-10 text-coolGray-900">
              25
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-1 flex-grow space-x-3 items-start justify-start py-4 pl-4 bg-white rounded"
        style="height: 107px; min-height: 107px; max-height: 107px;"
      >
        <img
          src="/fimgs/609_837.x3.png"
          class="flex items-center justify-center p-1.5 bg-orange-400 rounded-full"
          style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
        />
        <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
          <div class="flex self-stretch items-start justify-start mr-6">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              In Progress
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start">
            <div class="text-4xl font-semibold tracking-wide leading-10 text-coolGray-900">
              25
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-1 flex-grow space-x-3 items-start justify-start py-4 pl-4 bg-white rounded"
        style="height: 107px; min-height: 107px; max-height: 107px;"
      >
        <img
          src="/fimgs/609_845.x3.png"
          class="flex items-center justify-center p-1.5 bg-green-500 rounded-full"
          style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
        />
        <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
          <div class="flex self-stretch items-start justify-start mr-6">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              Complete
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start">
            <div class="text-4xl font-semibold tracking-wide leading-10 text-coolGray-900">
              25
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-1 flex-grow space-x-3 items-start justify-start py-4 pl-4 bg-white rounded"
        style="height: 107px; min-height: 107px; max-height: 107px;"
      >
        <img
          src="/fimgs/609_853.x3.png"
          class="flex items-center justify-center p-1.5 bg-red-500 rounded-full"
          style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
        />
        <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
          <div class="flex self-stretch items-start justify-start mr-6">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              Unfinish
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start">
            <div class="text-4xl font-semibold tracking-wide leading-10 text-coolGray-900">
              25
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex self-stretch flex-col w-full space-y-10 items-start justify-start">
      <div
        class="flex self-stretch items-center justify-between"
        style="height: 59px; min-height: 59px; max-height: 59px;"
      >
        <div class="flex flex-col space-y-2 items-start justify-start">
          <div class="flex self-stretch items-start justify-start">
            <div class="text-xl font-medium tracking-wide leading-loose text-coolGray-900">
              Important Project
            </div>
          </div>
          <div class="flex self-stretch items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              You can add important projects here
            </div>
          </div>
        </div>
        <div class="flex flex-col items-start justify-start">
          <button
            class="flex space-x-1 items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded"
            style="width: 231px; min-width: 231px; max-width: 231px; height: 40px; min-height: 40px; max-height: 40px;"
          >
            <img
              src="/fimgs/603_427.x3.png"
              style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
            />
            <div class="text-base font-medium tracking-wide leading-normal text-right text-white pl-1">
              Add Important Project
            </div>
          </button>
        </div>
      </div>
    </div>
    {/* Content  */}
    <div class="flex self-stretch flex-wrap space-y-9 items-start justify-start">
      <div class="flex self-stretch flex-wrap items-start justify-start">
        {meta.data_projek?.map((e) => {
          return (
            <div class="mb-8" style="margin-right: 22px;">
              <div
                class="flex flex-1 flex-col items-start justify-start px-4 py-6 bg-white rounded"
                style="width: 293px; min-width: 293px; max-width: 293px; height: 244px; min-height: 244px; max-height: 244px;"
              >
                <div
                  class="flex self-stretch flex-col space-y-8 items-start justify-start"
                  style="width: 267.33px; min-width: 267.33px; max-width: 267.33px; height: 196px; min-height: 196px; max-height: 196px;"
                >
                  <div
                    class="flex self-stretch items-start justify-between"
                    style="width: 267.33px; min-width: 267.33px; max-width: 267.33px; height: 24px; min-height: 24px; max-height: 24px;"
                  >
                    <div class="flex items-center justify-start">
                      <div class="text-base font-medium tracking-wide leading-normal text-center text-coolGray-500">
                        Tim 6
                      </div>
                    </div>
                    <img
                      src="/fimgs/609_876.x3.png"
                      class="flex items-start justify-start"
                      style="width: 32.50px; min-width: 32.50px; max-width: 32.50px; height: 20px; min-height: 20px; max-height: 20px;"
                    />
                  </div>
                  <div
                    class="flex self-stretch flex-col space-y-6 items-start justify-start"
                    style="width: 267.33px; min-width: 267.33px; max-width: 267.33px; height: 140px; min-height: 140px; max-height: 140px;"
                  >
                    <div class="flex self-stretch items-start justify-start">
                      <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                        {e.name}
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      <bar />
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                          10 Task Done
                        </div>
                      </div>
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-sm tracking-wide leading-tight">
                          Due Date: 25/09/2021
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          );
        })}
      </div>
    </div>
  </div>
</>