<>
  <effect
    meta={{
      data_projek: "",
      member: "",
      name: "",
      team: "",
      state2: { title: "" },
      styles: {
        control: (base, state) => ({
          ...base,
          paddingTop: "5px",
          paddingBottom: "5px",
          boxShadow: "none",
          border: state.isFocused ? "1px solid #818CF8" : "1px solid #D1D5DB",
          "&:hover": {
            border: state.isFocused ? "1px solid #818CF8" : "1px solid #D1D5DB",
          },
        }),
        option: (styles, state) => ({
          ...styles,
          "&:hover": {
            backgroundColor: state.isDisabled
              ? "#F3F4F6"
              : state.isSelected
              ? null
              : "#F3F4F6",
          },
        }),
      },
      pilih: {
        allproject: true,
        inprogress: false,
        complete: false,
        unfinish: false,
        nextproject: false,
      },
      toggleAllproject() {
        this.pilih.allproject = true;
        this.pilih.inprogress = false;
        this.pilih.complete = false;
        this.pilih.unfinish = false;
        this.pilih.nextproject = false;
      },
      toggleInprogress() {
        this.pilih.allproject = false;
        this.pilih.inprogress = true;
        this.pilih.complete = false;
        this.pilih.unfinish = false;
        this.pilih.nextproject = false;
      },
      toggleComplete() {
        this.pilih.allproject = false;
        this.pilih.inprogress = false;
        this.pilih.complete = true;
        this.pilih.unfinish = false;
        this.pilih.nextproject = false;
      },
      toggleUnfinish() {
        this.pilih.allproject = false;
        this.pilih.inprogress = false;
        this.pilih.complete = false;
        this.pilih.unfinish = true;
        this.pilih.nextproject = false;
      },
      toggleNextproject() {
        this.pilih.allproject = false;
        this.pilih.inprogress = false;
        this.pilih.complete = false;
        this.pilih.unfinish = false;
        this.pilih.nextproject = true;
      },
      dataUser(e) {
        let userDetail = [];
        api("/api/user").then((i) => {
          i.data_act.map((res, index) => {
            i.data_act[index] = { value: res.id, label: res.email };
            userDetail.push(i.data_act[index]);
          });
        });
        return userDetail;
      },
      dataTeam(e) {
        let result = [];
        api("/api/team").then((i) => {
          i.data_act.map((res, index) => {
            i.data_act[index] = { value: res.id, label: res.name };
            result.push(i.data_act[index]);
          });
        });
        return result;
      },
      dataProjek() {
        let result = [];
        api("/api/project").then((e) => {
          result["result"] = e;
        });
        return result;
      },
      submitData(event) {
        api("/api/project/create", {
          data: {
            name: this.state2.title,
            desc: this.state2.desc,
            member: this.member,
            team: this.team,
          },
        }).then((e) => {
          console.log(e);
        });
        event.preventDefault();
      },
    }}
    run={async () => {
      var data_i = meta.dataProjek();
      api("/api/project").then((e) => {
        meta.data_projek = data_i.result.data_act;
      });
      console.log(data_i.iresult);
      meta.actionmember = {
        onChange: (e) => {
          runInAction(() => {
            meta.member = e.map((x) => x.value);
            meta.team = 0;
          });
        },
      };
      meta.actionteam = {
        onChange: (e) => {
          runInAction(() => {
            meta.team = e.value;
            meta.member = [];
          });
        },
      };
    }}
  />
  <div class="flex flex-col self-stretch space-y-10 p-12 w-auto">
    <div class="flex self-stretch w-full items-start justify-start px-6 py-6 bg-white rounded">
      <div class="flex self-stretch w-full items-center justify-start space-x-8">
        <div
          onClick={meta.toggleAllproject}
          class={
            meta.pilih.allproject
              ? "flex flex-grow items-center justify-center px-4 py-2 bg-violet-100 rounded cursor-pointer"
              : "flex flex-grow items-center justify-center px-4 py-2 rounded cursor-pointer"
          }
        >
          <div
            class={
              meta.pilih.allproject
                ? "text-base font-normal tracking-wide leading-normal text-indigo-500"
                : "text-base font-normal tracking-wide leading-normal text-coolGray-500"
            }
          >
            All Project
          </div>
        </div>
        <div
          onClick={meta.toggleInprogress}
          class={
            meta.pilih.inprogress
              ? "flex flex-grow items-center justify-center px-4 py-2 bg-violet-100 rounded cursor-pointer"
              : "flex flex-grow items-center justify-center px-4 py-2 rounded cursor-pointer"
          }
        >
          <div
            class={
              meta.pilih.inprogress
                ? "text-base font-normal tracking-wide leading-normal text-indigo-500"
                : "text-base font-normal tracking-wide leading-normal text-coolGray-500"
            }
          >
            In Progress
          </div>
        </div>
        <div
          onClick={meta.toggleComplete}
          class={
            meta.pilih.complete
              ? "flex flex-grow items-center justify-center px-4 py-2 bg-violet-100 rounded cursor-pointer"
              : "flex flex-grow items-center justify-center px-4 py-2 rounded cursor-pointer"
          }
        >
          <div
            class={
              meta.pilih.complete
                ? "text-base font-normal tracking-wide leading-normal text-indigo-500"
                : "text-base font-normal tracking-wide leading-normal text-coolGray-500"
            }
          >
            Complete
          </div>
        </div>
        <div
          onClick={meta.toggleUnfinish}
          class={
            meta.pilih.unfinish
              ? "flex flex-grow items-center justify-center px-4 py-2 bg-violet-100 rounded cursor-pointer"
              : "flex flex-grow items-center justify-center px-4 py-2 rounded cursor-pointer"
          }
        >
          <div
            class={
              meta.pilih.unfinish
                ? "text-base font-normal tracking-wide leading-normal text-indigo-500"
                : "text-base font-normal tracking-wide leading-normal text-coolGray-500"
            }
          >
            Unfinish
          </div>
        </div>
        <div
          onClick={meta.toggleNextproject}
          class={
            meta.pilih.nextproject
              ? "flex flex-grow items-center justify-center px-4 py-2 bg-violet-100 rounded cursor-pointer"
              : "flex flex-grow items-center justify-center px-4 py-2 rounded cursor-pointer"
          }
        >
          <div
            class={
              meta.pilih.nextproject
                ? "text-base font-normal tracking-wide leading-normal text-indigo-500"
                : "text-base font-normal tracking-wide leading-normal text-coolGray-500"
            }
          >
            Next Project
          </div>
        </div>
      </div>
    </div>
    <div class="flex self-stretch flex-wrap space-y-9 items-start justify-start">
      <div
        class="flex self-stretch space-x-8 flex-wrap items-start justify-start"
        style="height: 244px; min-height: 244px; max-height: 244px;"
      >
        {meta.data_projek?.map((e) => {
          let urlproject = "projects/" + e.id + "/detail";
          return (
            <a
              href={urlproject}
              class="flex flex-1 flex-col items-start justify-start px-4 py-6 bg-white rounded"
              style="width: 301.33px; min-width: 301.33px; max-width: 301.33px; height: 244px; min-height: 244px; max-height: 244px;"
            >
              <div
                class="flex self-stretch flex-col space-y-8 items-start justify-start"
                style="width: 267.33px; min-width: 267.33px; max-width: 267.33px; height: 196px; min-height: 196px; max-height: 196px;"
              >
                <div
                  class="flex self-stretch items-start justify-between"
                  style="width: 267.33px; min-width: 267.33px; max-width: 267.33px; height: 24px; min-height: 24px; max-height: 24px;"
                >
                  <div class="flex items-center justify-start">
                    <div class="text-base font-medium tracking-wide leading-normal text-center text-coolGray-500">
                      Tim 6
                    </div>
                  </div>
                  <img
                    src="/fimgs/609_876.x3.png"
                    class="flex items-start justify-start"
                    style="width: 32.50px; min-width: 32.50px; max-width: 32.50px; height: 20px; min-height: 20px; max-height: 20px;"
                  />
                </div>
                <div
                  class="flex self-stretch flex-col space-y-6 items-start justify-start"
                  style="width: 267.33px; min-width: 267.33px; max-width: 267.33px; height: 140px; min-height: 140px; max-height: 140px;"
                >
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                      {e.name}
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                    <bar />
                    <div class="flex self-stretch items-start justify-start">
                      <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                        10 Task Done
                      </div>
                    </div>
                    <div class="flex self-stretch items-start justify-start">
                      <div class="text-sm tracking-wide leading-tight">
                        Due Date: 25/09/2021
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          );
        })}
      </div>
    </div>
  </div>
</>