<>
  <effect
    meta={{
      data_projek: [],
      member: "",
      name: "",
      team: "",
      pm: [
        { value: "G", label: "Gabriel" },
        { value: "A", label: "Aldi" },
        { value: "T", label: "Toni" },
      ],
      styles: {
        control: (base, state) => ({
          ...base,
          paddingTop: "2px",
          paddingBottom: "2px",
          boxShadow: "none",
          backgroundColor: "transparent",
          border: state.isFocused ? "1px solid #818CF8" : "1px solid #D1D5DB",
          "&:hover": {
            border: state.isFocused ? "1px solid #818CF8" : "1px solid #D1D5DB",
          },
        }),
        option: (styles, state) => ({
          ...styles,
          "&:hover": {
            backgroundColor: state.isDisabled
              ? "#F3F4F6"
              : state.isSelected
              ? null
              : "#F3F4F6",
          },
        }),
      },
      dataUser(e) {
        let userDetail = [];
        api("/api/user").then((i) => {
          i.data_act.map((res, index) => {
            i.data_act[index] = { value: res.id, label: res.email };
            userDetail.push(i.data_act[index]);
          });
        });
        return userDetail;
      },
      dataTeam(e) {
        let result = [];
        api("/api/team").then((i) => {
          i.data_act.map((res, index) => {
            i.data_act[index] = { value: res.id, label: res.name };
            result.push(i.data_act[index]);
          });
        });
        return result;
      },
      dataProjek() {
        let result = [];
        api("/api/project").then((e) => {
          result["result"] = e;
        });
        return result;
      },
      submitData(event) {
        api("/api/project/create", {
          data: {
            name: this.state2.title,
            desc: this.state2.desc,
            member: this.member,
            team: this.team,
          },
        }).then((e) => {
          if (e.status == true) {
            location.reload();
          }
          console.log(e);
        });
        event.preventDefault();
      },
    }}
    run={async () => {
      var data_i = meta.dataProjek();
      api("/api/project").then((e) => {
        // console.log(e);
        e.data_act.map((idx) => {
          api("/api/project/show/" + idx.id).then((e1) => {
            if (e1.status == true) {
              idx.task = e1.data_act.resultTask;
              // idx.task = e1.data_act.resultTask;
              meta.data_projek.push(idx);
              meta.isLoading = true;
            }
            console.log(meta.data_projek.length);
          });
        });
      });

      // console.log(meta.data_projek);
      meta.actionmember = {
        onChange: (e) => {
          runInAction(() => {
            meta.member = e.map((x) => x.value);
            meta.team = 0;
          });
        },
      };
      meta.actionteam = {
        onChange: (e) => {
          runInAction(() => {
            meta.team = e.value;
            meta.member = [];
          });
        },
      };
    }}
  />
  <div class="flex flex-col self-stretch space-y-10 p-10 w-auto">
    <div class="flex self-stretch w-full space-x-8 items-start justify-start">
      <div
        class="flex flex-1 flex-grow space-x-3 items-start justify-start py-4 pl-4 bg-white rounded"
        style="height: 107px; min-height: 107px; max-height: 107px;"
      >
        <img
          src="/fimgs/609_829.x3.png"
          class="flex items-center justify-center p-1.5 bg-blue-700 rounded-full"
          style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
        />
        <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
          <div class="flex self-stretch items-start justify-start mr-6">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              New Project
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start">
            <div class="text-4xl font-semibold tracking-wide leading-10 text-coolGray-900">
              25
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-1 flex-grow space-x-3 items-start justify-start py-4 pl-4 bg-white rounded"
        style="height: 107px; min-height: 107px; max-height: 107px;"
      >
        <img
          src="/fimgs/609_837.x3.png"
          class="flex items-center justify-center p-1.5 bg-orange-400 rounded-full"
          style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
        />
        <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
          <div class="flex self-stretch items-start justify-start mr-6">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              In Progress
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start">
            <div class="text-4xl font-semibold tracking-wide leading-10 text-coolGray-900">
              25
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-1 flex-grow space-x-3 items-start justify-start py-4 pl-4 bg-white rounded"
        style="height: 107px; min-height: 107px; max-height: 107px;"
      >
        <img
          src="/fimgs/609_845.x3.png"
          class="flex items-center justify-center p-1.5 bg-green-500 rounded-full"
          style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
        />
        <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
          <div class="flex self-stretch items-start justify-start mr-6">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              Complete
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start">
            <div class="text-4xl font-semibold tracking-wide leading-10 text-coolGray-900">
              25
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-1 flex-grow space-x-3 items-start justify-start py-4 pl-4 bg-white rounded"
        style="height: 107px; min-height: 107px; max-height: 107px;"
      >
        <img
          src="/fimgs/609_853.x3.png"
          class="flex items-center justify-center p-1.5 bg-red-500 rounded-full"
          style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
        />
        <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
          <div class="flex self-stretch items-start justify-start mr-6">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              Unfinish
            </div>
          </div>
          <div class="flex self-stretch flex-col items-start justify-start">
            <div class="text-4xl font-semibold tracking-wide leading-10 text-coolGray-900">
              25
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex self-stretch flex-col w-full items-start justify-between">
      <div class="flex self-stretch space-x-6 w-full items-start justify-between">
        <div class="flex flex-col self-stretch w-full space-y-2 items-start justify-start">
          <div class="flex w-full space-x-6 items-center justify-between">
            <div class="text-2xl font-medium tracking-wide leading-loose text-coolGray-900">
              Project In Progress
            </div>
            <multipleselect
              options={meta.pm}
              defaultValue={meta.pm[0]}
              theme={(theme) => ({
                ...theme,
                colors: {
                  ...theme.colors,
                  primary25: "#F3F4F6",
                  primary: "#6366F1",
                },
              })}
              styles={meta.styles}
              style="width: 160px; min-width: 160px; max-width: 160px;"
              className=""
              classNamePrefix="select"
              name="status"
            />
          </div>
          <div class="flex self-stretch flex-wrap items-start justify-start">
            <div class="grid grid-cols-2 gap-8 flex-grow">
              {meta.data_projek.map((e) => {
                let urlproject = "/pm/projects/" + e.id + "/detail";
                return (
                  <a
                    href={urlproject}
                    class="flex flex-1 flex-col items-start justify-start px-4 py-6 bg-white rounded"
                    style="height: 244px; min-height: 244px;"
                  >
                    <div
                      class="flex self-stretch flex-col space-y-6 items-start justify-start"
                      style="height: 196px; min-height: 196px; max-height: 196px;"
                    >
                      <div
                        class="flex self-stretch items-start justify-between"
                        style="height: 24px; min-height: 24px; max-height: 24px;"
                      >
                        <div class="flex items-center justify-start">
                          <div class="text-base font-medium tracking-wide leading-normal text-center text-coolGray-500">
                            Tim 6
                          </div>
                        </div>
                        <img
                          src="/fimgs/609_876.x3.png"
                          class="flex items-start justify-start"
                          style="width: 32.50px; min-width: 32.50px; max-width: 32.50px; height: 20px; min-height: 20px; max-height: 20px;"
                        />
                      </div>
                      <div
                        class="flex self-stretch flex-col space-y-6 items-start justify-start"
                        style="height: 140px; min-height: 140px; max-height: 140px;"
                      >
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                            {e.name}
                          </div>
                        </div>
                        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                          <bar />
                          <div class="flex self-stretch items-start justify-start">
                            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                              10 Task Done
                            </div>
                          </div>
                          <div class="flex self-stretch items-start justify-start">
                            <div class="text-sm tracking-wide leading-tight">
                              Due Date: 25/09/2021
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                );
              })}
            </div>
          </div>
        </div>
        <div class="flex flex-col self-stretch space-y-2 w-1/2 items-start justify-start">
          <div class="text-2xl font-medium tracking-wide leading-loose text-coolGray-900">
            Complete Projects
          </div>
          <div class="flex flex-col w-full space-y-4 px-4 pb-4 pt-2 items-start justify-start bg-white">
            <div class="flex flex-col space-y-3 items-start justify-center bg-white">
              <div class="flex self-stretch items-start justify-start">
                <div class="text-base tracking-wide leading-snug text-coolGray-900">
                  Pengembangan Website Company Profile PT. Menara Indonesia
                </div>
              </div>
              <div class="flex self-stretch items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-500">
                  Finished On: 23/10/2021
                </div>
              </div>
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center bg-white">
              <div class="flex items-start justify-start">
                <div class="text-base tracking-wide leading-snug text-coolGray-900">
                  Pengembangan Aplikasi Ojek Online Pemkot Magelang
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-500">
                  Finished On: 23/10/2021
                </div>
              </div>
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center bg-white">
              <div class="flex items-start justify-start">
                <div class="text-base tracking-wide leading-snug text-coolGray-900">
                  Pengembangan Website Akutansi PT> Sido Maju
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-500">
                  Finished On: 23/10/2021
                </div>
              </div>
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center bg-white">
              <div class="flex items-start justify-start">
                <div class="text-base tracking-wide leading-snug text-coolGray-900">
                  Pengembangan Website Akutansi PT> Sido Maju
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-500">
                  Finished On: 23/10/2021
                </div>
              </div>
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center bg-white">
              <div class="flex items-start justify-start">
                <div class="text-base tracking-wide leading-snug text-coolGray-900">
                  Pengembangan Website Akutansi PT> Sido Maju
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-500">
                  Finished On: 23/10/2021
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>