<>
  <effect
    meta={{
      data_projek: "",
      member: "",
      name: "",
    }}
    run={async () => {}}
  />
  <div class="flex flex-col self-stretch space-y-6 p-12 w-auto">
    <div class="overflow-x-auto">
      <div class="align-middle inline-block min-w-full">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y-4 divide-gray-50">
            <thead class="bg-white">
              <tr>
                <th
                  scope="col"
                  class="relative px-6 py-3 text-sm text-left justify-start"
                >
                  <div class=" text-sm font-medium text-coolGray-500 text-start ">
                    Project Manager Name
                  </div>
                </th>
                <th
                  scope="col"
                  class="relative px-6 py-3 text-sm text-left justify-start"
                >
                  <div class=" text-sm font-medium text-coolGray-500 text-start ">
                    Total Teams
                  </div>
                </th>
                <th
                  scope="col"
                  class="relative px-6 py-3 text-sm text-left justify-start"
                >
                  <div class=" text-sm font-medium text-coolGray-500 text-start ">
                    Action
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y-4 divide-gray-50">
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-start">
                  <div class="text-sm text-gray-900">Zwei Algebra</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-start">
                  <div class="text-sm text-gray-900">8 Teams</div>
                </td>
                <td class="px-6 py-2 whitespace-nowrap text-start">
                  <div class="flex flex-1 items-start justify-start">
                    <img
                      src="/fimgs/678_632.x3.png"
                      class="flex items-center justify-center"
                      style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-start">
                  <div class="text-sm text-gray-900">Samuel Salmonela</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-start">
                  <div class="text-sm text-gray-900">8 Teams</div>
                </td>
                <td class="px-6 py-2 whitespace-nowrap text-start">
                  <div class="flex flex-1 items-start justify-start">
                    <img
                      src="/fimgs/678_632.x3.png"
                      class="flex items-center justify-center"
                      style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
                    />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</>