<>
  <effect
    meta={{
      dashboard: {
        nextproject: 0,
        progress: 0,
        complete: 0,
        unfinish: 0,
      },
      state0: {
        name: "",
        division: "",
        nik: "",
        birthplace: "",
        birthdate: "",
        phone: "",
        file: "",
        iduser: "",
        photo:
          "https://images.pexels.com/photos/2589653/pexels-photo-2589653.jpeg?auto=compress&cs=tinysrgb&h=650&w=940",
      },
      state: {
        time: new Date(),
        isOpen: false,
        name: "",
        nik: "",
        birthplace: "",
        birthdate: "",
        phone: "",
        iduser: "",
        division: "",
      },
      datePicker: new Date(),
      setStartDate(newDate) {
        this.datePicker = newDate;
      },
      isOpen: false,
      setIsOpen(open) {
        this.isOpen = open;
      },
      handleChange(e) {
        this.setIsOpen(!this.isOpen);
        this.setStartDate(e);
      },
      handleClick(e) {
        e.preventDefault();
        this.setIsOpen(!this.isOpen);
      },
      styles: {
        control: (base, state) => ({
          ...base,
          paddingTop: "5px",
          paddingBottom: "5px",
          boxShadow: "none",
          border: state.isFocused ? "1px solid #818CF8" : "1px solid #D1D5DB",
          "&:hover": {
            border: state.isFocused ? "1px solid #818CF8" : "1px solid #D1D5DB",
          },
        }),
        option: (styles, state) => ({
          ...styles,
          "&:hover": {
            backgroundColor: state.isDisabled
              ? "#F3F4F6"
              : state.isSelected
              ? null
              : "#F3F4F6",
          },
        }),
      },
      ubahNilai(e) {
        let name = e.target.name;
        let nilai = e.target.value;
        this.state0[name] = nilai;
      },
      isLoadingPhoto: true,
      // UPLOAD FILE
      responseUpload: "",
      upload: async (file, iduser) => {
        const formData = _FormData();
        formData.append("path", "users\\" + iduser);
        formData.append("file", file);
        const response = await fetch("/api/upload", {
          method: "POST",
          body: formData,
        });
        return await response.json();
      },
      updatePhoto(e) {
        this.isLoadingPhoto = false;
        console.log(e.path);
        api("/api/users/profile/update", {
          url: e.path,
        }).then((e) => {
          this.isLoadingPhoto = true;
          if (e.status == true) {
            this.state0.photo = e.data_act.photo;
          }
          console.log(e);
        });
      },
      submitData(event) {
        this.isLoadingPhoto = false;
        api("/api/users/update", {
          data: {
            fullname: this.state0.name,
            nik: this.state0.nik.substring(0, 25),
            birthplace: this.state0.birthplace,
            birthdate: this.state0.birthdate,
            phone: this.state0.phone.substring(0, 15),
          },
        }).then((e) => {
          if (e.status == true) {
            this.state.name = this.state0.name;
            this.isLoadingPhoto = true;
            this.showFormEdit();
          }
          console.log(e);
        });
        event.preventDefault();
      },
      showEdit: false,
      showFormEdit() {
        this.showEdit = !this.showEdit;
      },
      mainLoading: true,
      logout(e) {
        this.mainLoading = true;
        api("/api/logout").then((e) => {
          console.log(e);
          var host = window.location.origin;
          window.location.replace(host);
        });
      },
    }}
    run={async () => {
      meta.mainLoading = false;
      api("/api/session").then((e) => {
        console.clear();
        meta.state0.name = e.data_act.muser_detail.fullname;
        meta.state.name = e.data_act.muser_detail.fullname;
        meta.state0.nik = e.data_act.muser_detail.nik
          ? e.data_act.muser_detail.nik
          : "";
        meta.state.nik = e.data_act.muser_detail.nik
          ? e.data_act.muser_detail.nik
          : "";
        meta.state0.iduser = e.data_act.muser_detail.id;
        meta.state0.birthplace = e.data_act.muser_detail.birthplace
          ? e.data_act.muser_detail.birthplace
          : "";
        meta.state.birthplace = e.data_act.muser_detail.birthplace
          ? e.data_act.muser_detail.birthplace
          : "";
        meta.state0.birthdate = dateFormat(
          e.data_act.muser_detail.birthdate,
          "YYY-MM-dd"
        );
        meta.state.birthdate = dateFormat(
          e.data_act.muser_detail.birthdate,
          "YYY-MM-dd"
        );
        meta.state0.phone = e.data_act.muser_detail.phone
          ? e.data_act.muser_detail.phone
          : "";
        meta.state.phone = e.data_act.muser_detail.phone
          ? e.data_act.muser_detail.phone
          : "";
        meta.state0.photo = e.data_act.muser_detail.photo
          ? e.data_act.muser_detail.photo
          : "";
        meta.state.photo = e.data_act.muser_detail.photo
          ? e.data_act.muser_detail.photo
          : "";
        meta.state.division = e.data_act.muser_detail.mdivision.name
          ? e.data_act.muser_detail.mdivision.name
          : "";
        meta.isLoading = true;
        api("/api/project").then((e) => {
          console.clear();
          if (e.dashboard) {
            e.dashboard.map((idx) => {
              if (idx.name == "next project") {
                meta.dashboard.nextproject = idx.nproject;
              }
              if (idx.name == "progress") {
                meta.dashboard.progress = idx.nproject;
              }
              if (idx.name == "uncompleted") {
                meta.dashboard.unfinish = idx.nproject;
              }
              if (idx.name == "completed") {
                meta.dashboard.complete = idx.nproject;
              }
            });
          }
        });
      });
    }}
  />
  {meta.mainLoading ? (
    <>
      <loadku />
    </>
  ) : (
    <>
      <div class="flex w-full space-x-6 items-start justify-start p-10">
        <div class="flex w-1/3 flex-col space-y-6 items-start justify-start">
          <div class="flex w-full space-x-6 items-start justify-start p-4 bg-white rounded">
            {meta.isLoadingPhoto ? (
              <>
                <img
                  class="inline-block rounded-full ring-2 ring-white"
                  src={"/upload/" + meta.state0.photo}
                  alt="Profile image"
                  style="width: 72px; min-width: 72px; max-width: 72px; height: 72px; min-height: 72px; max-height: 72px;"
                />
                <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                      {meta.state.name}
                    </div>
                  </div>
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-sm tracking-wide leading-tight text-coolGray-400">
                      {meta.state.division}
                    </div>
                  </div>
                </div>
              </>
            ) : (
              <>
                <div class="flex self-stretch flex-wrap items-center justify-center justify-center flex-grow">
                  <div class="bg-gray-200 w-full animate-pulse h-14 rounded-md  "></div>
                </div>
              </>
            )}
          </div>
          <div class="flex flex-col w-full space-y-4 items-start justify-start p-4 bg-white rounded">
            <div class="flex items-start justify-start">
              <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                Account
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-3 items-start justify-start">
              <a
                class="flex self-stretch space-x-3.5 items-start justify-start bg-coolGray-50 rounded pl-1.5 py-2 hover:bg-coolGray-100 hover:opacity-50"
                href="/pm/myaccount"
              >
                <div class="flex flex-1 space-x-4 items-center justify-start">
                  <img
                    src="/fimgs/913_3611.x3.png"
                    style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                  />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                      Profile
                    </div>
                  </div>
                </div>
                <img
                  src="/fimgs/913_3614.x3.png"
                  style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                />
              </a>
              <a
                class="flex self-stretch space-x-3.5 items-start justify-start rounded pl-1.5 py-2 hover:bg-coolGray-100 hover:opacity-50"
                href="/change-pass"
              >
                <div class="flex flex-1 space-x-4 items-center justify-start">
                  <img
                    src="/fimgs/913_3617.x3.png"
                    style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                  />
                  <div class="flex flex-1 items-start justify-start">
                    <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                      Change Password
                    </div>
                  </div>
                </div>
                <img
                  src="/fimgs/913_3614.x3.png"
                  style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                />
              </a>
            </div>
          </div>
          <div class="flex flex-col w-full space-y-4 items-start justify-start p-4 bg-white rounded">
            <div class="flex items-start justify-start">
              <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                Projects
              </div>
            </div>
            <div class="flex flex-col w-full space-y-6 items-start justify-start">
              <div class="flex self-stretch items-center justify-between">
                <div class="flex space-x-2 items-center justify-start">
                  <img
                    src="/fimgs/724_1762.x3.png"
                    style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
                  />
                  <div class="flex items-center justify-start">
                    <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                      In Progress
                    </div>
                  </div>
                </div>
                <div class="flex flex-col items-center justify-start py-0.5 px-2 bg-orange-400 bg-opacity-40 border rounded-sm border-orange-400">
                  <div class="text-xs tracking-wide leading-none text-orange-400">
                    {meta.dashboard.progress}
                  </div>
                </div>
              </div>
              <div class="flex self-stretch items-center justify-between">
                <div class="flex space-x-2 items-center justify-start">
                  <img
                    src="/fimgs/724_1769.x3.png"
                    style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
                  />
                  <div class="flex items-center justify-start">
                    <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                      Complete
                    </div>
                  </div>
                </div>
                <div class="flex flex-col items-center justify-start py-0.5 px-2 bg-green-200 border rounded-sm border-green-500">
                  <div class="text-xs tracking-wide leading-none text-green-500">
                    {meta.dashboard.complete}
                  </div>
                </div>
              </div>
              <div class="flex self-stretch items-center justify-between">
                <div class="flex space-x-2 items-center justify-start">
                  <img
                    src="/fimgs/724_1776.x3.png"
                    style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
                  />
                  <div class="flex items-center justify-start">
                    <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                      Unfinish
                    </div>
                  </div>
                </div>
                <div class="flex flex-col items-center justify-start py-0.5 px-2 bg-red-200 border rounded-sm border-red-500">
                  <div class="text-xs tracking-wide leading-none text-red-500">
                    {meta.dashboard.unfinish}
                  </div>
                </div>
              </div>
              <div class="flex self-stretch items-center justify-between">
                <div class="flex space-x-2 items-center justify-start">
                  <img
                    src="/fimgs/724_1783.x3.png"
                    style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
                  />
                  <div class="flex items-center justify-start">
                    <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                      Next Project
                    </div>
                  </div>
                </div>
                <div class="flex flex-col items-center justify-start py-0.5 px-2 bg-violet-300 border rounded-sm border-blue-700">
                  <div class="text-xs tracking-wide leading-none text-blue-700">
                    {meta.dashboard.nextproject}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col w-full items-center justify-start p-4 bg-white rounded">
            <button
              onClick={meta.logout}
              class="flex self-stretch space-x-1 items-center justify-center px-4 py-2 border rounded border-indigo-500 hover:bg-coolGray-100 hover:opacity-50"
            >
              <div class="text-base tracking-wide leading-normal text-center text-indigo-500">
                Sign Out
              </div>
              <img
                src="/fimgs/I724_1789_724_1719.x3.png"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
            </button>
          </div>
        </div>
        <div class="flex flex-1 self-stretch flex-col space-y-6 items-start justify-start p-6 bg-white rounded">
          {meta.showEdit ? (
            <>
              <div class="flex items-start justify-start">
                <div class="text-base font-medium tracking-wide leading-none text-coolGray-900">
                  Edit Profile
                </div>
              </div>
              <div class="flex self-stretch items-start justify-center">
                <div class="flex items-center justify-center z-0">
                  {meta.isLoadingPhoto ? (
                    <>
                      <img
                        class="inline-block rounded-full ring-2 ring-white"
                        src={"/upload/" + meta.state0.photo}
                        alt="Profile image"
                        style="width: 72px; min-width: 72px; max-width: 72px; height: 72px; min-height: 72px; max-height: 72px;"
                      />
                    </>
                  ) : (
                    <div class="flex self-stretch flex-wrap items-center justify-center justify-center">
                      <div
                        class="bg-gray-200 w-full animate-pulse h-14 rounded-full  "
                        style="width: 72px; min-width: 72px; max-width: 72px; height: 72px; min-height: 72px; max-height: 72px;"
                      ></div>
                    </div>
                  )}
                </div>
                <div
                  class="flex items-center justify-center z-10"
                  style="padding-top:2.7rem; margin-left:-1.5rem"
                >
                  <input
                    type="file"
                    accept=".jpg,.jpeg,.png"
                    id="file"
                    style="height: 0; overflow: hidden; width: 0;"
                    onChange={(e) => {
                      runInAction(async () => {
                        console.log("upload file");
                        console.log(e.target.files[0]);
                        const upload = await meta.upload(
                          e.target.files[0],
                          meta.state0.iduser
                        );
                        meta.state0.file = upload;
                        meta.updatePhoto(upload);
                      });
                    }}
                  />
                  <label htmlFor="file">
                    <img
                      src="/fimgs/727_1004.x3.png"
                      style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
                    />
                  </label>
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-2.5 items-start justify-start relative overflow-y-auto">
                <div class="text-sm tracking-wide leading-none text-gray-500">
                  Full Name
                </div>
                <div class="flex self-stretch items-center justify-start pb-2">
                  <div class="relative flex flex-1 items-center justify-start">
                    <input
                      id="name"
                      name="name"
                      value={meta.state0.name}
                      onChange={meta.ubahNilai}
                      type="text"
                      placeholder=""
                      class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                    />
                  </div>
                </div>
                <div class="text-sm tracking-wide leading-none text-gray-500">
                  NIK
                </div>
                <div class="flex self-stretch items-center justify-start pb-2">
                  <div class="relative flex flex-1 items-center justify-start">
                    <input
                      id="name"
                      name="nik"
                      value={meta.state0.nik}
                      onChange={meta.ubahNilai}
                      type="number"
                      placeholder=""
                      class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                    />
                  </div>
                </div>
                <div class="text-sm tracking-wide leading-none text-gray-500">
                  Phone Number
                </div>
                <div class="flex self-stretch items-center justify-start pb-2">
                  <div class="relative flex flex-1 items-center justify-start">
                    <input
                      id="name"
                      name="phone"
                      value={meta.state0.phone}
                      onChange={meta.ubahNilai}
                      type="number"
                      placeholder=""
                      class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                    />
                  </div>
                </div>
                <div class="text-sm tracking-wide leading-none text-gray-500">
                  Place and Date of Birth
                </div>
                <div class="flex flex-1 w-full space-x-4 items-center">
                  <div class="flex self-stretch w-1/2 flex-col space-y-2.5 items-start justify-center">
                    <div class="flex self-stretch items-center justify-start pb-2">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          id="name"
                          name="birthplace"
                          value={meta.state0.birthplace}
                          onChange={meta.ubahNilai}
                          type="text"
                          placeholder=""
                          class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>
                  </div>
                  <div>,</div>
                  <div class="flex self-stretch w-1/2 flex-col space-y-2.5 items-start justify-center">
                    <div class="flex self-stretch items-center justify-start pb-2">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          id="name"
                          name="birthdate"
                          type="date"
                          placeholder=""
                          value={meta.state0.birthdate}
                          onChange={meta.ubahNilai}
                          class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <form
                onSubmit={meta.submitData}
                class="flex w-full items-center justify-center"
              >
                <button class="flex w-full items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded">
                  <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                    Save Change
                  </div>
                </button>
              </form>
            </>
          ) : (
            <>
              <div class="flex flex-row items-center justify-start">
                {/*<div class="text-base font-medium tracking-wide leading-none text-coolGray-900">*/}
                {/*              */}
                {/*</div>*/}

                <div class="flex flex-1 items-start justify-start mr-2">
                  <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                    Detail Profile
                  </div>
                </div>
                <img
                  src="/fimgs/1454_4082.x3.png"
                  style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                  onClick={meta.showFormEdit}
                />
              </div>
              <div class="flex self-stretch items-start justify-center">
                <div class="flex items-center justify-center z-0">
                  <img
                    class="inline-block rounded-full ring-2 ring-white"
                    src={"/upload/" + meta.state0.photo}
                    alt="Profile image"
                    style="width: 72px; min-width: 72px; max-width: 72px; height: 72px; min-height: 72px; max-height: 72px;"
                  />
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-2.5 items-start justify-start relative overflow-y-auto">
                <div class="text-sm tracking-wide leading-none text-gray-500">
                  Full Name
                </div>
                <div class="flex self-stretch items-center justify-start pb-2">
                  <div class="relative flex flex-1 items-center justify-start text-base relative w-full py-2.5 px-2.5">
                    {meta.state0.name}
                  </div>
                </div>
                <div class="text-sm tracking-wide leading-none text-gray-500">
                  NIK
                </div>
                <div class="flex self-stretch items-center justify-start pb-2">
                  <div class="relative flex flex-1 items-center justify-start text-base relative w-full py-2.5 px-2.5">
                    {meta.state0.nik}
                  </div>
                </div>
                <div class="text-sm tracking-wide leading-none text-gray-500">
                  Phone Number
                </div>
                <div class="flex self-stretch items-center justify-start pb-2">
                  <div class="relative flex flex-1 items-center justify-start text-base relative w-full py-2.5 px-2.5">
                    {meta.state0.phone}
                  </div>
                </div>
                <div class="text-sm tracking-wide leading-none text-gray-500">
                  Place and Date of Birth
                </div>
                <div class="flex self-stretch items-center justify-start pb-2">
                  <div class="relative flex flex-1 items-center justify-start text-base relative w-full py-2.5 px-2.5 capitalize">
                    {meta.state0.birthplace},{" "}
                    {dateFormat(meta.state0.birthdate, "dd MMMM YYY")}
                  </div>
                </div>
              </div>
            </>
          )}
        </div>
      </div>
    </>
  )}
</>