<>
  <effect
    meta={{
      toggleModal() {
        this.showModal = !this.showModal;
      },
      toggleModal1() {
        this.showModal1 = !this.showModal1;
      },
    }}
    run={async () => {}}
  />
  <div class="flex self-stretch flex-col space-y-9 items-start justify-start px-6 py-4 bg-white rounded">
    <div class="flex space-x-72 items-start justify-start">
      <div class="flex items-start justify-start">
        <div class="text-xl font-medium tracking-wide leading-loose text-coolGray-900">
          Pengembangan Aplikasi UMKM Kota Semarang
        </div>
      </div>
      <div class="flex flex-col space-y-2 items-start justify-start">
        <div
          class="flex flex-col items-start justify-start"
          style="width: 304px; min-width: 304px; max-width: 304px; height: 10px; min-height: 10px; max-height: 10px;"
        >
          <bar />
        </div>
        <div class="flex items-start justify-start">
          <div class="text-sm tracking-wide leading-tight text-coolGray-500">
            10 Task Done
          </div>
        </div>
      </div>
    </div>
    <div class="flex space-x-8 items-center justify-start">
      <div class="flex items-start justify-start">
        <a
          href="/pm/projects/projectdetails"
          class="flex items-center justify-center px-4 py-2 rounded"
        >
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
            Project Detail
          </div>
        </a>
      </div>
      <div class="flex flex-col items-start justify-start">
        <a class="flex items-center justify-center px-4 py-2 rounded">
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
            Task
          </div>
        </a>
      </div>
      <a class="flex items-center justify-center px-4 py-2 rounded">
        <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
          Planning
        </div>
      </a>
      <a class="flex items-center justify-center px-4 py-2 rounded">
        <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
          Timeline
        </div>
      </a>
      <a class="flex items-center justify-center px-4 py-2 bg-coolGray-50 rounded">
        <div class="text-base font-medium tracking-wide leading-normal text-indigo-500">
          File Management
        </div>
      </a>
      <a class="flex items-center justify-center px-4 py-2 rounded">
        <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
          Team
        </div>
      </a>
    </div>
  </div>
  <div class="flex flex-col self-stretch space-y-8 px-8 py-16 w-auto">
    <div>
      <div class="flex self-stretch items-center justify-between px-6 py-2.5 bg-white rounded-t">
        <div class="text-sm font-medium tracking-wide leading-tight text-center text-coolGray-900 rounded-l border-r border-coolGray-300 pr-3">
          <label class="bg-white"></label>
          <select
            id="employee"
            name="employee"
            class="bg-white rounded-l outline-none"
          >
            <option value="saab">UI/UX Designer</option>
            <option value="fiat">Business Analyst</option>
            <option value="audi">Full Stack Developer</option>
          </select>
        </div>
        <div class="flex items-start justify-start">
          <div class="flex items-center justify-between px-4 py-2 bg-coolGray-100 rounded w-48">
            <div class="flex items-start justify-start">
              <input
                placeholder="Search Task"
                class="text-xs tracking-wide leading-none text-start bg-coolGray-100 text-coolGray-500 focus:outline-none"
              />
            </div>
            <div class="flex items-start justify-start">
              <img
                src="/fimgs/320_715.x3.png"
                style="width: 14px; min-width: 14px; max-width: 14px; height: 14px; min-height: 14px; max-height: 14px;background-image: url('/fimgs/bg-73e6c53226cf9e177674d4b42cdebde4ef14f8e5');background-size:100% 100%;background-repeat:no-repeat;"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col items-end justify-start px-6">
        <div class="flex flex-col items-end justify-end pt-10 pb-6">
          <div class="flex flex-col items-start justify-start">
            <button
              class="flex space-x-3 items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded"
              onClick={meta.toggleModal}
            >
              <img
                src="/fimgs/5_50.x3.png"
                style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
              />
              <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                Upload File
              </div>
            </button>
          </div>
        </div>
      </div>
      {/*file uploaded*/}
      <div class="flex flex-col space-y-8 items-start justify-start">
        <div class="flex items-center justify-between">
          <div class="flex flex-col items-start justify-start border rounded border-coolGray-300">
            <img
              src="/fimgs/398_730.x3.png"
              style="width: 338px; min-width: 338px; max-width: 338px; height: 232px; min-height: 232px; max-height: 232px;background-image: url('/fimgs/bg-4f10e37ded41a401e194fd3c21e2273cc190ab12');background-size:100% 100%;background-repeat:no-repeat;"
            />
            <div class="flex self-stretch space-x-2.5 items-center justify-center p-4 bg-white shadow-inner rounded-bl rounded-br">
              <div class="flex flex-1 space-x-2.5 items-center justify-start">
                <img
                  src="/fimgs/398_733.x3.png"
                  style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-7f4889bfacdd9ba11e06130b303287fb849e9485');background-size:100% 100%;background-repeat:no-repeat;"
                />
                <div class="flex flex-1 items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-coolGray-900">
                    Forgot Password Page
                  </div>
                </div>
              </div>
              <img
                src="/fimgs/398_736.x3.png"
                onClick={meta.toggleModal1}
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;"
              />
            </div>
          </div>
          {meta.showModal1 ? (
            <>
              <div
                class="flex flex-col items-start justify-start overflow-ellipsis inset-0 z-50 relative"
                style="width: 187px; min-width: 187px; max-width: 187px; height: 136px; min-height: 136px; max-height: 136px;"
              >
                <div class="flex flex-1 self-stretch flex-col space-y-1 items-start justify-start bg-white rounded">
                  <div class="flex items-center justify-start py-2 pl-4 rounded-tl rounded-tr">
                    <div class="flex flex-1 space-x-2 items-center justify-start">
                      <img
                        src="/fimgs/404_669.x3.png"
                        style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;background-image: url('/fimgs/bg-6edf9199ab3e8b9ab02b66e2045a2996dc7ffa87');background-size:100% 100%;background-repeat:no-repeat;"
                      />
                      <div class="flex flex-1 items-start justify-start">
                        <div class="text-base tracking-wide leading-normal text-coolGray-500">
                          View Detail
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch items-center justify-start py-2 pl-4 bg-coolGray-50">
                    <div class="flex flex-1 space-x-2 items-center justify-start">
                      <img
                        src="/fimgs/404_674.x3.png"
                        style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;background-image: url('/fimgs/bg-985a0d623da115dd3d740eedb236267059d354ae');background-size:100% 100%;background-repeat:no-repeat;"
                      />
                      <div class="flex flex-1 items-start justify-start">
                        <div class="text-base tracking-wide leading-normal text-coolGray-500">
                          Download
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="border-coolGray-300" />
                  <div class="flex self-stretch items-center justify-start py-2 pl-4 rounded-bl rounded-br">
                    <div class="flex flex-1 space-x-2 items-center justify-start">
                      <img
                        src="/fimgs/404_679.x3.png"
                        style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;background-image: url('/fimgs/bg-2e538722ae406117a4aac769b1e8771571edfbd5');background-size:100% 100%;background-repeat:no-repeat;"
                      />
                      <div class="flex flex-1 items-start justify-start">
                        <div class="text-base tracking-wide leading-normal text-coolGray-500">
                          Delete
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {/*<div className="opacity-25 fixed inset-0 z-40 bg-black"></div>*/}
            </>
          ) : null}
        </div>
      </div>
    </div>
  </div>

  {meta.showModal ? (
    <>
      <div class="flex justify-center items-center overflow-ellipsis fixed inset-0 z-50 outline-none focus:outline-none">
        <div
          class="relative w-auto mx-auto max-w-3xl"
          style="min-width: 480px; width: 480px;"
        >
          {/*content*/}
          <div class="border-0 rounded shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            {/*body*/}
            <div class="border-0 rounded flex flex-col items-start justify-start relative overflow-ellipsis bg-gray-50">
              <div class="border-0 rounded-t flex self-stretch flex-col px-7 py-4 items-start justify-start bg-white shadow">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-center justify-between">
                    <div
                      class="flex items-start justify-start"
                      style="padding-left: 160px;"
                    >
                      <div class="text-xl font-medium tracking-wide leading-loose text-center text-coolGray-900">
                        Upload File
                      </div>
                    </div>
                    <form onSubmit={meta.toggleModal}>
                      <button class="flex flex-col items-center justify-end">
                        <img
                          src="/fimgs/517_574.x1.svg"
                          style="width: 24px; min-width: 24px; max-width: 24px; height: 30px; min-height: 30px; max-height: 30px;background-image: url('/fimgs/bg-dceba00bb6d6f9f685dc798d0d2871f28da5cac8');background-size:100% 100%;background-repeat:no-repeat;"
                        />
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <form
                class="flex flex-1 self-stretch flex-col items-start justify-start"
                onSubmit={meta.filled}
              >
                <div class="flex self-stretch flex-col space-y-8 items-start justify-start p-8">
                  <div class="flex self-stretch flex-col space-y-2.5 items-start justify-center">
                    <div class="flex self-stretch items-start justify-start">
                      <div class="text-sm tracking-wide leading-none text-center text-gray-500">
                        File Name
                      </div>
                    </div>

                    <div class="flex self-stretch items-center justify-start">
                      <div class="relative flex flex-1 items-center justify-start">
                        <input
                          id="name"
                          name="title"
                          type="text"
                          placeholder="Landing Page"
                          class="text-base relative w-full border rounded placeholder-coolGray-900 border-gray-300 focus:border-indigo-400 focus:outline-none py-2.5 px-2.5"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col space-y-2.5 items-start justify-center">
                    <div class="flex self-stretch items-start justify-start">
                      <div class="text-sm tracking-wide leading-none text-center text-gray-500">
                        Choose File
                      </div>
                    </div>

                    <div
                      class="flex self-stretch items-center justify-start py-3 bg-white border rounded border-indigo-500"
                      style="border-style: dashed;"
                    >
                      <div class="flex flex-1 items-center justify-center">
                        <input
                          type="file"
                          accept=".jpg,.jpeg,.png,.pdf,.doc,.docx"
                          id="file"
                          style="height: 0; overflow: hidden; width: 0;"
                        />
                        <label
                          for="file"
                          class="w-full text-base tracking-wide leading-normal text-center text-indigo-500"
                        >
                          Choose File
                        </label>
                      </div>
                    </div>
                  </div>

                  <button
                    type="submit"
                    class="flex flex-1 self-stretch flex-col items-start justify-start"
                  >
                    <div class="flex self-stretch items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded">
                      <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                        Upload Now
                      </div>
                    </div>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div className="opacity-25 fixed inset-0 z-40 bg-black"></div>
    </>
  ) : null}
</>