<>
  <effect
    meta={{
      state: {
        judul: "Loading",
        deskripsi: "Loading",
        label: "Loading",
        startdate: "26/09/2021",
        duedate: "26/09/2021",
        proggres: "0",
        taskComplete: "0",
        iddivision: 0,
      },
      link: {
        detail: "#",
        team: "#",
        task: "#",
        timeline: "#",
        planning: "#",
        file: "#",
      },
      data_task: [],
      dataSubTaskProgress: [],
      dataSubTaskSubmit: [],
      dataSubTaskComplete: [],
      // DATA DIVISION
      user: [],
      // DIVISI SELECTED
      searchIdx(value, arr) {
        var out = false;
        arr.map((e, idx) => {
          if (e.value == value) {
            out = idx;
          }
        });
        return out;
      },
      // RELOAD PROJECT
      reloadProject(divisi) {
        this.state.iddivision = divisi;
        // All Project
        api("/api/project/show/" + params.id, {
          data: {
            iddivision: divisi,
          },
        }).then((e) => {
          if (e.status == true) {
            this.state.judul = e.data_act.project.name;
            this.data_task = [];
            e.data_act.project_task.map((idx) => {
              idx.startdate = dateFormat(idx.startdate, "MMM dd, YYY");
              idx.duedate = dateFormat(idx.duedate, "MMM dd, YYY");
              idx.subtask = false;
              api("/api/project/task/subtask/show", {
                data: {
                  idproject: params.id,
                  idparent: idx.id,
                },
              }).then((e) => {
                // console.log(e);
                if (e.status == true) {
                  if (e.data_act.length > 0) {
                    idx.subtask = true;
                  }
                }
                this.data_task.push(idx);
              });
            });
          }
          // In proggress
          api("/api/project/show/" + params.id, {
            data: {
              idstatus: 2,
              iddivision: this.state.iddivision,
            },
          }).then((e) => {
            // console.log(e.data_act.project_task);
            if (e.status == true) {
              // console.log(e);
              this.dataSubTaskProgress = [];
              e.data_act.project_task.map((idx) => {
                idx.startdate = dateFormat(idx.startdate, "MMM dd, YYY");
                idx.duedate = dateFormat(idx.duedate, "MMM dd, YYY");
                idx.subtask = false;
                api("/api/project/task/subtask/show", {
                  data: {
                    idproject: params.id,
                    idparent: idx.id,
                  },
                }).then((e) => {
                  // console.log(e);
                  if (e.status == true) {
                    if (e.data_act.length > 0) {
                      idx.subtask = true;
                    }
                  }
                  this.dataSubTaskProgress.push(idx);
                });
              });
            }
            // Submitted
            api("/api/project/show/" + params.id, {
              data: {
                idstatus: 6,
                iddivision: this.state.iddivision,
              },
            }).then((e) => {
              if (e.status == true) {
                // console.log(e);
                this.dataSubTaskSubmit = [];
                e.data_act.project_task.map((idx) => {
                  idx.startdate = dateFormat(idx.startdate, "MMM dd, YYY");
                  idx.duedate = dateFormat(idx.duedate, "MMM dd, YYY");
                  api("/api/project/task/subtask/show", {
                    data: {
                      idproject: params.id,
                      idparent: idx.id,
                    },
                  }).then((e) => {
                    // console.log(e);
                    if (e.status == true) {
                      if (e.data_act.length > 0) {
                        idx.subtask = true;
                      }
                    }
                    this.dataSubTaskSubmit.push(idx);
                  });
                });
                // meta.dataSubTaskSubmit = e.data_act.project_task;
              }
              // Complete
              api("/api/project/show/" + params.id, {
                data: {
                  idstatus: 1,
                  iddivision: this.state.iddivision,
                },
              }).then((e) => {
                this.dataSubTaskComplete = [];
                if (e.status == true) {
                  // console.log(e);
                  e.data_act.project_task.map((idx) => {
                    idx.startdate = dateFormat(idx.startdate, "MMM dd, YYY");
                    idx.duedate = dateFormat(idx.duedate, "MMM dd, YYY");
                    api("/api/project/task/subtask/show", {
                      data: {
                        idproject: params.id,
                        idparent: idx.id,
                      },
                    }).then((e) => {
                      // console.log(e);
                      if (e.status == true) {
                        if (e.data_act.length > 0) {
                          idx.subtask = true;
                        }
                      }
                      this.dataSubTaskComplete.push(idx);
                    });
                  });
                  // meta.dataSubTaskComplete = e.data_act.project_task;
                  this.isLoading = true;
                  this.isLoadingProject = true;
                }
              });
            });
          });
        });
      },
      loadDivisi: true,
    }}
    run={async () => {
      console.log("mendapatkan data: loading");
      api("/api/session").then((e) => {
        if (e.status == true || e.status == "true") {
          api("/api/project/show/" + params.id).then((e0) => {
            if (
              e.data_act.muser_role.name.toLowerCase() == "project manager" ||
              e.data_act.muser_role.name.toLowerCase() == "admin"
            ) {
              if (e0.data_act.project_division.length) {
                meta.state.iddivision = e0.data_act.project_division[0].id;
              }
            } else {
              meta.state.iddivision = e.data_act.muser_detail.iddivision;
            }
            // All Project
            console.log("ID DIVISI +> " + meta.state.iddivision);
            api("/api/project/show/" + params.id, {
              data: {
                iddivision: meta.state.iddivision,
              },
            }).then((e) => {
              console.log(e);
              if (e.status == true) {
                meta.state.judul = e.data_act.project.name;
                meta.link.detail = "/pm/projects/" + params.id + "/detail";
                meta.link.team = "/pm/projects/" + params.id + "/team";
                meta.link.task = "/pm/projects/" + params.id + "/task";
                meta.link.timeline = "/pm/projects/" + params.id + "/timeline";
                meta.link.planning = "/pm/projects/" + params.id + "/planning";
                meta.link.file =
                  "/pm/projects/" + params.id + "/file-management";
                e.data_act.project_task.map((idx) => {
                  idx.startdate = dateFormat(idx.startdate, "MMM dd, YYY");
                  idx.duedate = dateFormat(idx.duedate, "MMM dd, YYY");
                  idx.subtask = false;
                  api("/api/project/task/subtask/show", {
                    data: {
                      idproject: params.id,
                      idparent: idx.id,
                    },
                  }).then((e) => {
                    console.log(e);
                    if (e.status == true) {
                      if (e.data_act.length > 0) {
                        idx.subtask = true;
                      }
                    }
                    meta.data_task.push(idx);
                  });
                });
                console.log(e);
                var ttempDivision = [];
                // console.log(e);
                e.data_act.project_division.map((e) => {
                  // console.log(e);
                  ttempDivision.push({ value: e.id, label: e.division });
                });
                meta.user = ttempDivision;
                meta.loadDivisi = false;
                // META LINK

                // console.log(e);
              }
              // In proggress
              api("/api/project/show/" + params.id, {
                data: {
                  idstatus: 2,
                  iddivision: meta.state.iddivision,
                },
              }).then((e) => {
                // console.log(e.data_act.project_task);
                if (e.status == true) {
                  // console.log(e);
                  e.data_act.project_task.map((idx) => {
                    idx.startdate = dateFormat(idx.startdate, "MMM dd, YYY");
                    idx.duedate = dateFormat(idx.duedate, "MMM dd, YYY");
                    idx.subtask = false;
                    api("/api/project/task/subtask/show", {
                      data: {
                        idproject: params.id,
                        idparent: idx.id,
                      },
                    }).then((e) => {
                      // console.log(e);
                      if (e.status == true) {
                        if (e.data_act.length > 0) {
                          idx.subtask = true;
                        }
                      }
                      meta.dataSubTaskProgress.push(idx);
                    });
                  });
                }
                // Submitted
                api("/api/project/show/" + params.id, {
                  data: {
                    idstatus: 6,
                    iddivision: meta.state.iddivision,
                  },
                }).then((e) => {
                  if (e.status == true) {
                    // console.log(e);
                    e.data_act.project_task.map((idx) => {
                      idx.startdate = dateFormat(idx.startdate, "MMM dd, YYY");
                      idx.duedate = dateFormat(idx.duedate, "MMM dd, YYY");
                      api("/api/project/task/subtask/show", {
                        data: {
                          idproject: params.id,
                          idparent: idx.id,
                        },
                      }).then((e) => {
                        // console.log(e);
                        if (e.status == true) {
                          if (e.data_act.length > 0) {
                            idx.subtask = true;
                          }
                        }
                        meta.dataSubTaskSubmit.push(idx);
                      });
                    });
                    // meta.dataSubTaskSubmit = e.data_act.project_task;
                  }
                  // Complete
                  api("/api/project/show/" + params.id, {
                    data: {
                      idstatus: 1,
                      iddivision: meta.state.iddivision,
                    },
                  }).then((e) => {
                    if (e.status == true) {
                      // console.log(e);
                      e.data_act.project_task.map((idx) => {
                        idx.startdate = dateFormat(
                          idx.startdate,
                          "MMM dd, YYY"
                        );
                        idx.duedate = dateFormat(idx.duedate, "MMM dd, YYY");
                        api("/api/project/task/subtask/show", {
                          data: {
                            idproject: params.id,
                            idparent: idx.id,
                          },
                        }).then((e) => {
                          // console.log(e);
                          if (e.status == true) {
                            if (e.data_act.length > 0) {
                              idx.subtask = true;
                            }
                          }
                          meta.dataSubTaskComplete.push(idx);
                        });
                      });
                      // meta.dataSubTaskComplete = e.data_act.project_task;
                      meta.isLoading = true;
                    }
                  });
                });
              });
            });
          });
        }
      });
    }}
  />
  <div class="flex w-full self-stretch flex-col space-y-9 items-start justify-start px-10 pt-10">
    <div class="flex self-stretch flex-col space-y-9 items-start justify-start px-6 py-4 bg-white rounded">
      <div class="flex w-full items-start justify-between">
        <div class="flex items-start justify-start">
          <div class="text-xl font-medium tracking-wide leading-loose text-coolGray-900">
            {meta.state.judul}
          </div>
        </div>
        <div class="flex flex-col space-y-2 items-start justify-start">
          <div
            class="flex flex-col items-start justify-start"
            style="width: 304px; min-width: 304px; max-width: 304px; height: 10px; min-height: 10px; max-height: 10px;"
          >
            <bar percent={meta.state.proggres} />
          </div>
          <div class="flex items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              {meta.state.taskComplete} Task Done
            </div>
          </div>
        </div>
      </div>
      <div class="flex space-x-8 items-center justify-start">
        <a
          href={meta.link.detail}
          class="flex flex-grow items-center justify-center py-2 px-4 rounded border border-coolGray-400"
        >
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
            Project Detail
          </div>
        </a>
        <a
          href={meta.link.task}
          class="flex flex-grow items-center justify-center py-2 px-4 rounded border border-coolGray-400"
        >
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
            Task
          </div>
        </a>
        <a
          href={meta.link.planning}
          class="flex flex-grow items-center justify-center bg-coolGray-50 py-2 px-4 rounded border  border-indigo-400"
        >
          <div class="text-base font-medium tracking-wide leading-normal text-indigo-500">
            Planning
          </div>
        </a>
        <a
          href={meta.link.timeline}
          class="flex flex-grow items-center justify-center py-2 px-4 rounded border border-coolGray-400"
        >
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
            Timeline
          </div>
        </a>
        <a
          href={meta.link.file}
          class="flex flex-grow items-center justify-center py-2 px-4 rounded border border-coolGray-400"
        >
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
            File Management
          </div>
        </a>
        <a
          href={meta.link.team}
          class="flex flex-grow items-center justify-center py-2 px-4 rounded border border-coolGray-400"
        >
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
            Team
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="flex flex-col self-stretch space-y-8 p-10 w-auto">
    <div class="border border-coolGray-300">
      <div class="flex self-stretch items-center justify-between px-6 py-2.5 bg-white rounded-t">
        {meta.loadDivisi ? (
          <>
            <div
              class="flex items-center justify-center"
              style="backdrop-filter: blur(20px); width: 150px; z-index: 100"
              id="loading"
            >
              <div class="bg-gray-200 w-full h-8 animate-pulse rounded-2xl"></div>
            </div>
          </>
        ) : (
          <>
            <div class="text-sm font-medium tracking-wide leading-tight text-center text-coolGray-900 rounded-l border-r border-coolGray-300 pr-3">
              <label class="bg-white"></label>
              <multipleselect
                options={meta.user}
                defaultValue={
                  meta.state.iddivision == 0 || meta.state.iddivision == ""
                    ? meta.user[-1]
                    : meta.user[
                        meta.searchIdx(meta.state.iddivision, meta.user)
                      ]
                }
                theme={(theme) => ({
                  ...theme,
                  borderRadius: 0,
                  colors: {
                    ...theme.colors,
                    primary25: "#F3F4F6",
                    primary: "#6366F1",
                  },
                })}
                onChange={(event) => {
                  console.log(event.value);
                  meta.iddivision = event.value;
                  meta.state.iddivision = event.value;
                  console.log("ID DIVISION " + meta.iddivision);
                  meta.isLoadingProject = false;
                  meta.reloadProject(event.value);
                }}
                styles={meta.stylesx}
                className="w-48"
                classNamePrefix="select"
                name="status"
              />
            </div>
          </>
        )}
        <div class="flex items-start justify-start">
          <div class="flex items-center justify-between px-4 py-2 bg-coolGray-100 rounded w-48">
            <div class="flex items-start justify-start">
              <input
                placeholder="Search Task"
                class="text-xs tracking-wide leading-none text-start bg-coolGray-100 text-coolGray-500 focus:outline-none"
              />
            </div>
            <div class="flex items-start justify-start">
              <img
                src="/fimgs/320_715.x3.png"
                style="width: 14px; min-width: 14px; max-width: 14px; height: 14px; min-height: 14px; max-height: 14px"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col items-start justify-start">
        {meta.isLoading ? (
          <>
            <div class="flex flex-col items-end justify-end p-6">
              <div class="grid grid-cols-4 gap-8 flex-grow">
                <div class="space-y-4 items-start justify-start">
                  <div class="flex space-x-3 items-center justify-start px-4 py-4 bg-green-400">
                    <div class="flex items-start justify-start">
                      <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                        TODO
                      </div>
                    </div>
                    <div class="flex items-start justify-start pl-2 border-l">
                      <div class="text-sm tracking-wide leading-tight text-center text-coolGray-50">
                        {meta.data_task.length} Task
                      </div>
                    </div>
                  </div>
                  {meta.data_task.map((e) => {
                    return (
                      <>
                        <div class="flex flex-col items-start justify-start">
                          <div class="flex flex-col w-full items-start justify-start p-4 bg-white rounded-sm">
                            <div class="flex self-stretch flex-col space-y-4 items-end justify-start">
                              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                                  <div class="flex self-stretch space-x-2 items-center justify-start">
                                    <div class="flex items-center justify-center p-1 bg-indigo-500 rounded-full" />
                                    <div class="flex flex-1 items-start justify-start">
                                      <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                                        Division
                                      </div>
                                    </div>
                                  </div>
                                  <div class="flex self-stretch items-start justify-start">
                                    <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                                      {e.name}
                                    </div>
                                  </div>
                                </div>
                                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                                  <div class="flex self-stretch items-start justify-start">
                                    <div class="text-xs tracking-wide leading-none">
                                      <span class="text-green-500">
                                        {" "}
                                        {e.startdate} -{" "}
                                      </span>
                                      <span class="text-red-500">
                                        {" "}
                                        {e.duedate}{" "}
                                      </span>
                                    </div>
                                  </div>
                                  <div class="flex self-stretch space-x-4 items-center justify-start">
                                    <div class="flex items-center justify-center p-1 bg-indigo-500 rounded-full">
                                      <div class="text-xs tracking-wide leading-none text-center text-white">
                                        {e.mpriority.name}
                                      </div>
                                    </div>
                                    <div class="flex items-start justify-start p-1 border rounded border-indigo-500">
                                      <div class="text-xs tracking-wide leading-none text-center text-coolGray-500">
                                        {e.effort}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              {/*<img*/}
                              {/*src="/fimgs/457_1759.x3.png"*/}
                              {/*style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"*/}
                              {/*/>*/}
                            </div>
                          </div>
                        </div>
                      </>
                    );
                  })}
                </div>
                <div class="space-y-4 items-start justify-start">
                  <div class="flex space-x-3 items-center justify-start px-4 py-4 bg-indigo-400">
                    <div class="flex items-start justify-start">
                      <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                        IN PROGRESS
                      </div>
                    </div>
                    <div class="flex items-start justify-start pl-2 border-l">
                      <div class="text-sm tracking-wide leading-tight text-center text-coolGray-50">
                        {meta.dataSubTaskProgress.length} Task
                      </div>
                    </div>
                  </div>
                  {meta.dataSubTaskProgress.map((e) => {
                    return (
                      <>
                        <div class="flex flex-col items-start justify-start">
                          <div class="flex flex-col w-full items-start justify-start p-4 bg-white rounded-sm">
                            <div class="flex self-stretch flex-col space-y-4 items-end justify-start">
                              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                                  <div class="flex self-stretch space-x-2 items-center justify-start">
                                    <div class="flex items-center justify-center p-1 bg-indigo-500 rounded-full" />
                                    <div class="flex flex-1 items-start justify-start">
                                      <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                                        Division
                                      </div>
                                    </div>
                                  </div>
                                  <div class="flex self-stretch items-start justify-start">
                                    <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                                      {e.name}
                                    </div>
                                  </div>
                                </div>
                                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                                  <div class="flex self-stretch items-start justify-start">
                                    <div class="text-xs tracking-wide leading-none">
                                      <span class="text-green-500">
                                        {" "}
                                        {e.startdate} -{" "}
                                      </span>
                                      <span class="text-red-500">
                                        {" "}
                                        {e.duedate}{" "}
                                      </span>
                                    </div>
                                  </div>
                                  <div class="flex self-stretch space-x-4 items-center justify-start">
                                    <div class="flex items-center justify-center p-1 bg-indigo-500 rounded-full">
                                      <div class="text-xs tracking-wide leading-none text-center text-white">
                                        {e.mpriority.name}
                                      </div>
                                    </div>
                                    <div class="flex items-start justify-start p-1 border rounded border-indigo-500">
                                      <div class="text-xs tracking-wide leading-none text-center text-coolGray-500">
                                        {e.effort}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              {/*<img*/}
                              {/*src="/fimgs/457_1759.x3.png"*/}
                              {/*style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"*/}
                              {/*/>*/}
                            </div>
                          </div>
                        </div>
                      </>
                    );
                  })}
                </div>
                <div class="space-y-4 items-start justify-start">
                  <div class="flex space-x-3 items-center justify-start px-4 py-4 bg-blue-700">
                    <div class="flex items-start justify-start">
                      <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                        SUBMITTED
                      </div>
                    </div>
                    <div class="flex items-start justify-start pl-2 border-l">
                      <div class="text-sm tracking-wide leading-tight text-center text-coolGray-50">
                        {meta.dataSubTaskSubmit.length} Task
                      </div>
                    </div>
                  </div>
                  {meta.dataSubTaskSubmit.map((e) => {
                    return (
                      <>
                        <div class="flex flex-col items-start justify-start">
                          <div class="flex flex-col w-full items-start justify-start p-4 bg-white rounded-sm">
                            <div class="flex self-stretch flex-col space-y-4 items-end justify-start">
                              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                                  <div class="flex self-stretch space-x-2 items-center justify-start">
                                    <div class="flex items-center justify-center p-1 bg-indigo-500 rounded-full" />
                                    <div class="flex flex-1 items-start justify-start">
                                      <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                                        Division
                                      </div>
                                    </div>
                                  </div>
                                  <div class="flex self-stretch items-start justify-start">
                                    <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                                      {e.name}
                                    </div>
                                  </div>
                                </div>
                                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                                  <div class="flex self-stretch items-start justify-start">
                                    <div class="text-xs tracking-wide leading-none">
                                      <span class="text-green-500">
                                        {" "}
                                        {e.startdate} -{" "}
                                      </span>
                                      <span class="text-red-500">
                                        {" "}
                                        {e.duedate}{" "}
                                      </span>
                                    </div>
                                  </div>
                                  <div class="flex self-stretch space-x-4 items-center justify-start">
                                    <div class="flex items-center justify-center p-1 bg-indigo-500 rounded-full">
                                      <div class="text-xs tracking-wide leading-none text-center text-white">
                                        {e.mpriority.name}
                                      </div>
                                    </div>
                                    <div class="flex items-start justify-start p-1 border rounded border-indigo-500">
                                      <div class="text-xs tracking-wide leading-none text-center text-coolGray-500">
                                        {e.effort}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              {/*<img*/}
                              {/*src="/fimgs/457_1759.x3.png"*/}
                              {/*style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"*/}
                              {/*/>*/}
                            </div>
                          </div>
                        </div>
                      </>
                    );
                  })}
                </div>
                <div class="space-y-4 items-start justify-start">
                  <div class="flex space-x-3 items-center justify-start px-4 py-4 bg-orange-300">
                    <div class="flex items-start justify-start">
                      <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                        COMPLETE
                      </div>
                    </div>
                    <div class="flex items-start justify-start pl-2 border-l">
                      <div class="text-sm tracking-wide leading-tight text-center text-coolGray-50">
                        {meta.dataSubTaskComplete.length} Task
                      </div>
                    </div>
                  </div>
                  {meta.dataSubTaskComplete.map((e) => {
                    return (
                      <>
                        <div class="flex flex-col items-start justify-start">
                          <div class="flex flex-col w-full items-start justify-start p-4 bg-white rounded-sm">
                            <div class="flex self-stretch flex-col space-y-4 items-end justify-start">
                              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                                  <div class="flex self-stretch space-x-2 items-center justify-start">
                                    <div class="flex items-center justify-center p-1 bg-indigo-500 rounded-full" />
                                    <div class="flex flex-1 items-start justify-start">
                                      <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                                        Division
                                      </div>
                                    </div>
                                  </div>
                                  <div class="flex self-stretch items-start justify-start">
                                    <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                                      {e.name}
                                    </div>
                                  </div>
                                </div>
                                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                                  <div class="flex self-stretch items-start justify-start">
                                    <div class="text-xs tracking-wide leading-none">
                                      <span class="text-green-500">
                                        {" "}
                                        {e.startdate} -{" "}
                                      </span>
                                      <span class="text-red-500">
                                        {" "}
                                        {e.duedate}{" "}
                                      </span>
                                    </div>
                                  </div>
                                  <div class="flex self-stretch space-x-4 items-center justify-start">
                                    <div class="flex items-center justify-center p-1 bg-indigo-500 rounded-full">
                                      <div class="text-xs tracking-wide leading-none text-center text-white">
                                        {e.mpriority.name}
                                      </div>
                                    </div>
                                    <div class="flex items-start justify-start p-1 border rounded border-indigo-500">
                                      <div class="text-xs tracking-wide leading-none text-center text-coolGray-500">
                                        {e.effort}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              {/*<img*/}
                              {/*src="/fimgs/457_1759.x3.png"*/}
                              {/*style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"*/}
                              {/*/>*/}
                            </div>
                          </div>
                        </div>
                      </>
                    );
                  })}
                </div>
              </div>
            </div>
          </>
        ) : (
          <div class="flex self-stretch flex-wrap items-center justify-center">
            <div class="py-2 px-6 rounded-lg flex items-center flex-col">
              <div
                class="loader-dots block relative w-22 h-6 mt-2"
                style="width: 5rem;"
              >
                <div
                  class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                  style="top: 0; width: 0.75rem; height: 0.75rem;"
                ></div>
                <div
                  class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                  style="top: 0; 	width: 0.75rem; height: 0.75rem;"
                ></div>
                <div
                  class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                  style="top: 0; 	width: 0.75rem; height: 0.75rem;"
                ></div>
                <div
                  class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                  style="top: 0; 	width: 0.75rem; height: 0.75rem;"
                ></div>
              </div>
            </div>
          </div>
        )}
      </div>
    </div>
  </div>
</>