<>
  <effect
    meta={{
      togglePass() {
        this.showPass = !this.showPass;
        console.log(this.showPass);
      },
    }}
    run={async () => {}}
  />
  <div class="flex items-start justify-start bg-white">
    <div class="flex self-stretch items-start justify-start">
      <div class="flex flex-1 self-stretch flex-col space-y-44 items-start justify-start px-16 py-28 bg-indigo-800">
        <div class="flex flex-col items-start justify-start">
          <div class="flex flex-col items-start justify-start">
            <div class="flex flex-col items-start justify-start">
              <img
                src="/fimgs/158_346.x3.png"
                style="width: 95px; min-width: 95px; max-width: 95px; height: 25px; min-height: 25px; max-height: 25px;background-image: url('/fimgs/bg-01c629fc3acd69f34aaf15ba873a4238250ec41a');background-size:100% 100%;background-repeat:no-repeat;"
              />
            </div>
          </div>
        </div>
        <div class="flex flex-col space-y-6 items-start justify-start">
          <div class="flex flex-1 self-stretch items-start justify-start">
            <div class="text-4xl font-semibold tracking-wide leading-10 text-white">
              Monitoring dan Evaluasi
              <br />
              Projek
            </div>
          </div>
          <div class="flex self-stretch items-start justify-start">
            <div
              class={`text-xl tracking-wide leading-loose text-justify text-gray-300`}
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit
              at neque, in magna, ipsum dolor sit amet, consectetur adipiscing
              elit. Duis sit at neque, in magna.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-start justify-start px-32 py-72">
      <div class="flex flex-col items-start justify-start bg-white">
        <div class="flex flex-1 self-stretch flex-col space-y-14 items-center justify-center">
          <div
            class="flex flex-col space-y-1.5 items-start justify-start"
            style="width: 413px; min-width: 413px; max-width: 413px; height: 64px; min-height: 64px; max-height: 64px;"
          >
            <div class="flex self-stretch items-start justify-start">
              <div class="text-2xl font-semibold tracking-wide leading-loose text-coolGray-800">
                Selamat datang kembali
              </div>
            </div>
            <div class="flex self-stretch items-start justify-start">
              <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
                Masukkan identitas akun anda
              </div>
            </div>
          </div>
          <div class="flex flex-col space-y-14 items-start justify-start">
            <div class="flex self-stretch flex-col space-y-10 items-start justify-start">
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-800">
                    Email Address
                  </div>
                </div>
                <div class="flex self-stretch items-center justify-start p-3 bg-white border rounded border-coolGray-300">
                  <div class="flex flex-1 space-x-3 justify-start">
                    <img
                      src="/fimgs/I159_393_18_20.x3.png"
                      style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-ef3488923855607fdda3b615deaf86593bda50fb');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                    <input
                      id="email-address"
                      name="email"
                      type="email"
                      autoComplete="email"
                      required
                      placeholder="Email address"
                      class="text-base tracking-wide leading-normal focus:outline-none text-coolGray-500"
                      style="width: 325px; min-width: 325px; max-width: 325px; height: 24px; min-height: 24px; max-height: 24px;"
                    />
                  </div>
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-800">
                    Password
                  </div>
                </div>
                <div class="flex self-stretch items-center justify-start p-3 bg-white border rounded border-coolGray-300">
                  <div
                    class="flex flex-1 space-x-3 items-center justify-center"
                    style="width: 389px; min-width: 389px; max-width: 389px; height: 24px; min-height: 24px; max-height: 24px;"
                  >
                    <img
                      src="/fimgs/I159_397_18_30.x3.png"
                      style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-f279adea3b6c9025da363a2edf97ad97bcededaa');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                    <input
                      type={meta.showPass ? "text" : "password"}
                      autoComplete="current-password"
                      required
                      placeholder="Masukkan Kata sandi anda ..."
                      class="text-base tracking-wide leading-normal focus:outline-none text-coolGray-500"
                      style="width: 325px; min-width: 325px; max-width: 325px; height: 24px; min-height: 24px; max-height: 24px;"
                    />
                    <button onClick={meta.togglePass}>
                      {meta.showPass ? <eye-icon /> : <eye-slash />}
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <button
              class="flex flex-1 self-stretch flex-col items-start justify-start"
              style="width: 413px; min-width: 413px; max-width: 413px; height: 40px; min-height: 40px; max-height: 40px;"
            >
              <div class="flex self-stretch items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded">
                <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                  Masuk
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</>