<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex space-x-6 items-start justify-start px-9 py-14 bg-coolGray-100">
    <div class="flex flex-col space-y-6 items-start justify-start">
      <div class="flex space-x-6 items-start justify-start p-4 bg-white rounded">
        <div class="flex items-start justify-start">
          <img
            src="/fimgs/913_3599.x3.png"
            class="rounded-full"
            style="width: 56px; min-width: 56px; max-width: 56px; height: 56px; min-height: 56px; max-height: 56px;background-image: url('/fimgs/bg-159b62d75fc3b6b6a93f57e880d82817ba67fb05');background-size:100% 100%;background-repeat:no-repeat;"
          />
        </div>
        <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
          <div class="flex self-stretch items-start justify-start">
            <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
              Robert Andre
            </div>
          </div>
          <div class="flex self-stretch items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-400">
              UIUX Designer
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y-4 items-start justify-start p-4 bg-white">
        <div class="flex items-start justify-start">
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
            Account
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
          <div class="flex self-stretch space-x-3.5 items-start justify-start">
            <div class="flex flex-1 space-x-4 items-center justify-start">
              <img
                src="/fimgs/913_3611.x3.png"
                style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;background-image: url('/fimgs/bg-2d7b912babf6d36f5518a223e5cc582f0f4cdfff');background-size:100% 100%;background-repeat:no-repeat;"
              />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                  Profile
                </div>
              </div>
            </div>
            <img
              src="/fimgs/913_3614.x3.png"
              style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;background-image: url('/fimgs/bg-f1a21434bd1822df31d86fa74a7e187aae9b34c2');background-size:100% 100%;background-repeat:no-repeat;"
            />
          </div>
          <div class="flex self-stretch space-x-3.5 items-start justify-start">
            <div class="flex flex-1 space-x-4 items-center justify-start">
              <img
                src="/fimgs/913_3617.x3.png"
                style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;background-image: url('/fimgs/bg-f279adea3b6c9025da363a2edf97ad97bcededaa');background-size:100% 100%;background-repeat:no-repeat;"
              />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                  Change Password
                </div>
              </div>
            </div>
            <div style="background-image: url('/fimgs/bg-f1a21434bd1822df31d86fa74a7e187aae9b34c2');background-size:100% 100%;background-repeat:no-repeat;" />
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y-4 items-start justify-start p-4 bg-white">
        <div class="flex items-start justify-start">
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
            Projects
          </div>
        </div>
        <div class="flex flex-col space-y-6 items-start justify-start">
          <div class="flex items-center justify-between">
            <div class="flex space-x-2 items-start justify-start">
              <div style="background-image: url('/fimgs/bg-60b81e2b3bcdf1093ab1c51cbf9b5e396e91e401');background-size:100% 100%;background-repeat:no-repeat;" />
              <div class="flex items-start justify-start">
                <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                  In Progress
                </div>
              </div>
            </div>
            <div class="flex flex-col items-start justify-start px-2 bg-orange-400 bg-opacity-40 border rounded-sm border-orange-400">
              <div class="text-xs tracking-wide leading-none text-orange-400">
                1
              </div>
            </div>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex space-x-2 items-start justify-start">
              <div style="background-image: url('/fimgs/bg-6552b8ca638ee21af2b9f882dc9b710c62f305a8');background-size:100% 100%;background-repeat:no-repeat;" />
              <div class="flex items-start justify-start">
                <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                  Complete
                </div>
              </div>
            </div>
            <div class="flex flex-col items-start justify-start px-2 bg-green-200 border rounded-sm border-green-500">
              <div class="text-xs tracking-wide leading-none text-green-500">
                22
              </div>
            </div>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex space-x-2 items-start justify-start">
              <div style="background-image: url('/fimgs/bg-f21439af094322993e6e1a54d5e3f4a6856e429f');background-size:100% 100%;background-repeat:no-repeat;" />
              <div class="flex items-start justify-start">
                <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                  Unfinish
                </div>
              </div>
            </div>
            <div class="flex flex-col items-start justify-start px-2 bg-red-200 border rounded-sm border-red-500">
              <div class="text-xs tracking-wide leading-none text-red-500">
                3
              </div>
            </div>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex space-x-2 items-start justify-start">
              <div style="background-image: url('/fimgs/bg-d400ba7492bf1ca474cf6431a05b4cde4d73aa7b');background-size:100% 100%;background-repeat:no-repeat;" />
              <div class="flex items-start justify-start">
                <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                  Next Project
                </div>
              </div>
            </div>
            <div class="flex flex-col items-start justify-start px-2 bg-violet-300 border rounded-sm border-blue-700">
              <div class="text-xs tracking-wide leading-none text-blue-700">
                2
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-start justify-start p-4 bg-white rounded">
        <div class="flex self-stretch space-x-1 items-center justify-center px-4 py-2 border rounded border-indigo-500">
          <div class="text-base tracking-wide leading-normal text-center text-indigo-500">
            Sign Out
          </div>
          <div style="background-image: url('/fimgs/bg-2c31a4bef7222f4f42a329ceca482d1f32b54c91');background-size:100% 100%;background-repeat:no-repeat;" />
        </div>
      </div>
    </div>
    <div class="flex flex-1 self-stretch flex-col space-y-6 items-start justify-start p-6 bg-white rounded">
      <div class="flex items-start justify-start">
        <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
          Edit Profile
        </div>
      </div>
      <div class="flex flex-col">
        <div
          class="absolute left-0 top-0 rounded-full"
          style="background-image: url('/fimgs/bg-159b62d75fc3b6b6a93f57e880d82817ba67fb05');background-size:100% 100%;background-repeat:no-repeat;"
        />
        <div class="flex items-start justify-start p-2 absolute right-0 bottom-0 bg-coolGray-50 border rounded-full border-indigo-500">
          <div style="background-image: url('/fimgs/bg-d27a81846335da97cfaf66e17c29f537d0272aaa');background-size:100% 100%;background-repeat:no-repeat;" />
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-2.5 items-start justify-start relative overflow-y-auto">
        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
          <div class="flex self-stretch items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              Full Name
            </div>
          </div>
          <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
            <div class="flex flex-1 space-x-3 items-center justify-center">
              <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                Robert ANdre
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
          <div class="flex self-stretch items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              Devision
            </div>
          </div>
          <div class="flex self-stretch items-center justify-start px-6 py-3 bg-coolGray-50 rounded">
            <div class="flex flex-1 space-x-3 items-center justify-center">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Technology
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
          <div class="flex self-stretch items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              Department
            </div>
          </div>
          <div class="flex self-stretch items-center justify-start px-6 py-3 bg-coolGray-50 rounded">
            <div class="flex flex-1 space-x-3 items-center justify-center">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                UIUX Designer
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
          <div class="flex self-stretch items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              Email Address
            </div>
          </div>
          <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
            <div class="flex flex-1 space-x-3 items-center justify-center">
              <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                Hanifudin201@gmail.com
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
          <div class="flex self-stretch items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              NIK
            </div>
          </div>
          <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
            <div class="flex flex-1 space-x-3 items-center justify-center">
              <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                3323200235346354
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
          <div class="flex self-stretch items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              Phone Number
            </div>
          </div>
          <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
            <div class="flex flex-1 space-x-3 items-center justify-center">
              <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                081325450623
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
          <div class="flex self-stretch items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              Place and Date of Birth
            </div>
          </div>
          <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
            <div class="flex flex-1 space-x-3 items-center justify-center">
              <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                Magelang, 20 September 1999
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center px-4 py-2 bg-indigo-500 rounded">
        <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
          Save Change
        </div>
      </div>
    </div>
  </div>
</>