<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex items-start justify-start py-1.5 bg-coolGray-100 h-full">
    <div
      class="flex flex-col space-y-6 items-start justify-start"
      style="width: 335px; min-width: 335px; max-width: 335px;"
    >
      <div class="flex self-stretch flex-col items-start justify-start">
        <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
          <div class="flex flex-1 space-x-3 items-center justify-between">
            <div class="text-base tracking-wide leading-normal text-coolGray-500">
              Search Project
            </div>
            <img
              src="/fimgs/I627_2191_18_27.x1.png"
              style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
            />
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
        <div class="flex self-stretch space-x-4 items-center justify-start overflow-x-auto">
          <div class="flex flex-col items-start justify-start">
            <div class="flex items-start justify-start">
              <div class="flex items-start justify-start px-4 py-2 border rounded border-indigo-400">
                <div class="text-sm tracking-wide leading-tight text-center text-indigo-500">
                  All Projects
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col items-start justify-start">
            <div class="flex items-center justify-center px-4 py-2 rounded">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                In Progress
              </div>
            </div>
          </div>
          <div class="flex flex-col items-start justify-start">
            <div class="flex items-center justify-center px-4 py-2 rounded">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Complete
              </div>
            </div>
          </div>
          <div class="flex flex-col items-start justify-start">
            <div class="flex items-center justify-center px-4 py-2 rounded">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Uncomplete
              </div>
            </div>
          </div>
          <div class="flex flex-col items-start justify-start">
            <div class="flex items-center justify-center px-4 py-2 rounded">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Next Projects
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch items-center justify-end">
          <div class="flex items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-indigo-500">
              See All
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 flex-grow items-start justify-start relative overflow-y-auto">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start p-4 bg-white rounded">
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                    Pengembangan Aplikasi UMKM Kota Semarang
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                    <div class="flex flex-col items-start justify-start">
                      <img
                        src="/fimgs/627_2595.x1.png"
                        style="width: 127px; min-width: 127px; max-width: 127px; height: 10px; min-height: 10px; max-height: 10px;"
                      />
                    </div>
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-500">
                        10 Task Done
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-xs tracking-wide leading-none">
                      Due Date:
                      <br />
                      25, September 2021
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-center px-2 py-0.5 bg-orange-400 bg-opacity-70 rounded-sm">
              <div class="text-xs tracking-wide leading-none text-center text-white">
                In Progress
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start p-4 bg-white rounded">
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                    Pengembangan Website Company Profile
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                    <div class="flex flex-col items-start justify-start">
                      <img
                        src="/fimgs/627_2595.x1.png"
                        style="width: 127px; min-width: 127px; max-width: 127px; height: 10px; min-height: 10px; max-height: 10px;"
                      />
                    </div>
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-500">
                        10 Task Done
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-xs tracking-wide leading-none">
                      Due Date:
                      <br />
                      29, September 2021
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-center px-2 py-0.5 bg-green-200 border rounded-sm border-green-500">
              <div class="text-xs tracking-wide leading-none text-center text-green-500">
                Complete
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start p-4 bg-white rounded">
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                    Pengembangan Aplikasi UMKM Kota Semarang
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                    <div class="flex flex-col items-start justify-start">
                      <img
                        src="/fimgs/627_2595.x1.png"
                        style="width: 127px; min-width: 127px; max-width: 127px; height: 10px; min-height: 10px; max-height: 10px;"
                      />
                    </div>
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-500">
                        10 Task Done
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-xs tracking-wide leading-none">
                      Due Date:
                      <br />
                      25, September 2021
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-center px-2 py-0.5 bg-orange-400 bg-opacity-70 rounded-sm">
              <div class="text-xs tracking-wide leading-none text-center text-white">
                In Progress
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start p-4 bg-white rounded">
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                    Pengembangan Website Company Profile
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                    <div class="flex flex-col items-start justify-start">
                      <img
                        src="/fimgs/627_2595.x1.png"
                        style="width: 127px; min-width: 127px; max-width: 127px; height: 10px; min-height: 10px; max-height: 10px;"
                      />
                    </div>
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-500">
                        10 Task Done
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-xs tracking-wide leading-none">
                      Due Date:
                      <br />
                      29, September 2021
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-center px-2 py-0.5 bg-green-200 border rounded-sm border-green-500">
              <div class="text-xs tracking-wide leading-none text-center text-green-500">
                Complete
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex space-x-1 fixed items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 shadow rounded cursor-pointer"
        style="bottom: 100px; right: 20px"
      >
        <img
          src="/fimgs/612_2883.x3.png"
          style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
        />
        <div class="flex items-start justify-start">
          <div class="text-sm font-medium tracking-wide leading-tight text-white">
            New Project
          </div>
        </div>
      </div>
    </div>
  </div>
</>