<>
  <effect
    meta={{
      filled() {
        this.isFilled = !this.isFilled;
        this.showModal = !this.showModal;
      },
      toggleModal() {
        this.showModal = !this.showModal;
      },
      toggleDrop() {
        this.showDrop = !this.showDrop;
      },
    }}
    run={async () => {}}
  />
  <div
    class="flex flex-col items-start justify-start bg-coolGray-50"
    style="width: 1440px; min-width: 1440px; max-width: 1440px; height: 1024px; min-height: 1024px; max-height: 1024px;"
  >
    <div
      class="flex flex-1 self-stretch space-x-8 items-center justify-start"
      style="width: 1440px; min-width: 1440px; max-width: 1440px; height: 1024px; min-height: 1024px; max-height: 1024px;"
    >
      <div
        class="flex self-stretch flex-col items-start justify-start px-16 py-32 pt-32 bg-white"
        style="width: 298px; min-width: 298px; max-width: 298px; height: 1024px; min-height: 1024px; max-height: 1024px;"
      >
        <div
          class="flex flex-col space-y-10 items-start justify-start"
          style="width: 158px; min-width: 158px; max-width: 158px; height: 120px; min-height: 120px; max-height: 120px;"
        >
          <div
            class="flex self-stretch flex-col items-start justify-start"
            style="width: 158px; min-width: 158px; max-width: 158px; height: 40px; min-height: 40px; max-height: 40px;"
          >
            <a
              href="/analytics"
              class="flex self-stretch space-x-4 items-center justify-center py-2 pl-2 pr-10 rounded cursor-pointer"
              style="width: 158px; min-width: 158px; max-width: 158px; height: 40px; min-height: 40px; max-height: 40px;"
            >
              <img
                src="/fimgs/45_102.x3.png"
                class="flex items-start justify-start"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
              <div
                class="flex flex-1 items-start justify-start"
                style="width: 74px; min-width: 74px; max-width: 74px; height: 24px; min-height: 24px; max-height: 24px;"
              >
                <div class="text-base tracking-wide leading-normal text-coolGray-500 ">
                  Analytics
                </div>
              </div>
            </a>
          </div>
          <div
            class="flex self-stretch flex-col items-start justify-start"
            style="width: 158px; min-width: 158px; max-width: 158px; height: 40px; min-height: 40px; max-height: 40px;"
          >
            <a
              href="/projects"
              class="flex self-stretch space-x-4 items-center justify-center py-2 pl-2 pr-10  rounded cursor-pointer"
              style="width: 158px; min-width: 158px; max-width: 158px; height: 40px; min-height: 40px; max-height: 40px;"
            >
              <img
                src="/fimgs/45_103.x3.png"
                class="flex items-start justify-start"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
              <div
                class="flex flex-1 items-start justify-start"
                style="width: 74px; min-width: 74px; max-width: 74px; height: 24px; min-height: 24px; max-height: 24px;"
              >
                <div class="text-base tracking-wide leading-normal text-coolGray-500">
                  Projects
                </div>
              </div>
            </a>
          </div>
          <div
            class="flex self-stretch flex-col items-start justify-start"
            style="width: 158px; min-width: 158px; max-width: 158px; height: 40px; min-height: 40px; max-height: 40px;"
          >
            <a
              href="/employee"
              class="flex self-stretch space-x-4 items-center justify-center py-2 pl-2 pr-10 bg-violet-100 rounded cursor-pointer"
              style="width: 158px; min-width: 158px; max-width: 158px; height: 40px; min-height: 40px; max-height: 40px;"
            >
              <img
                src="/fimgs/452_1103.x3.png"
                class="flex items-start justify-start"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
              <div
                class="flex flex-1 items-start justify-start"
                style="width: 74px; min-width: 74px; max-width: 74px; height: 24px; min-height: 24px; max-height: 24px;"
              >
                <div class="text-base tracking-wide leading-normal text-blue-700">
                  Employee
                </div>
              </div>
            </a>
          </div>
          <div
            class="flex self-stretch flex-col items-start justify-start"
            style="width: 158px; min-width: 158px; max-width: 158px; height: 40px; min-height: 40px; max-height: 40px;"
          >
            <a
              href="/departements"
              class="flex self-stretch space-x-4 items-center justify-center py-2 pl-2 pr-10 rounded cursor-pointer"
              style="width: 158px; min-width: 158px; max-width: 158px; height: 40px; min-height: 40px; max-height: 40px;"
            >
              <img
                src="/fimgs/603_428.x3.png"
                class="flex items-start justify-start"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
              <div
                class="flex flex-1 items-start justify-start"
                style="width: 74px; min-width: 74px; max-width: 74px; height: 24px; min-height: 24px; max-height: 24px;"
              >
                <div class="text-base tracking-wide leading-normal text-coolGray-500">
                  Departements
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col space-y-10 items-start justify-start"
        style="width: 968px; min-width: 968px; max-width: 968px; height: 865px; min-height: 865px; max-height: 865px;"
      >
        <div
          class="flex self-stretch items-center justify-between"
          style="width: 968px; min-width: 968px; max-width: 968px; height: 40px; min-height: 40px; max-height: 40px;"
        >
          <div class="flex items-start justify-start">
            <div class="text-2xl font-medium tracking-wide leading-loose text-coolGray-900">
              Employee
            </div>
          </div>
          <div class="flex space-x-20 items-center justify-start">
            <div
              class="flex space-x-20 items-center justify-center px-4 py-2 bg-white rounded-full"
              style="width: 303px; min-width: 303px; max-width: 303px; height: 40px; min-height: 40px; max-height: 40px;"
            >
              <div
                class="flex flex-1 items-start justify-start"
                style="width: 177px; min-width: 177px; max-width: 177px; height: 24px; min-height: 24px; max-height: 24px;"
              >
                <input
                  placeholder="Search..."
                  class="text-base tracking-wide leading-normal text-coolGray-500 w-full placeholder-gray-400 focus:outline-none"
                />
              </div>
              <img
                src="/fimgs/609_809.x3.png"
                class="flex items-start justify-start cursor-pointer"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
            </div>
            <div
              class="flex items-start justify-between"
              style="width: 104px; min-width: 104px; max-width: 104px; height: 36px; min-height: 36px; max-height: 36px;"
            >
              <img
                src="/fimgs/604_1119.x3.png"
                class="flex items-center justify-center p-2 bg-white rounded-full cursor-pointer"
                style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;"
              />
              <img
                src="/fimgs/609_814.x3.png"
                class="flex items-center justify-center p-2 bg-white rounded-full cursor-pointer"
                style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;"
              />
            </div>
            <div
              class="flex flex-1 space-x-4 items-center justify-center"
              style="width: 191px; min-width: 191px; max-width: 191px; height: 39px; min-height: 39px; max-height: 39px;"
            >
              <img
                src="/fimgs/609_817.x3.png"
                class="flex items-start justify-start"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
              />
              <div class="flex flex-1 flex-col items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                    Gabriel Mikael
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-coolGray-500">
                    Project Manager
                  </div>
                </div>
              </div>
              <img
                src="/fimgs/609_824.x3.png"
                class="flex items-start justify-start cursor-pointer"
                style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
              />
            </div>
          </div>
        </div>

        {meta.isFilled ? (
          <>
            <div
              class="flex self-stretch space-x-96 items-start justify-start"
              style="width: 1000px; min-width: 1000px; max-width: 1000px; height: 59px; min-height: 59px; max-height: 59px;"
            >
              <div class="flex flex-1 flex-col space-y-2 items-start justify-start"></div>
              <div class="flex flex-col items-start justify-start">
                <button
                  onClick={meta.toggleModal}
                  class="flex space-x-3 items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded"
                  style="width: 229px; min-width: 229px; max-width: 229px; height: 40px; min-height: 40px; max-height: 40px;"
                >
                  <img
                    src="/fimgs/603_427.x3.png"
                    style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                  />
                  <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                    New Employee
                  </div>
                </button>
              </div>
            </div>
            <div class="flex flex-col items-start justify-start py-0.5 border rounded border-coolGray-300 shadow">
              <div class="flex self-stretch items-center justify-between bg-white shadow">
                <div class="text-sm font-medium tracking-wide leading-tight text-center text-coolGray-900 border-r border-coolGray-300 pr-3">
                  <label class="bg-white"></label>
                  <select
                    id="employee"
                    name="employee"
                    class="bg-white py-3 pl-4 outline-none"
                  >
                    <option value="volvo">All Employee</option>
                    <option value="saab">UI/UX Designer</option>
                    <option value="fiat">Business Analyst</option>
                    <option value="audi">Full Stack Developer</option>
                  </select>
                </div>
                <div class="flex items-start justify-start">
                  <div />
                </div>
              </div>
              <div class="flex flex-col p-6">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 ">
                  <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded">
                      <table
                        class="min-w-full divide-y divide-gray-200"
                        style="width: 950px"
                      >
                        <thead class="bg-white">
                          <tr>
                            <th
                              scope="col"
                              class="px-6 py-3 tracking-wider text-center justify-center mr-auto"
                            >
                              <div class=" text-sm font-medium text-gray-500 text-center ">
                                ID
                              </div>
                            </th>
                            <th
                              scope="col"
                              class="relative px-6 py-3 text-sm text-left justify-start font-medium text-gray-500"
                            >
                              <div class=" text-sm font-medium text-gray-500 text-start ">
                                Name
                              </div>
                            </th>
                            <th
                              scope="col"
                              class="relative px-6 py-3 text-sm text-left justify-start font-medium text-gray-500"
                            >
                              <div class=" text-sm font-medium text-gray-500 text-start ">
                                Departement
                              </div>
                            </th>
                            <th
                              scope="col"
                              class="relative px-6 py-3 text-sm text-left justify-start font-medium text-gray-500"
                            >
                              <div class=" text-sm font-medium text-gray-500 text-start ">
                                Phone
                              </div>
                            </th>
                            <th
                              scope="col"
                              class="relative px-6 py-3 text-sm text-left justify-start font-medium text-gray-500"
                            >
                              <div class=" text-sm font-medium text-gray-500 text-start ">
                                Address
                              </div>
                            </th>
                            <th
                              scope="col"
                              class="relative px-6 py-3 text-sm text-left justify-start font-medium text-gray-500"
                            >
                              <div class=" text-sm font-medium text-gray-500 text-start ">
                                Action
                              </div>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                          <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-center">
                              <div class="text-sm text-gray-900">01</div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-start">
                              <div class="text-sm text-gray-900">
                                Afif Hanifudin
                              </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-start">
                              <div class="text-sm text-gray-900">
                                UI/UX Designer
                              </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-start">
                              <div class="text-sm text-gray-900">
                                081325450623
                              </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-start">
                              <div class="text-sm text-gray-900">
                                Magelang, jateng
                              </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
                              <div class="flex flex-1 space-x-8 items-start justify-start">
                                <div class="cursor-pointer">
                                  <img
                                    style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;"
                                    src="/fimgs/295_279.x3.png"
                                  />
                                </div>
                                <div class="cursor-pointer">
                                  <img
                                    style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;"
                                    src="/fimgs/295_281.x3.png"
                                  />
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-center">
                              <div class="text-sm text-gray-900">01</div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-start">
                              <div class="text-sm text-gray-900">
                                Afif Hanifudin
                              </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-start">
                              <div class="text-sm text-gray-900">
                                UI/UX Designer
                              </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-start">
                              <div class="text-sm text-gray-900">
                                081325450623
                              </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-start">
                              <div class="text-sm text-gray-900">
                                Magelang, jateng
                              </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
                              <div class="flex flex-1 space-x-8 items-start justify-start">
                                <div class="cursor-pointer">
                                  <img
                                    style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;"
                                    src="/fimgs/295_279.x3.png"
                                  />
                                </div>
                                <div class="cursor-pointer">
                                  <img
                                    style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;"
                                    src="/fimgs/295_281.x3.png"
                                  />
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </>
        ) : (
          <div
            class="flex flex-1 self-stretch flex-col items-center justify-center  px-96 py-96"
            style="width: 968px; min-width: 968px; max-width: 1105px; height: 413px; min-height: 413px; max-height: 713px;"
          >
            <div class="flex flex-col space-y-6 items-center justify-center">
              <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
                Employee is still empty
              </div>
              <button
                onClick={meta.toggleModal}
                class="flex space-x-3 items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded"
                style="width: 229px; min-width: 229px; max-width: 229px; height: 40px; min-height: 40px; max-height: 40px;"
              >
                <img
                  src="/fimgs/603_427.x3.png"
                  style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                />
                <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                  New Employee
                </div>
              </button>
            </div>
          </div>
        )}
      </div>
    </div>
  </div>

  {meta.showModal ? (
    <>
      <div class="z-40 overflow-auto left-0 top-0 bottom-0 right-0 w-full h-full fixed">
        <div
          class="z-50 relative p-3 mx-auto my-0 max-w-full"
          style="width: 660px;"
        >
          <div class="relative w-auto mx-auto z-50 my-0 max-w-full">
            {/*content*/}
            <div class="border-0 rounded shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
              {/*body*/}
              <div class="border-0 rounded flex flex-col items-start justify-start relative overflow-ellipsis overflow-hidden bg-gray-50">
                <div class="flex self-stretch space-x-40 items-center justify-center pl-52 pr-8 py-5 bg-white rounded-md">
                  <div class="flex items-start justify-start">
                    <div class="text-xl font-medium tracking-wide leading-loose text-center text-coolGray-900 ml-97">
                      Add New Employee
                    </div>
                  </div>
                  <div
                    class="flex items-start justify-end"
                    style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
                  >
                    <img
                      onClick={meta.toggleModal}
                      src="/fimgs/264_170.x3.png"
                      class="cursor-pointer"
                    />
                    <div />
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-4 items-start justify-start p-11 -mt-2">
                  <div class="text-sm tracking-wide leading-tight text-gray-500">
                    Full Name
                  </div>
                  <div class="flex self-stretch items-center justify-start">
                    <div class="relative flex flex-1 items-center justify-start">
                      <input
                        id="name"
                        name="name"
                        type="text"
                        placeholder=""
                        class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-3 px-3"
                      />
                    </div>
                  </div>
                  <div class="text-sm tracking-wide leading-tight text-gray-500">
                    Departement
                  </div>
                  <div class="flex self-stretch items-center justify-start">
                    <div class="relative flex flex-1 items-center justify-start">
                      <select
                        id="employee"
                        name="employee"
                        class="text-base bg-white relative w-full border rounded placeholder-gray-400 border-gray-300 text-gray-500 focus:border-indigo-400 focus:outline-none py-4 px-3"
                        style="appearance:none; -webkit-appearance:none; -moz-appearance:none;-ms-appearance:none;"
                      >
                        <option value="uiux">UI/UX Designer</option>
                        <option value="ba">Business Analyst</option>
                        <option value="fsd">Full Stack Developer</option>
                      </select>
                      <div class="absolute flex border border-transparent right-0 top-0 h-full w-12">
                        <div class="flex items-center justify-center rounded-tr rounded-br z-10 text-lg h-full w-full">
                          <div class="cursor-pointer">
                            <img
                              src="/fimgs/609_414.x3.png"
                              style="width: 20px; min-width: 30px; max-width: 40px; height: 40px; min-height: 20px; max-height: 20px;background-size:100% 100%;background-repeat:no-repeat;"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-sm tracking-wide leading-tight text-gray-500">
                    Email Address
                  </div>
                  <div class="flex self-stretch items-center justify-start">
                    <div class="relative flex flex-1 items-center justify-start">
                      <input
                        id="name"
                        name="name"
                        type="email"
                        placeholder=""
                        class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-3 px-3"
                      />
                    </div>
                  </div>
                  <div class="text-sm tracking-wide leading-tight text-gray-500">
                    Phone
                  </div>
                  <div class="flex self-stretch items-center justify-start">
                    <div class="relative flex flex-1 items-center justify-start">
                      <input
                        id="name"
                        name="name"
                        type="number"
                        placeholder=""
                        class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-3 px-3"
                      />
                    </div>
                  </div>
                  <div class="text-sm tracking-wide leading-tight text-gray-500">
                    NIK
                  </div>
                  <div class="flex self-stretch items-center justify-start">
                    <div class="relative flex flex-1 items-center justify-start">
                      <input
                        id="name"
                        name="name"
                        type="number"
                        placeholder=""
                        class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-3 px-3"
                      />
                    </div>
                  </div>
                  <div class="text-sm tracking-wide leading-tight text-gray-500">
                    Birth Place
                  </div>
                  <div class="flex self-stretch items-center justify-start pb-5">
                    <div class="relative flex flex-1 items-center justify-start">
                      <input
                        id="name"
                        name="name"
                        type="text"
                        placeholder=""
                        class="text-base relative w-full border rounded placeholder-gray-400 border-gray-300 focus:border-indigo-400 focus:outline-none py-3 px-3"
                      />
                    </div>
                  </div>
                  <button
                    onClick={meta.filled}
                    class="flex flex-1 self-stretch flex-col items-start justify-start"
                  >
                    <div class="flex self-stretch items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded">
                      <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                        Save
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div className="opacity-25 fixed inset-0 z-40 bg-black"></div>
      </div>
    </>
  ) : null}
</>
