<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex self-stretch space-x-6 items-start justify-start">
    <div class="flex flex-col space-y-8 items-start justify-start">
      <div class="flex items-center justify-between">
        <div
          class="flex flex-col items-start justify-start border rounded border-coolGray-300"
          style="width: 338px; min-width: 338px; max-width: 338px; height: 284px; min-height: 284px; max-height: 284px;"
        >
          <div style="background-image: url('/fimgs/bg-4f10e37ded41a401e194fd3c21e2273cc190ab12');background-size:100% 100%;background-repeat:no-repeat;" />
          <div class="flex self-stretch space-x-2.5 items-center justify-center p-4 bg-white shadow-inner rounded-bl rounded-br">
            <div class="flex flex-1 space-x-2.5 items-center justify-start">
              <div style="background-image: url('/fimgs/bg-7f4889bfacdd9ba11e06130b303287fb849e9485');background-size:100% 100%;background-repeat:no-repeat;" />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-900">
                  Forgot Password Page
                </div>
              </div>
            </div>
            <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
          </div>
        </div>
        <div
          class="flex flex-col items-start justify-start border rounded border-coolGray-300"
          style="width: 338px; min-width: 338px; max-width: 338px; height: 284px; min-height: 284px; max-height: 284px;"
        >
          <div style="background-image: url('/fimgs/bg-ea8ababb8abe53a5e78e66c025b9ab8fdc766acc');background-size:100% 100%;background-repeat:no-repeat;" />
          <div class="flex self-stretch space-x-2.5 items-center justify-center p-4 bg-white shadow-inner rounded-bl rounded-br">
            <div class="flex flex-1 space-x-2.5 items-center justify-start">
              <div style="background-image: url('/fimgs/bg-6c4b026b5927f0fb0ee4b4b6523ad0b65d24974e');background-size:100% 100%;background-repeat:no-repeat;" />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-900">
                  Analisa Data
                </div>
              </div>
            </div>
            <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
          </div>
        </div>
      </div>
      <div class="flex items-center justify-between">
        <div
          class="flex flex-col items-start justify-start border rounded border-coolGray-300"
          style="width: 338px; min-width: 338px; max-width: 338px; height: 284px; min-height: 284px; max-height: 284px;"
        >
          <div style="background-image: url('/fimgs/bg-e8d9e3d2326ec4afefc19500abe225154a26fdda');background-size:100% 100%;background-repeat:no-repeat;" />
          <div class="flex self-stretch space-x-2.5 items-center justify-center p-4 bg-white shadow-inner rounded-bl rounded-br">
            <div class="flex flex-1 space-x-2.5 items-center justify-start">
              <div style="background-image: url('/fimgs/bg-7f4889bfacdd9ba11e06130b303287fb849e9485');background-size:100% 100%;background-repeat:no-repeat;" />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-900">
                  Login Page
                </div>
              </div>
            </div>
            <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
          </div>
        </div>
        <div
          class="flex flex-col items-start justify-start border rounded border-coolGray-300"
          style="width: 338px; min-width: 338px; max-width: 338px; height: 284px; min-height: 284px; max-height: 284px;"
        >
          <div style="background-image: url('/fimgs/bg-dd534110900decbbead90a3577522665e1612ff8');background-size:100% 100%;background-repeat:no-repeat;" />
          <div class="flex self-stretch space-x-2.5 items-center justify-center p-4 bg-white shadow-inner rounded-bl rounded-br">
            <div class="flex flex-1 space-x-2.5 items-center justify-start">
              <div style="background-image: url('/fimgs/bg-7f4889bfacdd9ba11e06130b303287fb849e9485');background-size:100% 100%;background-repeat:no-repeat;" />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-900">
                  Landing Page
                </div>
              </div>
            </div>
            <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col items-start justify-start"
      style="width: 385px; min-width: 385px; max-width: 385px; height: 586px; min-height: 586px; max-height: 586px;"
    >
      <div class="flex flex-col items-start justify-center py-6 pl-6 bg-white shadow-inner">
        <div class="flex self-stretch space-x-40 items-center justify-center pr-10">
          <div class="flex flex-1 space-x-4 items-center justify-start">
            <img
              src="/fimgs/558_1421.x1.svg"
              style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-6c4b026b5927f0fb0ee4b4b6523ad0b65d24974e');background-size:100% 100%;background-repeat:no-repeat;"
            />
            <div class="flex items-start justify-start">
              <div class="text-base tracking-wide leading-normal text-coolGray-900">
                Analisa Data
              </div>
            </div>
          </div>
          <img
            src="/fimgs/558_1424.x1.svg"
            style={`width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-7a5d22f5c00a48229fc86e35bd717347f0d60f8c');background-size:100% 100%;background-repeat:no-repeat;`}
          />
        </div>
      </div>
      <div class="flex items-start justify-start pl-6 pr-10 pt-4 pb-8 bg-white">
        <div class="flex flex-col space-y-4 items-start justify-start relative overflow-y-auto">
          <div class="flex items-start justify-start">
            <div class="text-base tracking-wide leading-normal text-coolGray-900">
              Detail File
            </div>
          </div>
          <div class="flex flex-col space-y-4 items-start justify-start">
            <div class="flex items-center justify-between">
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-500">
                  File Type:
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-900">
                  Word
                </div>
              </div>
            </div>
            <div class="flex items-center justify-between">
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-500">
                  Owner:
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-900">
                  Afif Hanifudin
                </div>
              </div>
            </div>
            <div class="flex items-center justify-between">
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-500">
                  Departmen:
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-900">
                  UIUX Designer
                </div>
              </div>
            </div>
            <div class="flex items-center justify-between">
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-500">
                  Upload Date:
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-900">
                  02/11/2021
                </div>
              </div>
            </div>
            <div class="flex items-center justify-between">
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-500">
                  Last Modified:
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div class="text-xs tracking-wide leading-none text-coolGray-900">
                  02/11/2021
                </div>
              </div>
            </div>
          </div>
          <div class="flex items-start justify-start">
            <div class="text-base tracking-wide leading-normal text-coolGray-900">
              Description File
            </div>
          </div>
          <div class="flex flex-col items-start justify-start p-4 border rounded border-coolGray-300">
            <div class="flex items-start justify-start">
              <div class="text-xs tracking-wide leading-none text-coolGray-500">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Libero,
                in tristique aliquam euismod purus tristique aenean tincidunt.
                Morbi sollicitudin cras consectetur egestas id augue rutrum.
                Elementum interdum magnis libero proin tristique nisl. Libero,
                in tristique aliquam euismod purus tristique aenean tincidunt.
                Morbi sollicitudin cras consectetur egestas id augue rutrum.
                Elementum interdum magnis libero proin tristique nisl.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>