<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-start justify-start bg-coolGray-100">
    <div class="flex items-start justify-start bg-white">undefined</div>
    <div class="flex flex-col space-y-6 items-start justify-start">
      <div class="flex self-stretch flex-col items-start justify-start">
        <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
          <div class="flex flex-1 space-x-3 items-center justify-center">
            <div class="text-base tracking-wide leading-normal text-coolGray-500">
              Search Project
            </div>
            <div style="background-image: url('/fimgs/bg-73e6c53226cf9e177674d4b42cdebde4ef14f8e5');background-size:100% 100%;background-repeat:no-repeat;" />
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
        <div class="flex self-stretch space-x-4 items-center justify-start">
          <div class="flex flex-col items-start justify-start">
            <div class="flex items-start justify-start">
              <div class="flex items-start justify-start px-4 py-2 border rounded border-indigo-400">
                <div class="text-sm tracking-wide leading-tight text-center text-indigo-500">
                  All Projects
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-col items-start justify-start">
            <div class="flex items-center justify-center px-4 py-2 rounded">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                In Progress
              </div>
            </div>
          </div>
          <div class="flex flex-col items-start justify-start">
            <div class="flex items-center justify-center px-4 py-2 rounded">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Complete
              </div>
            </div>
          </div>
          <div class="flex flex-col items-start justify-start">
            <div class="flex items-center justify-center px-4 py-2 rounded">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Uncomplete
              </div>
            </div>
          </div>
          <div class="flex flex-col items-start justify-start">
            <div class="flex items-center justify-center px-4 py-2 rounded">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Next Projects
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch items-center justify-end">
          <div class="flex items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-indigo-500">
              See All
            </div>
          </div>
        </div>
        <div class="flex flex-col space-y-4 items-start justify-start relative overflow-y-auto">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start p-4 bg-white rounded">
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch items-center justify-between">
                <div class="flex space-x-1 items-center justify-start">
                  <div class="flex items-start justify-start">
                    <div class="text-xs tracking-wide leading-none text-center text-coolGray-500">
                      Tim 6
                    </div>
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                    Pengembangan Aplikasi UMKM Kota Semarang
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                    <div class="flex flex-col items-start justify-start">
                      <div style="background-image: url('/fimgs/bg-e36261e3a8a3a89e16eb96b5cac50d45f460f00c');background-size:100% 100%;background-repeat:no-repeat;" />
                    </div>
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-500">
                        10 Task Done
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-xs tracking-wide leading-none">
                      Due Date:
                      <br />
                      25, September 2021
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-center px-2 py-0.5 bg-orange-400 bg-opacity-70 rounded-sm">
              <div class="text-xs tracking-wide leading-none text-center text-white">
                In Progress
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start p-4 bg-white rounded">
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch items-center justify-between">
                <div class="flex space-x-1 items-center justify-start">
                  <div class="flex items-start justify-start">
                    <div class="text-xs tracking-wide leading-none text-center text-coolGray-500">
                      Tim 8
                    </div>
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                    Pengembangan Website Company Profile
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                    <div class="flex flex-col items-start justify-start">
                      <div style="background-image: url('/fimgs/bg-e36261e3a8a3a89e16eb96b5cac50d45f460f00c');background-size:100% 100%;background-repeat:no-repeat;" />
                    </div>
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-500">
                        10 Task Done
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-xs tracking-wide leading-none">
                      Due Date:
                      <br />
                      29, September 2021
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-center px-2 py-0.5 bg-green-200 border rounded-sm border-green-500">
              <div class="text-xs tracking-wide leading-none text-center text-green-500">
                Complete
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start p-4 bg-white rounded">
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch items-center justify-between">
                <div class="flex space-x-1 items-center justify-start">
                  <div class="flex items-start justify-start">
                    <div class="text-xs tracking-wide leading-none text-center text-coolGray-500">
                      Tim 1
                    </div>
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                    Pengembangan Aplikasi Ojek Sepeda Pemkot Magelang{" "}
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                    <div class="flex flex-col items-start justify-start">
                      <div style="background-image: url('/fimgs/bg-e36261e3a8a3a89e16eb96b5cac50d45f460f00c');background-size:100% 100%;background-repeat:no-repeat;" />
                    </div>
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-500">
                        10 Task Done
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-xs tracking-wide leading-none">
                      Due Date:
                      <br />
                      27, September 2021
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-center px-2 py-0.5 bg-green-200 border rounded-sm border-green-500">
              <div class="text-xs tracking-wide leading-none text-center text-green-500">
                Complete
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start p-4 bg-white rounded">
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch items-center justify-between">
                <div class="flex space-x-1 items-center justify-start">
                  <div class="flex items-start justify-start">
                    <div class="text-xs tracking-wide leading-none text-center text-coolGray-500">
                      Tim 2
                    </div>
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                    Pengembangan Aplikasi Akuntansi PT. Sido Maju
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                    <div class="flex flex-col items-start justify-start">
                      <div style="background-image: url('/fimgs/bg-e36261e3a8a3a89e16eb96b5cac50d45f460f00c');background-size:100% 100%;background-repeat:no-repeat;" />
                    </div>
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-500">
                        10 Task Done
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-xs tracking-wide leading-none">
                      Due Date:
                      <br />
                      30, September 2021
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-center px-2 py-0.5 bg-orange-400 bg-opacity-70 rounded-sm">
              <div class="text-xs tracking-wide leading-none text-center text-white">
                In Progress
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start p-4 bg-white rounded">
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch items-center justify-between">
                <div class="flex space-x-1 items-center justify-start">
                  <div class="flex items-start justify-start">
                    <div class="text-xs tracking-wide leading-none text-center text-coolGray-500">
                      Tim 3
                    </div>
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                    Pengembangan Aplikasi LSM SMA Negeri 1 Yogyakarta
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                    <div class="flex flex-col items-start justify-start">
                      <div style="background-image: url('/fimgs/bg-e36261e3a8a3a89e16eb96b5cac50d45f460f00c');background-size:100% 100%;background-repeat:no-repeat;" />
                    </div>
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-500">
                        10 Task Done
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-xs tracking-wide leading-none">
                      Due Date:
                      <br />
                      28, September 2021
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-center px-2 py-0.5 bg-blue-700 bg-opacity-70 rounded-sm">
              <div class="text-xs tracking-wide leading-none text-center text-white">
                Next Project
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start p-4 bg-white rounded">
            <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
              <div class="flex self-stretch items-center justify-between">
                <div class="flex space-x-1 items-center justify-start">
                  <div class="flex items-start justify-start">
                    <div class="text-xs tracking-wide leading-none text-center text-coolGray-500">
                      Tim 9
                    </div>
                  </div>
                </div>
                <div class="flex items-start justify-start">
                  <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
                </div>
              </div>
              <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                    Pengembangan Aplikasi Mobile Rs. Adisucipto Solo
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch flex-col space-y-1 items-start justify-start">
                    <div class="flex flex-col items-start justify-start">
                      <div style="background-image: url('/fimgs/bg-e36261e3a8a3a89e16eb96b5cac50d45f460f00c');background-size:100% 100%;background-repeat:no-repeat;" />
                    </div>
                    <div class="flex items-start justify-start">
                      <div class="text-xs tracking-wide leading-none text-coolGray-500">
                        10 Task Done
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-xs tracking-wide leading-none">
                      Due Date:
                      <br />
                      26, September 2021
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-center px-2 py-0.5 bg-red-500 bg-opacity-70 rounded-sm">
              <div class="text-xs tracking-wide leading-none text-center text-white">
                Unfinished
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex space-x-1 items-center justify-center px-4 py-2 bg-indigo-500 shadow rounded">
      <div />
      <div class="text-sm font-medium tracking-wide leading-tight text-white">
        New Project
      </div>
    </div>
    <div class="flex flex-col items-center justify-center p-4 bg-white shadow">
      <div class="flex space-x-10 items-start justify-start">
        <img
          src="/fimgs/I894_3201_1530_5449.x3.png"
          class="flex flex-col items-center justify-center"
          style="width: 42px; min-width: 42px; max-width: 42px; height: 41px; min-height: 41px; max-height: 41px;"
        />
        <img
          src="/fimgs/I894_3201_1530_5453.x3.png"
          class={`flex flex-col items-center justify-center`}
          style={`width: 56px; min-width: 56px; max-width: 56px; height: 41px; min-height: 41px; max-height: 41px;`}
        />
        <img
          src="/fimgs/I894_3201_1530_5457.x3.png"
          class="flex flex-col items-center justify-center"
          style="width: 60px; min-width: 60px; max-width: 60px; height: 41px; min-height: 41px; max-height: 41px;"
        />
        <img
          src="/fimgs/I894_3201_1530_5461.x3.png"
          class="flex flex-col items-center justify-center"
          style="width: 59px; min-width: 59px; max-width: 59px; height: 41px; min-height: 41px; max-height: 41px;"
        />
      </div>
    </div>
  </div>
</>