<>
  <effect meta={{}} run={async () => {}} />
  <div class={`flex flex-col items-center justify-center bg-white m-auto`}>
    <div class="flex flex-col items-center justify-center m-auto">
      <div class="flex flex-1 self-stretch flex-col items-center justify-center border rounded border-coolGray-300 py-20 px-20">
        <div class="flex self-stretch flex-col items-center justify-center">
          <div class="flex flex-col space-y-6 items-center justify-center">
            <div
              class={`flex flex-1 self-stretch flex-col items-start justify-start bg-white`}
            >
              <div class="flex self-stretch flex-col items-start justify-start">
                <button class="flex space-x-2 items-start justify-start">
                  <div class="flex flex-1 items-start justify-start">
                    <img
                      src="/fimgs/I205_215_201_147.x3.png"
                      style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;background-image: url('/fimgs/bg-3ce3a3b71945e1763782c48530f736aac19630db');background-size:100% 100%;background-repeat:no-repeat;"
                    />
                  </div>
                  <div class="flex items-start justify-start">
                    <div class="text-base font-medium tracking-wide leading-normal text-indigo-500">
                      Back
                    </div>
                  </div>
                </button>
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-10 items-start justify-start">
              <div class="flex self-stretch flex-col space-y-1.5 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-2xl font-semibold tracking-wide leading-loose text-coolGray-800">
                    Reset Your Password
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
                    Create New Password
                  </div>
                </div>
              </div>

              <div class="flex self-stretch flex-col space-y-10 items-start justify-start">
                <div class="flex self-stretch flex-col space-y-10 items-start justify-center">
                  <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                    <div class="flex self-stretch items-start justify-start">
                      <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-800">
                        Create New Password
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-start">
                      <div class="relative flex flex-1 items-center justify-start">
                        <div class="absolute flex border border-transparent left-0 top-0 h-full w-12">
                          <div class="flex items-center justify-center rounded-tl rounded-bl z-10 text-lg h-full w-full">
                            <img
                              src="/fimgs/I159_397_18_30.x3.png"
                              style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-f279adea3b6c9025da363a2edf97ad97bcededaa');background-size:100% 100%;background-repeat:no-repeat;"
                            />
                          </div>
                        </div>
                        <input
                          type="password"
                          autoComplete="current-password"
                          required
                          placeholder="Masukkan kata sandi baru anda"
                          class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-3 pl-12"
                        />
                        <div class="absolute flex border border-transparent right-0 top-0 h-full w-12">
                          <div class="flex items-center justify-center rounded-tr rounded-br z-10 text-lg h-full w-full">
                            <button style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-023bedad52ab48ad687814f628b1cfb91fab786c');background-size:100% 100%;background-repeat:no-repeat;" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
                    <div class="flex self-stretch items-start justify-start">
                      <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-800">
                        Confirm Password
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-start">
                      <div class="relative flex flex-1 items-center justify-start">
                        <div class="absolute flex border border-transparent left-0 top-0 h-full w-12">
                          <div class="flex items-center justify-center rounded-tl rounded-bl z-10 text-lg h-full w-full">
                            <img
                              src="/fimgs/I159_397_18_30.x3.png"
                              style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-f279adea3b6c9025da363a2edf97ad97bcededaa');background-size:100% 100%;background-repeat:no-repeat;"
                            />
                          </div>
                        </div>
                        <input
                          type="password"
                          autoComplete="current-password"
                          required
                          placeholder="Konfirmasi kata sandi anda"
                          class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-3 pl-12"
                        />
                        <div class="absolute flex border border-transparent right-0 top-0 h-full w-12">
                          <div class="flex items-center justify-center rounded-tr rounded-br z-10 text-lg h-full w-full">
                            <button style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-023bedad52ab48ad687814f628b1cfb91fab786c');background-size:100% 100%;background-repeat:no-repeat;" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button
                class="flex flex-1 self-stretch flex-col items-start justify-start"
                style="width: 413px; min-width: 413px; max-width: 413px; height: 40px; min-height: 40px; max-height: 40px;"
              >
                <div class="flex self-stretch items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded">
                  <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                    Reset Password
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>