<>
  <effect meta={{}} run={async () => {}} />
  <div
    class="flex flex-col items-start justify-start bg-coolGray-50"
    style="width: 1440px; min-width: 1440px; max-width: 1440px; height: 1024px; min-height: 1024px; max-height: 1024px;"
  >
    <div class="flex self-stretch space-x-8 items-center justify-start">
      <div
        class="flex flex-col items-start justify-start pl-16 pt-32"
        style="width: 372px; min-width: 372px; max-width: 372px; height: 1024px; min-height: 1024px; max-height: 1024px;"
      >
        <div
          class="flex flex-col space-y-10 items-center justify-center"
          style="width: 158px; min-width: 158px; max-width: 158px; height: 120px; min-height: 120px; max-height: 120px;"
        >
          <div
            class="flex flex-col items-start justify-start"
            style="width: 158px; min-width: 158px; max-width: 158px; height: 40px; min-height: 40px; max-height: 40px;"
          >
            <div class="flex self-stretch space-x-4 items-center justify-center py-2 pl-2 pr-10 bg-violet-100 rounded">
              <img
                src="/fimgs/I604_1104_45_98.x3.png"
                class="flex items-start justify-start"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-base tracking-wide leading-normal text-blue-700">
                  Analytics
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex flex-col items-start justify-start"
            style="width: 158px; min-width: 158px; max-width: 158px; height: 40px; min-height: 40px; max-height: 40px;"
          >
            <div
              class="flex self-stretch space-x-4 items-center justify-center py-2 pl-2 pr-10 rounded"
              style="width: 158px; min-width: 158px; max-width: 158px; height: 40px; min-height: 40px; max-height: 40px;"
            >
              <img
                src="/fimgs/I604_1106_45_102.x3.png"
                class="flex items-start justify-start"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-base tracking-wide leading-normal text-coolGray-500">
                  Projects
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col space-y-10 items-start justify-start"
        style="width: 968px; min-width: 968px; max-width: 968px; height: 865px; min-height: 865px; max-height: 865px;"
      >
        <div
          class="flex self-stretch items-center justify-between"
          style="width: 968px; min-width: 968px; max-width: 968px; height: 40px; min-height: 40px; max-height: 40px;"
        >
          <div class="flex items-start justify-start">
            <div class="text-2xl font-medium tracking-wide leading-loose text-coolGray-900">
              Analytics
            </div>
          </div>
          <div
            class="flex space-x-20 items-center justify-start"
            style="width: 746px; min-width: 746px; max-width: 746px; height: 40px; min-height: 40px; max-height: 40px;"
          >
            <div
              class="flex space-x-20 items-center justify-center px-4 py-2 bg-white rounded-full"
              style="width: 303px; min-width: 303px; max-width: 303px; height: 40px; min-height: 40px; max-height: 40px;"
            >
              <div class="flex flex-1 items-start justify-start">
                <div class="text-base tracking-wide leading-normal text-coolGray-500">
                  Search...
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div style="background-image: url('/fimgs/bg-73e6c53226cf9e177674d4b42cdebde4ef14f8e5');background-size:100% 100%;background-repeat:no-repeat;" />
              </div>
            </div>
            <div class="flex items-start justify-between">
              <div class="flex items-center justify-center p-2 bg-white rounded-full">
                <div style="background-image: url('/fimgs/bg-ab00491eb369e5f5b05b63bb68ee6049f32d6841');background-size:100% 100%;background-repeat:no-repeat;" />
              </div>
              <div class="flex items-center justify-center p-2 bg-white rounded-full">
                <div style="background-image: url('/fimgs/bg-d30c00f124d78ed0436cdd9a705ced623dad8229');background-size:100% 100%;background-repeat:no-repeat;" />
              </div>
            </div>
            <div class="flex flex-1 space-x-4 items-center justify-center">
              <div class="flex items-start justify-start">
                <div style="background-image: url('/fimgs/bg-12f530a534d365eeaf563eb0df6f4d554e4b2a05');background-size:100% 100%;background-repeat:no-repeat;" />
              </div>
              <div class="flex flex-1 flex-col items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                    Gabriel Mikael
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-coolGray-500">
                    Project Manager
                  </div>
                </div>
              </div>
              <div class="flex items-start justify-start">
                <div style="background-image: url('/fimgs/bg-09b5b972072bcfc098c06e90d718895dbb4e537a');background-size:100% 100%;background-repeat:no-repeat;" />
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col space-y-14 items-start justify-start">
          <div class="flex self-stretch space-x-14 items-start justify-start">
            <div class="flex flex-1 space-x-3 items-start justify-start py-4 pl-4 bg-white rounded">
              <div class="flex items-center justify-center p-1.5 bg-blue-700 rounded-full">
                <div style="background-image: url('/fimgs/bg-2a02eaaaac10816fa0f37e13b32b5791e32a647c');background-size:100% 100%;background-repeat:no-repeat;" />
              </div>
              <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                    New Project
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="text-4xl font-semibold tracking-wide leading-10 text-coolGray-900">
                    25
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-1 space-x-3 items-start justify-start py-4 pl-4 bg-white rounded">
              <div class="flex items-center justify-center p-1.5 bg-orange-400 rounded-full">
                <div style="background-image: url('/fimgs/bg-14568c6e8836a745877cf0bd6751985244d12fa8');background-size:100% 100%;background-repeat:no-repeat;" />
              </div>
              <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                    In Progress
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="text-4xl font-semibold tracking-wide leading-10 text-coolGray-900">
                    25
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-1 space-x-3 items-start justify-start py-4 pl-4 bg-white rounded">
              <div class="flex items-center justify-center p-1.5 bg-green-500 rounded-full">
                <div style="background-image: url('/fimgs/bg-ac378b643c866729c504b8219344c131678eb42c');background-size:100% 100%;background-repeat:no-repeat;" />
              </div>
              <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                    Complete
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="text-4xl font-semibold tracking-wide leading-10 text-coolGray-900">
                    25
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-1 space-x-3 items-start justify-start py-4 pl-4 bg-white rounded">
              <div class="flex items-center justify-center p-1.5 bg-red-500 rounded-full">
                <div style="background-image: url('/fimgs/bg-869f2e9e32d1102b4e109c2e324676db1de4510d');background-size:100% 100%;background-repeat:no-repeat;" />
              </div>
              <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                    Unfinish
                  </div>
                </div>
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="text-4xl font-semibold tracking-wide leading-10 text-coolGray-900">
                    25
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-10 items-start justify-start">
            <div class="flex self-stretch space-x-96 items-start justify-start">
              <div class="flex flex-1 flex-col space-y-2 items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xl font-medium tracking-wide leading-loose text-coolGray-900">
                    Important Project
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                    You can add important projects here
                  </div>
                </div>
              </div>
              <div class="flex flex-col items-start justify-start">
                <div class="flex space-x-1 items-center justify-center px-4 py-2 bg-indigo-500 rounded">
                  <div />
                  <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                    Add ImportantProject
                  </div>
                </div>
              </div>
            </div>
            <div class="flex self-stretch flex-col space-y-9 items-start justify-start">
              <div class="flex self-stretch space-x-8 items-start justify-start">
                <div class="flex flex-1 flex-col items-start justify-start px-4 py-6 bg-white rounded">
                  <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
                    <div class="flex self-stretch items-start justify-between">
                      <div class="flex items-center justify-start">
                        <div class="text-base font-medium tracking-wide leading-normal text-center text-coolGray-500">
                          Tim 6
                        </div>
                      </div>
                      <div class="flex items-start justify-start">
                        <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                          Pengembangan Aplikasi UMKM Kota Semarang
                        </div>
                      </div>
                      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div style="background-image: url('/fimgs/bg-e36261e3a8a3a89e16eb96b5cac50d45f460f00c');background-size:100% 100%;background-repeat:no-repeat;" />
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                            10 Task Done
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight">
                            Due Date: 25/09/2021
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex flex-1 flex-col items-start justify-start px-4 py-6 bg-white rounded">
                  <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
                    <div class="flex self-stretch items-start justify-between">
                      <div class="flex items-center justify-start">
                        <div class="text-base font-medium tracking-wide leading-normal text-center text-coolGray-500">
                          Tim 8
                        </div>
                      </div>
                      <div class="flex items-start justify-start">
                        <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                          Pengembangan Website Company Profile
                        </div>
                      </div>
                      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div style="background-image: url('/fimgs/bg-171927e3e481fc0fb545d69bf198b7b1d8a535dc');background-size:100% 100%;background-repeat:no-repeat;" />
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                            15 Task Done
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight">
                            Due Date: 29/09/2021
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex flex-1 flex-col items-start justify-start px-4 py-6 bg-white rounded">
                  <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
                    <div class="flex self-stretch items-start justify-between">
                      <div class="flex items-center justify-start">
                        <div class="text-base font-medium tracking-wide leading-normal text-center text-coolGray-500">
                          Tim 1
                        </div>
                      </div>
                      <div class="flex items-start justify-start">
                        <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                          Pengembangan Aplikasi Ojek Sepeda Pemkot Magelang
                        </div>
                      </div>
                      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div style="background-image: url('/fimgs/bg-6986a74db2a616d96c1e73cb30da5514cdfdaa2e');background-size:100% 100%;background-repeat:no-repeat;" />
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                            20 Task Done
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight">
                            Due Date: 27/09/2021
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex self-stretch space-x-8 items-start justify-start">
                <div class="flex flex-1 flex-col items-start justify-start px-4 py-6 bg-white rounded">
                  <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
                    <div class="flex self-stretch items-start justify-between">
                      <div class="flex items-center justify-start">
                        <div class="text-base font-medium tracking-wide leading-normal text-center text-coolGray-500">
                          Tim 2
                        </div>
                      </div>
                      <div class="flex items-start justify-start">
                        <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                          Pengembangan Aplikasi Akuntasi PT. Sido Maju
                        </div>
                      </div>
                      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div style="background-image: url('/fimgs/bg-700b9e9c6472eabc6fb2a593bb0cb2477fb10a99');background-size:100% 100%;background-repeat:no-repeat;" />
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                            18 Task Done
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight">
                            Due Date: 30/09/2021
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex flex-1 flex-col items-start justify-start px-4 py-6 bg-white rounded">
                  <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
                    <div class="flex self-stretch items-start justify-between">
                      <div class="flex items-center justify-start">
                        <div class="text-base font-medium tracking-wide leading-normal text-center text-coolGray-500">
                          Tim 3
                        </div>
                      </div>
                      <div class="flex items-start justify-start">
                        <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                          Pengembangan Aplikasi LSM SMA Negeri 1 Yogyakarta
                        </div>
                      </div>
                      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div style="background-image: url('/fimgs/bg-e36261e3a8a3a89e16eb96b5cac50d45f460f00c');background-size:100% 100%;background-repeat:no-repeat;" />
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                            10 Task Done
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight">
                            Due Date: 28/09/2021
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex flex-1 flex-col items-start justify-start px-4 py-6 bg-white rounded">
                  <div class="flex self-stretch flex-col space-y-8 items-start justify-start">
                    <div class="flex self-stretch items-start justify-between">
                      <div class="flex items-center justify-start">
                        <div class="text-base font-medium tracking-wide leading-normal text-center text-coolGray-500">
                          Tim 9
                        </div>
                      </div>
                      <div class="flex items-start justify-start">
                        <div style="background-image: url('/fimgs/bg-07ffa7a10ad39ba434d9b60ff418047087d7d22e');background-size:100% 100%;background-repeat:no-repeat;" />
                      </div>
                    </div>
                    <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
                      <div class="flex self-stretch items-start justify-start">
                        <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                          Pengembangan Aplikasi Mobile Rs. Adisucipto Solo
                        </div>
                      </div>
                      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                        <div class="flex self-stretch flex-col items-start justify-start">
                          <div style="background-image: url('/fimgs/bg-e36261e3a8a3a89e16eb96b5cac50d45f460f00c');background-size:100% 100%;background-repeat:no-repeat;" />
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                            20 Task Done
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight">
                            Due Date: 26/09/2021
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>