<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col items-center justify-start p-8 bg-white rounded">
    <div class="flex flex-col space-y-16 items-center justify-start">
      <div class="flex flex-col space-y-11 items-center justify-start">
        <img
          src="/fimgs/2213_6932.x1.svg"
          class="flex flex-col items-start justify-start shadow"
          style="width: 186.46px; min-width: 186.46px; max-width: 186.46px; height: 183.92px; min-height: 183.92px; max-height: 183.92px;"
        />
        <div class="flex flex-col space-y-2 items-center justify-start">
          <div class="flex items-start justify-start">
            <div class="text-xl font-medium tracking-wide leading-loose text-center text-coolGray-900">
              Project Successfully Created
            </div>
          </div>
          <div class="flex items-start justify-start">
            <div class="text-base tracking-wide leading-normal text-center text-coolGray-500">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas
              tristique amet in a elementum.{" "}
            </div>
          </div>
        </div>
      </div>
      <div class="flex space-x-6 items-start justify-start">
        <div class="flex items-start justify-start">
          <div class="flex items-start justify-start px-4 py-2 rounded">
            <div class="text-base font-medium tracking-wide leading-normal text-center text-coolGray-500">
              Skip
            </div>
          </div>
        </div>
        <div class="flex items-start justify-start bg-indigo-500 rounded">
          <div class="flex items-start justify-start px-4 py-2 rounded">
            <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
              Go to Project
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>