<>
  <effect
    meta={{
      state: { email: "", password: "" },
      showErrorMessage: false,

      handleSubmit(event) {
        const requestOptions = {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(this.state),
        };
        fetch(window.location.origin + "/api/login", requestOptions).then(
          (response) => {
            response.json().then((e) => {
              console.log(e);
              if (e.status == true || e.status == "true") {
                // console.log(e.data_act.muser_role.name.toLowerCase() == 'project manager');
                if (
                  e.data_act.muser_role.name.toLowerCase() == "project manager"
                ) {
                  window.location.replace(window.location.origin + "/pm");
                } else if (
                  e.data_act.muser_role.name.toLowerCase() == "admin"
                ) {
                  window.location.replace(
                    window.location.origin + "/admin/employee"
                  );
                } else {
                  window.location.replace(window.location.origin + "/app");
                }
                // window.location.replace(
                //   window.location.origin + "/projectmanager"
                // );
              } else {
                this.showErrorMessage = !this.showErrorMessage;
                console.log("user is not signed in to retrive username");
                console.log(e.status);
                console.log(e);
              }
            });
          }
        );
        event.preventDefault();
      },
      validate() {
        let input = this.input;
        let errors = {};
        let isValid = true;

        if (!input["email"]) {
          isValid = false;
          errors["email"] = "This field is required.";
        }

        if (typeof input["email"] !== "undefined") {
          let pattern = RegExp(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/);
          ///^[a-zA-Z0-9._]+@[a-zA-Z]+(?:\.[a-zA-Z0-9-]+)*$/
          if (!pattern.test(input["email"])) {
            isValid = false;
            errors["email"] = "Email address doesn't valid.";
          }
        }
        this.errors = errors;
        return isValid;
      },
      ubahNilai(e) {
        let name = e.target.name;
        let nilai = e.target.value;
        this.state[name] = nilai;
        // console.log(name);
      },
      handleInputChange(e) {
        let name = e.target.name;
        let nilai = e.target.value;
        console.log(name + "   " + e.target.value);
        this.state[name] = nilai;
        // console.log(this.state.username);
      },
      togglePass() {
        this.showPass = !this.showPass;
        // console.log(this.showPass);
      },
    }}
    run={async () => {}}
  />
  <div class="flex items-center justify-center px-5 py-52 bg-white h-full">
    <div class="flex flex-1 flex-col space-y-14 items-center justify-center">
      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
        <div class="flex self-stretch items-start justify-start">
          <div class="text-xl font-semibold tracking-wide leading-loose text-coolGray-800">
            Selamat datang kembali
          </div>
        </div>
        <div class="flex self-stretch items-start justify-start">
          <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-500">
            Masukkan identitas akun anda
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-10 items-start justify-start">
        <div class="flex self-stretch flex-col space-y-6 items-start justify-start">
          <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-800">
                Email Address
              </div>
            </div>
            <div class="flex self-stretch items-center justify-start">
              <div class="relative flex flex-1 items-center justify-start">
                <div class="absolute flex border border-transparent px-6 left-0 top-0 h-full w-12">
                  <div class="flex items-center justify-center rounded-tl rounded-bl z-10 text-lg h-full w-full">
                    <img
                      src="/fimgs/I159_393_18_20.x3.png"
                      style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
                    />
                  </div>
                </div>
                <input
                  class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-3 pl-14"
                  id="email-address"
                  name="email"
                  autoComplete="email"
                  required
                  placeholder="Masukan Email Anda"
                  onChange={meta.ubahNilai}
                />
              </div>
            </div>
          </div>
          <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-800">
                Password
              </div>
            </div>
            <div class="flex self-stretch items-center justify-start">
              <div
                class="relative flex flex-1 items-center justify-start"
                style="padding-top: 20px;"
              >
                <div class="absolute flex border border-transparent px-6 h-full">
                  <div class="flex items-center justify-center rounded-tl rounded-bl z-10 text-lg h-full w-full">
                    <img
                      src="/fimgs/I159_397_18_30.x3.png"
                      style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
                    />
                  </div>
                </div>
                <input
                  autoComplete="current-password"
                  placeholder="Insert your password here"
                  class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-3 pl-14"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col items-start justify-start">
          <div class="flex self-stretch items-center justify-center px-4 py-2 bg-indigo-500 rounded">
            <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
              Masuk
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>