<>
  <effect meta={{}} run={async () => {}} />
  <div
    class={`flex flex-col items-start justify-start bg-coolGray-100`}
    style="width: 1357px; min-width: 1357px; max-width: 1357px; height: 703px; min-height: 703px; max-height: 703px;"
  >
    <div
      class="flex flex-1 self-stretch space-x-6 items-start justify-start pr-6"
      style="width: 1357px; min-width: 1357px; max-width: 1357px; height: 703px; min-height: 703px; max-height: 703px;"
    >
      <div
        class="flex flex-col items-start justify-start px-9 py-12 bg-white"
        style="width: 228px; min-width: 228px; max-width: 228px; height: 703px; min-height: 703px; max-height: 703px;"
      >
        <div
          class="flex flex-col space-y-6 items-start justify-start"
          style="width: 158px; min-width: 158px; max-width: 158px; height: 105px; min-height: 105px; max-height: 105px;"
        >
          <div
            class="flex self-stretch flex-col items-start justify-start"
            style="width: 158px; min-width: 158px; max-width: 158px; height: 40px; min-height: 40px; max-height: 40px;"
          >
            <div
              class="flex self-stretch space-x-4 items-center justify-center py-2 pl-2 pr-10 rounded"
              style="width: 158px; min-width: 158px; max-width: 158px; height: 40px; min-height: 40px; max-height: 40px;"
            >
              <img
                src="/fimgs/I55_262_45_102.x3.png"
                class="flex items-start justify-start"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-base tracking-wide leading-normal text-coolGray-500">
                  Analytics
                </div>
              </div>
            </div>
          </div>
          <div
            class="flex self-stretch flex-col items-start justify-start"
            style="width: 158px; min-width: 158px; max-width: 158px; height: 40px; min-height: 40px; max-height: 40px;"
          >
            <div
              class="flex self-stretch space-x-4 items-center justify-center py-2 pl-2 pr-10 bg-violet-100 rounded"
              style="width: 158px; min-width: 158px; max-width: 158px; height: 40px; min-height: 40px; max-height: 40px;"
            >
              <img
                src="/fimgs/I55_264_45_98.x3.png"
                class="flex items-start justify-start"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
              <div class="flex flex-1 items-start justify-start">
                <div class="text-base tracking-wide leading-normal text-blue-700">
                  Projects
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-1 flex-col space-y-6 items-start justify-start p-6"
        style="width: 1079px; min-width: 1079px; max-width: 1079px; height: 424px; min-height: 424px; max-height: 424px;"
      >
        <div
          class="flex self-stretch items-center justify-between"
          style="width: 1029px; min-width: 1029px; max-width: 1029px; height: 40px; min-height: 40px; max-height: 40px;"
        >
          <div class="flex items-start justify-start">
            <div class="text-2xl font-medium tracking-wide leading-loose text-coolGray-900">
              Project
            </div>
          </div>
          <div class="flex space-x-20 items-center justify-start">
            <div
              class="flex space-x-20 items-center justify-center px-4 py-2 bg-white rounded-full"
              style="width: 303px; min-width: 303px; max-width: 303px; height: 40px; min-height: 40px; max-height: 40px;"
            >
              <div
                class="flex flex-1 items-start justify-start"
                style="width: 177px; min-width: 177px; max-width: 177px; height: 24px; min-height: 24px; max-height: 24px;"
              >
                <div class="text-base tracking-wide leading-normal text-coolGray-500">
                  Search...
                </div>
              </div>
              <img
                src="/fimgs/55_272.x3.png"
                class="flex items-start justify-start"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
              />
            </div>
            <div
              class="flex items-start justify-between"
              style="width: 104px; min-width: 104px; max-width: 104px; height: 36px; min-height: 36px; max-height: 36px;"
            >
              <img
                src="/fimgs/55_275.x3.png"
                class="flex items-center justify-center p-2 bg-white rounded-full"
                style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;"
              />
              <img
                src="/fimgs/55_277.x3.png"
                class="flex items-center justify-center p-2 bg-white rounded-full"
                style="width: 36px; min-width: 36px; max-width: 36px; height: 36px; min-height: 36px; max-height: 36px;"
              />
            </div>
            <div
              class="flex flex-1 space-x-4 items-center justify-center"
              style="width: 191px; min-width: 191px; max-width: 191px; height: 39px; min-height: 39px; max-height: 39px;"
            >
              <img
                src="/fimgs/55_280.x3.png"
                class="flex items-start justify-start"
                style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
              />
              <div class="flex flex-1 flex-col items-start justify-start">
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-sm font-medium tracking-wide leading-tight text-coolGray-900">
                    Gabriel Mikael
                  </div>
                </div>
                <div class="flex self-stretch items-start justify-start">
                  <div class="text-xs tracking-wide leading-none text-coolGray-500">
                    Project Manager
                  </div>
                </div>
              </div>
              <img
                src="/fimgs/55_287.x3.png"
                class="flex items-start justify-start"
                style="width: 24px; min-width: 24px; max-width: 24px; height: 24px; min-height: 24px; max-height: 24px;"
              />
            </div>
          </div>
        </div>
        <div
          class="flex self-stretch items-start justify-between"
          style="width: 1029px; min-width: 1029px; max-width: 1029px; height: 40px; min-height: 40px; max-height: 40px;"
        >
          <div class="flex flex-col items-start justify-start">
            <div
              class="flex space-x-1 items-center justify-center px-4 py-2 border rounded border-indigo-500"
              style="width: 135px; min-width: 135px; max-width: 135px; height: 40px; min-height: 40px; max-height: 40px;"
            >
              <div class="text-base tracking-wide leading-normal text-center text-indigo-500">
                All Project
              </div>
              <img
                src="/fimgs/I55_494_55_487.x3.png"
                style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;background-image: url('/fimgs/bg-09b5b972072bcfc098c06e90d718895dbb4e537a');background-size:100% 100%;background-repeat:no-repeat;"
              />
            </div>
          </div>
          <div class="flex flex-col items-start justify-start">
            <div
              class="flex space-x-1 items-center justify-center px-4 py-2 bg-indigo-500 rounded"
              style="width: 215px; min-width: 215px; max-width: 215px; height: 40px; min-height: 40px; max-height: 40px;"
            >
              <div />
              <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                Create New Project
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex self-stretch items-start justify-start"
          style="width: 1029px; min-width: 1029px; max-width: 1029px; height: 244px; min-height: 244px; max-height: 244px;"
        >
          <div
            class="flex flex-col items-start justify-start px-4 py-6 bg-white rounded"
            style="width: 384px; min-width: 384px; max-width: 384px; height: 244px; min-height: 244px; max-height: 244px;"
          >
            <div class="flex flex-col space-y-8 items-start justify-start">
              <div
                class="flex self-stretch items-start justify-between"
                style="width: 350px; min-width: 350px; max-width: 350px; height: 24px; min-height: 24px; max-height: 24px;"
              >
                <div class="flex items-center justify-start">
                  <div class="text-base font-medium tracking-wide leading-normal text-center text-coolGray-500">
                    Tim 1
                  </div>
                </div>
                <img
                  src="/fimgs/55_371.x3.png"
                  class="flex items-start justify-start"
                  style="width: 32.50px; min-width: 32.50px; max-width: 32.50px; height: 20px; min-height: 20px; max-height: 20px;"
                />
              </div>
              <div
                class="flex self-stretch flex-col space-y-6 items-start justify-start"
                style="width: 350px; min-width: 350px; max-width: 350px; height: 140px; min-height: 140px; max-height: 140px;"
              >
                <div
                  class="flex self-stretch items-start justify-start"
                  style="width: 350px; min-width: 350px; max-width: 350px; height: 48px; min-height: 48px; max-height: 48px;"
                >
                  <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                    Pengembangan Aplikasi Ojek Sepeda Pemkot Magelang
                  </div>
                </div>
                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                  <img
                    src="/fimgs/55_377.x3.png"
                    class="flex self-stretch flex-col items-start justify-start"
                    style="width: 350px; min-width: 350px; max-width: 350px; height: 10px; min-height: 10px; max-height: 10px;"
                  />
                  <div
                    class="flex self-stretch items-start justify-start"
                    style="width: 350px; min-width: 350px; max-width: 350px; height: 21px; min-height: 21px; max-height: 21px;"
                  >
                    <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                      20 Task Done
                    </div>
                  </div>
                  <div
                    class="flex self-stretch items-start justify-start"
                    style="width: 350px; min-width: 350px; max-width: 350px; height: 21px; min-height: 21px; max-height: 21px;"
                  >
                    <div class="text-sm tracking-wide leading-tight">
                      Due Date: 27/09/2021
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>