<>
  <effect
    meta={{
      data_projek: "",
      state: {
        judul: "Loading",
        deskripsi: "Loading",
        label: "Loading",
        startdate: "26/09/2021",
        duedate: "26/09/2021",
        proggres: "0",
        taskComplete: "0",
      },
      link: {
        team: "#",
        task: "#",
        timeline: "#",
        planning: "#",
        file: "#",
      },
      time: {
        year: "2021",
        month: "11",
      },
      isLoading: false,
      data_timeline: [],
      selectedMonth: new Date(),
      show: {
        tim1: false,
        tim2: false,
      },
      add: { tekan: true },
      setMonth(newMonth) {
        if (this.selectedMonth == null) {
          this.selectedMonth = new Date();
          const months = [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
          ];
          var yyyy = this.selectedMonth.getFullYear();
          this.selectedMonth =
            months[this.selectedMonth.getMonth()] + " " + yyyy;
        } else {
          this.selectedMonth = newMonth;
          const months = [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
          ];
          var yyyy = this.selectedMonth.getFullYear();
          this.selectedMonth =
            months[this.selectedMonth.getMonth()] + " " + yyyy;
        }
      },
      timeSet: "0",
      getPreviousMonth() {
        const currentMonthInMilli = new Date(this.selectedMonth).getTime();
        const oneMonth = 1000 * 60 * 60 * 24 * 30;
        const previousMonthInMilli = currentMonthInMilli - oneMonth;
        const previousMonth = new Date(previousMonthInMilli);
        this.timeSet = previousMonth;
        this.setMonth(previousMonth);
        this.reloadData(previousMonth);
      },
      getNextMonth() {
        const currentMonthInMilli = new Date(this.selectedMonth).getTime();
        const oneMonth = 1000 * 60 * 60 * 24 * 31;
        const nextMonthInMilli = currentMonthInMilli + oneMonth;
        const nextMonth = new Date(nextMonthInMilli);
        this.timeSet = nextMonth;
        this.setMonth(nextMonth);
        this.reloadData(nextMonth);
      },
      keywordSearch: "",
      reloadData(month) {
        console.clear();
        // console.log(month);
        this.isLoading = false;
        var mmth = ("0" + (month.getMonth() + 1)).slice(-2);
        console.log("year ==> " + month.getFullYear());
        console.log("month ==> " + mmth);
        console.log("division ==> " + this.iddivision);
        api("/api/project/task/timeline", {
          data: {
            idproject: params.id,
            month: ("0" + (month.getMonth() + 1)).slice(-2),
            year: month.getFullYear(),
          },
          keyword: this.keywordSearch,
          iddivision: this.iddivision,
        })
          .then((e) => {
            // console.log(e);
            if (e.status == true) {
              this.data_timeline = [];
              if (e.data_act.timeline) {
                e.data_act.timeline.map((e) => {
                  // console.log("CHECK 1");
                  // console.log(e);
                  // console.log(
                  //   e.startdate.split("-")[0] + "-" + e.startdate.split("-")[1]
                  // );
                  // console.log("CHECK 1");
                  var startDateku = new Date(
                    e.startdate.split("-")[0],
                    parseInt(e.startdate.split("-")[1]) - 1
                  );
                  var dueDateku = new Date(
                    e.duedate.split("-")[0],
                    parseInt(e.duedate.split("-")[1]) - 1
                  );
                  var dateku = new Date(
                    this.time.year,
                    parseInt(this.time.month) - 1
                  );
                  var label = [];
                  // console.log("CHECK 2");
                  // console.log(dateku);
                  // console.log(startDateku);
                  // console.log("CHECK 3");
                  if (dateku < dueDateku) {
                    for (let i = 1; i <= 4; i++) {
                      label[i] =
                        "flex-grow bg-blue-300 border border-coolGray-300";
                    }
                  } else {
                    var startWeek = parseInt(e.startweeks);
                    var dueWeek = parseInt(e.dueweeks);
                    // console.log(startWeek + " and " + dueWeek);
                    for (let i = 1; i <= 4; i++) {
                      console.log(i);
                      var tes = true;
                      if (i >= startWeek && i <= dueWeek) {
                        label[i] =
                          "flex-grow bg-blue-300 border border-coolGray-300";
                      } else {
                        tes = false;
                        label[i] = "flex-grow border border-coolGray-300";
                      }
                      // console.log(tes);
                    }
                  }

                  e.labelTime = label;
                  // console.log(label);
                  // console.log(e);
                });
                // console.log(e);
                this.data_timeline = e.data_act.timeline;
              }
              this.isLoading = true;
              // document.getElementById("loading").remove();

              // console.log(this.data_timeline.length);
              // console.log(e);
            }
          })
          .catch((e) => {
            console.log(e);
          });
      },
      iddivision: 0,
      division: [],
    }}
    run={async () => {
      var tdate = new Date();
      meta.setMonth(meta.selectedMonth);
      console.log(tdate);
      console.log("month XIXIXI==> " + ("0" + tdate.getMonth() + 1).slice(-2));
      console.log("month XIXIXI==> " + tdate.getMonth());
      meta.timeSet = tdate;
      api("/api/session").then((e) => {
        // console.log(e);
        if (e.status == true || e.status == "true") {
          api("/api/project/show/" + params.id).then((e0) => {
            var iddivisi = 0;
            if (
              e.data_act.muser_role.name.toLowerCase() == "project manager" ||
              e.data_act.muser_role.name.toLowerCase() == "admin"
            ) {
              if (e0.data_act.project_division.length) {
                iddivisi = e0.data_act.project_division[0].id;
              }
            } else {
              iddivisi = e.data_act.muser_detail.iddivision;
            }
            meta.iddivision = iddivisi;
            console.log(iddivisi);
            api("/api/project/task/timeline", {
              data: {
                idproject: params.id,
                month: ("0" + tdate.getMonth() + 1).slice(-2),
                year: tdate.getFullYear(),
              },
              iddivision: 19,
              keyword: meta.keywordSearch,
            })
              .then((e) => {
                console.log("year ==> " + tdate.getFullYear());
                console.log("month ==> " + ("0" + tdate.getMonth()).slice(-2));
                console.log(meta.iddivision);
                console.log(e);
                if (e.status == true) {
                  e.data_act.timeline.map((e) => {
                    // console.log(e);
                    console.log(
                      e.startdate.split("-")[0] +
                        "-" +
                        e.startdate.split("-")[1]
                    );
                    var startDateku = new Date(
                      e.startdate.split("-")[0],
                      parseInt(e.startdate.split("-")[1]) - 1
                    );
                    var dueDateku = new Date(
                      e.duedate.split("-")[0],
                      parseInt(e.duedate.split("-")[1]) - 1
                    );
                    var dateku = new Date(
                      meta.time.year,
                      parseInt(meta.time.month) - 1
                    );
                    console.log("tanggal mulai " + startDateku);
                    console.log("tanggal akhir " + dueDateku);
                    console.log("waktu yang dipilih " + dateku);
                    var label = [];
                    if (dateku < dueDateku) {
                      for (let i = 1; i <= 4; i++) {
                        label[i] =
                          "flex-grow bg-blue-300 border border-coolGray-300";
                      }
                    } else {
                      var startWeek = parseInt(e.startweeks);
                      var dueWeek = parseInt(e.dueweeks);
                      console.log(startWeek + " and " + dueWeek);
                      for (let i = 1; i <= 4; i++) {
                        console.log(i);
                        var tes = true;
                        if (i >= startWeek && i <= dueWeek) {
                          label[i] =
                            "flex-grow bg-blue-300 border border-coolGray-300";
                        } else {
                          tes = false;
                          label[i] = "flex-grow border border-coolGray-300";
                        }
                        console.log(tes);
                      }
                    }
                    e.labelTime = label;
                    console.log(label);
                    console.log(e);
                  });
                  meta.isLoading = true;
                  // document.getElementById("loading").remove();
                  meta.data_timeline = e.data_act.timeline;
                  console.log(meta.data_timeline.length);
                  // console.log(e);
                }
              })
              .catch((e) => {
                console.log(e);
              });

            // All Project
            api("/api/project/show/" + params.id).then((e) => {
              // console.log(e);
              if (e.status == true) {
                meta.division = e.data_act.project_division;
                meta.state.judul = e.data_act.project.name;
                meta.state.deskripsi = e.data_act.project.desc;
                meta.state.label = e.data_act.project.label;
                meta.state.startdate = dateFormat(
                  e.data_act.project.startdate,
                  "dd MMMM YYY"
                );
                meta.state.duedate = dateFormat(
                  e.data_act.project.duedate,
                  "dd MMMM YYY"
                );
                meta.state.taskComplete = e.data_act.resultTask.taskComplete;
                meta.state.proggres = e.data_act.resultTask.completed;
                meta.link.team =
                  "/user/projects/" + e.data_act.project.id + "/team";
                meta.link.task =
                  "/user/projects/" + e.data_act.project.id + "/task";
                meta.link.timeline =
                  "/user/projects/" + e.data_act.project.id + "/timeline";
                meta.link.planning =
                  "/user/projects/" + e.data_act.project.id + "/planning";
                meta.link.file =
                  "/user/projects/" +
                  e.data_act.project.id +
                  "/file-management";
              }
            });
          });
        }
      });

      console.log("Mendapatkan data timeline : loading");
      meta.actiondivision = {
        onChange: (e) => {
          runInAction(() => {
            console.clear();
            console.log("ID DIVISION " + e.target.value);
            meta.iddivision = e.target.value;
            console.log("ID DIVISION " + meta.state.iddivision);
            meta.isLoading = false;
            meta.reloadData(meta.timeSet);
            // console.log();
            // console.log("VALUE : " + e.target.value);
          });
        },
      };
      meta.actionsearch = {
        onChange: (e) => {
          runInAction(() => {
            meta.isLoading = false;
            meta.keywordSearch = e.target.value;
            meta.reloadData(meta.timeSet);
            // meta.search(e.target.value);
          });
        },
      };
      console.log("Akhir:");
    }}
  />

  <div class="flex w-full self-stretch flex-col space-y-9 items-start justify-start px-10 pt-10">
    <div class="flex self-stretch flex-col space-y-9 items-start justify-start px-6 py-4 bg-white rounded">
      <div class="flex w-full items-start justify-between">
        <div class="flex items-start justify-start">
          <div class="text-xl font-medium tracking-wide leading-loose text-coolGray-900">
            {meta.state.judul}
          </div>
        </div>
        <div class="flex flex-col space-y-2 items-start justify-start">
          <div
            class="flex flex-col items-start justify-start"
            style="width: 304px; min-width: 304px; max-width: 304px; height: 10px; min-height: 10px; max-height: 10px;"
          >
            <bar percent={meta.state.proggres} />
          </div>
          <div class="flex items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              {meta.state.taskComplete} Task Done
            </div>
          </div>
        </div>
      </div>
      <div class="flex space-x-8 items-center justify-start">
        <a
          href={meta.link.detail}
          class="flex flex-grow items-center justify-center py-2 px-4 rounded"
        >
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
            Project Detail
          </div>
        </a>
        <a
          href={meta.link.task}
          class="flex flex-grow items-center justify-center py-2 px-4 rounded"
        >
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
            Task
          </div>
        </a>
        <a
          href={meta.link.planning}
          class="flex flex-grow items-center justify-center py-2 px-4 rounded"
        >
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
            Planning
          </div>
        </a>
        <a
          href={meta.link.timeline}
          class="flex flex-grow items-center justify-center bg-coolGray-50 py-2 px-4 rounded"
        >
          <div class="text-base font-medium tracking-wide leading-normal text-indigo-500">
            Timeline
          </div>
        </a>
        <a
          href={meta.link.file}
          class="flex flex-grow items-center justify-center py-2 px-4 rounded"
        >
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
            File Management
          </div>
        </a>
        <a
          href={meta.link.team}
          class="flex flex-grow items-center justify-center py-2 px-4 rounded"
        >
          <div class="text-base font-medium tracking-wide leading-normal text-coolGray-500">
            Team
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="flex flex-col self-stretch space-y-6 p-10 w-auto">
    <div class="rounded">
      <div
        class="flex self-stretch items-center justify-between bg-white rounded-t border-b border-coolGray-300 px-8"
        style="height: 50px; min-height: 50px; max-height: 50px;"
      >
        <div class="text-sm font-medium tracking-wide leading-tight text-center text-coolGray-900 rounded-l border-r border-coolGray-300 pr-3">
          <label class="bg-white"></label>
          <select
            id="employee"
            name="employee"
            class="text-sm bg-white rounded-l py-3 outline-none"
            onChange={(e) => {
              meta.actiondivision.onChange(e);
            }}
          >
            {meta.division.map((e) => {
              meta.state.iddivision = meta.division[0].id;
              if (e.division.toLowerCase() != "project manager") {
                return <option value={e.id}>{e.division}</option>;
              }
            })}
          </select>
        </div>
        <div class="flex space-x-2 items-center justify-center">
          <div id="prev" onClick={meta.getPreviousMonth}>
            <img
              class="cursor-pointer"
              src="/fimgs/638_776.x3.png"
              style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
            />
          </div>
          <div class="flex flex-1 items-start justify-start">
            <div
              class="text-base font-medium tracking-wide leading-normal text-indigo-500"
              id="date"
            >
              {meta.selectedMonth}
            </div>
          </div>
          <div id="next" onClick={meta.getNextMonth}>
            <img
              class="cursor-pointer"
              src="/fimgs/638_779.x3.png"
              style="width: 20px; min-width: 20px; max-width: 20px; height: 20px; min-height: 20px; max-height: 20px;"
            />
          </div>
        </div>
        <div
          class="flex items-center justify-between px-4 py-2 bg-coolGray-50 rounded-full"
          style="height: 32px; min-height: 32px; max-height: 32px;"
        >
          <div class="flex flex-1 items-start justify-start">
            <input
              placeholder="Search Task"
              class="text-xs tracking-wide leading-none text-coolGray-500 w-full bg-coolGray-50 placeholder-gray-400 focus:outline-none"
              onChange={(e) => {
                meta.actionsearch.onChange(e);
              }}
            />
          </div>
          <img
            src="/fimgs/638_750.x3.png"
            class="cursor-pointer flex items-start justify-start"
            style="width: 14px; min-width: 14px; max-width: 14px; height: 14px; min-height: 14px; max-height: 14px;"
          />
        </div>
      </div>
      <div class="overflow-x-auto">
        <div class="align-middle inline-block min-w-full">
          <div class="overflow-hidden">
            <table class="min-w-full bg-white">
              <thead>
                <tr>
                  <td
                    rowSpan="2"
                    class="relative px-3 py-2 justify-center mr-auto border-r border-b border-coolGray-300"
                  >
                    <div class=" text-sm font-medium text-gray-500 text-center">
                      Task Name
                    </div>
                  </td>
                  <td
                    colSpan="4"
                    class="relative px-6 py-2 justify-center border-b border-coolGray-300"
                  >
                    <div class="text-sm font-medium text-coolGray-500 text-center">
                      Week
                    </div>
                  </td>
                </tr>
                <tr class="border-b border-coolGray-300">
                  <td class="relative px-6 py-2 text-sm justify-start border border-coolGray-300">
                    <div class="text-sm font-medium text-coolGray-500 text-center">
                      1
                    </div>
                  </td>
                  <td class="relative px-6 py-2 text-sm justify-start border border-coolGray-300">
                    <div class="text-sm font-medium text-coolGray-500 text-center">
                      2
                    </div>
                  </td>
                  <td class="relative px-6 py-2 text-sm justify-start border border-coolGray-300">
                    <div class="text-sm font-medium text-coolGray-500 text-center">
                      3
                    </div>
                  </td>
                  <td class="relative px-6 py-2 text-sm justify-start border border-coolGray-300">
                    <div class="text-sm font-medium text-coolGray-500 text-center">
                      4
                    </div>
                  </td>
                </tr>
              </thead>
              <tbody>
                {meta.isLoading ? (
                  <>
                    {meta.data_timeline.map((e) => {
                      return (
                        <tr class="border-b border-coolGray-300">
                          <td class="px-3 py-4 whitespace-normal text-left">
                            <div class="text-sm text-gray-900">{e.name}</div>
                          </td>
                          <td class={e.labelTime[1]}></td>
                          <td class={e.labelTime[2]}></td>
                          <td class={e.labelTime[3]}></td>
                          <td class={e.labelTime[4]}></td>
                        </tr>
                      );
                    })}
                  </>
                ) : (
                  <tr class="border-b border-coolGray-300">
                    <td
                      class="px-3 py-4 whitespace-normal text-left"
                      colSpan="5"
                    >
                      <div class="flex self-stretch flex-wrap items-center justify-center">
                        <div class="py-2 px-6 rounded-lg flex items-center flex-col">
                          <div
                            class="loader-dots block relative w-22 h-6 mt-2"
                            style="width: 5rem;"
                          >
                            <div
                              class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                              style="top: 0; width: 0.75rem; height: 0.75rem;"
                            ></div>
                            <div
                              class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                              style="top: 0; 	width: 0.75rem; height: 0.75rem;"
                            ></div>
                            <div
                              class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                              style="top: 0; 	width: 0.75rem; height: 0.75rem;"
                            ></div>
                            <div
                              class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                              style="top: 0; 	width: 0.75rem; height: 0.75rem;"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                )}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</>