<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col space-y-2 items-start justify-start py-11 bg-coolGray-100">
    <div class="flex flex-col items-start justify-start px-5 py-4 bg-white shadow-inner">
      <div class="flex self-stretch items-center justify-start">
        <div class="flex items-center justify-start">
          <div style="background-image: url('/fimgs/bg-c850bb71586d986bf96dfc0691a5f82a22f22652');background-size:100% 100%;background-repeat:no-repeat;" />
          <div class="text-sm tracking-wide leading-tight text-indigo-500">
            Back
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col space-y-4 items-start justify-start px-5 py-4 bg-white">
      <div class="flex items-start justify-start">
        <div class="text-xs tracking-wide leading-none">
          Subtask Of Wireframe
        </div>
      </div>
      <div class="flex flex-col space-y-4 items-start justify-start">
        <div class="flex flex-col space-y-2 items-start justify-start">
          <div class="flex items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              Subtask Name
            </div>
          </div>
          <div class="flex items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
            <div class="flex flex-1 space-x-3 items-center justify-center">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Login Page
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col space-y-2 items-start justify-start">
          <div class="flex items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              Status
            </div>
          </div>
          <div class="flex items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
            <div class="flex flex-1 space-x-3 items-center justify-center">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                IN PROGRESS
              </div>
              <div style="background-image: url('/fimgs/bg-828ffc36cf8db9b135befd66a2753a3d0b07073c');background-size:100% 100%;background-repeat:no-repeat;" />
            </div>
          </div>
        </div>
        <div class="flex flex-col space-y-2 items-start justify-start">
          <div class="flex items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              Start Date
            </div>
          </div>
          <div class="flex items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
            <div class="flex flex-1 space-x-3 items-center justify-center">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                14, September 2021
              </div>
              <div style="background-image: url('/fimgs/bg-44ecb1e82aecb950c69939e4291e6ed559758c21');background-size:100% 100%;background-repeat:no-repeat;" />
            </div>
          </div>
        </div>
        <div class="flex flex-col space-y-2 items-start justify-start">
          <div class="flex items-start justify-start">
            <div class="text-sm tracking-wide leading-tight text-coolGray-500">
              Due Date
            </div>
          </div>
          <div class="flex items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
            <div class="flex flex-1 space-x-3 items-center justify-center">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                19, September 2021
              </div>
              <div style="background-image: url('/fimgs/bg-44ecb1e82aecb950c69939e4291e6ed559758c21');background-size:100% 100%;background-repeat:no-repeat;" />
            </div>
          </div>
        </div>
        <div class="flex space-x-4 items-start justify-start">
          <div class="flex flex-col space-y-2 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Priority
              </div>
            </div>
            <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
              <div class="flex flex-1 space-x-3 items-center justify-center">
                <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                  Medium
                </div>
                <div style="background-image: url('/fimgs/bg-828ffc36cf8db9b135befd66a2753a3d0b07073c');background-size:100% 100%;background-repeat:no-repeat;" />
              </div>
            </div>
          </div>
          <div class="flex flex-col space-y-2 items-start justify-start">
            <div class="flex self-stretch items-start justify-start">
              <div class="text-sm tracking-wide leading-tight text-coolGray-500">
                Task Value
              </div>
            </div>
            <div class="flex self-stretch items-center justify-start px-6 py-3 bg-white border rounded border-coolGray-300">
              <div class="flex flex-1 space-x-3 items-center justify-center">
                <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                  5
                </div>
                <div style="background-image: url('/fimgs/bg-828ffc36cf8db9b135befd66a2753a3d0b07073c');background-size:100% 100%;background-repeat:no-repeat;" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>