<>
  <effect
    meta={{
      state: {
        name: "",
        member: [],
      },
      member: [],
      styles: {
        control: (base, state) => ({
          ...base,
          paddingTop: "5px",
          paddingBottom: "5px",
          boxShadow: "none",
          border: state.isFocused ? "1px solid #818CF8" : "1px solid #D1D5DB",
          "&:hover": {
            border: state.isFocused ? "1px solid #818CF8" : "1px solid #D1D5DB",
          },
        }),
        option: (styles, state) => ({
          ...styles,
          "&:hover": {
            backgroundColor: state.isDisabled
              ? "#F3F4F6"
              : state.isSelected
              ? null
              : "#F3F4F6",
          },
        }),
      },
      dataUser(e) {
        let userDetail = [];
        api("/api/user").then((i) => {
          i.data_act.map((res, index) => {
            if (res.muser_detail) {
              // var validasi = true;
              // if(res.iduser )
              var validasi = this.member.find(
                ({ iduser }) => iduser === res.muser_detail.id
              );
              if (!validasi) {
                i.data_act[index] = {
                  value: res.muser_detail.id,
                  label: res.email,
                };
                userDetail.push(i.data_act[index]);
              }
            }
          });
        });
        return userDetail;
      },
      modalAddMember() {
        this.showModalAddMember = !this.showModalAddMember;
      },
      // Script Delete Member
      modalku: [],
      dataku: [],
      showmodalku(id) {
        var vv = [];
        if (!this.modalku[id]) {
          vv[id] = true;
        }
        this.modalku = vv;
        var dataku = [];
        if (!this.dataku[id]) {
          dataku[id] = true;
        }
        this.dataku = dataku;
        // this.modalku = !this.modalku;
        var elem = document.getElementById(id);
        if (elem.classList.contains("hidden")) {
          elem.classList.remove("hidden");
        } else {
          elem.classList.add("hidden");
        }
      },
      deleteTeam: {
        name: "asdasd",
        idteam: 0,
      },
      confirmDelete: false,
      delTeam(id) {
        console.log("HAPUS DATA ID : " + id);
        api("/api/teams/member/remove", {
          idmember: id,
        }).then((e) => {
          console.log(e);
          this.confirmDelete = false;
          if (e.status == true) {
            this.loading.member = false;
            this.reloadData();
          }
        });
      },
      modalDelete(id, name) {
        this.deleteTeam.idteam = id;
        this.deleteTeam.name = name;
        // console.log("hapus tim " + name);
        this.confirmDelete = true;
      },
      closeDelete() {
        this.confirmDelete = false;
      },
      // Script add member
      detailTeam: {
        name: "",
        idTeam: 0,
      },
      addMember(event) {
        if (this.state.member.length > 0) {
          this.state.member.map((e) => {
            console.log(e);
            this.runAddMember(e);
            // console.log(sql);
          });
          this.modalAddMember();
          // this.loading.member = false;
          // this.reloadData();
        } else {
          console.log("MINIMAL 1 MEMBER");
        }
        event.preventDefault();
      },
      runAddMember(user) {
        api("/api/teams/member/add", {
          iduser: user,
          idteam: params.id,
        }).then((e) => {
          if (e.status == true) {
            this.loading.member = false;
            this.reloadData();
          }
          console.log(e);
        });
      },
      // Script reload data
      loading: { member: false },
      reloadData() {
        api("/api/team/show", {
          data: {
            idteam: params.id,
          },
        }).then((i) => {
          // console.log(i);
          if (i.status == true) {
            // meta.member = [];
            // console.log(i.data_team);
            this.member = i.data_team;
            this.state.name = i.data_act.name;
            this.detailTeam.idteam = i.data_act.id;
            this.loading.member = true;
          }
        });
      },
    }}
    run={async () => {
      api("/api/team/show", {
        data: {
          idteam: params.id,
        },
      }).then((i) => {
        console.log(i);
        if (i.status == true) {
          // meta.member = [];
          // console.log(i.data_team);
          meta.loading.member = true;
          meta.member = i.data_team;
          meta.detailTeam.idteam = i.data_act.id;
          meta.state.name = i.data_act.name;
        }
      });
      meta.actionmember = {
        onChange: (e) => {
          runInAction(() => {
            meta.state.member = e.map((x) => x.value);
            meta.team = 0;
          });
        },
      };
    }}
  />
  <div class="flex flex-col self-stretch space-y-8 p-10 w-auto">
    <div class="flex self-stretch flex-col space-y-8 items-start justify-start pl-6 pr-8 pt-8 pb-10 bg-white rounded">
      <div class="flex self-stretch flex-col space-y-2 items-start justify-center">
        <div class="flex self-stretch items-start justify-start">
          <div class="text-xl font-medium tracking-wide leading-loose text-coolGray-900">
            {meta.state.name}
          </div>
        </div>
        <div class="flex self-stretch items-start justify-start">
          <div class="text-base tracking-wide leading-normal text-coolGray-500">
            {/*5 Total Member*/}
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
        <div class="flex self-stretch items-center justify-start px-6 py-3 bg-coolGray-50 border rounded border-coolGray-300">
          <div class="flex flex-1 space-x-3 items-center justify-start">
            <div class="text-base tracking-wide leading-normal text-coolGray-900">
              {meta.state.name}
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col items-start justify-start p-6 bg-coolGray-50 border rounded border-coolGray-300">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch space-x-2.5 items-center justify-start">
              <div class="flex flex-1 items-start justify-start">
                <div class="text-base tracking-wide leading-normal text-coolGray-500">
                  List Member
                </div>
              </div>
              <div class="flex flex-col items-start justify-start">
                <button
                  onClick={meta.modalAddMember}
                  class="flex space-x-1 items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded"
                >
                  <img
                    src="/fimgs/603_427.x3.png"
                    style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
                  />
                  <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                    Add Member
                  </div>
                </button>
              </div>
            </div>
            {meta.loading.member ? (
              <>
                <div class="flex self-stretch flex-col items-start justify-start py-6 pl-6 bg-coolGray-50 rounded">
                  <div class="flex self-stretch flex-col items-start justify-start">
                    <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                      {meta.member.map((e, idx) => {
                        return (
                          <div class="flex self-stretch flex-col">
                            {!meta.dataku[e.id] && (
                              <div
                                class="flex self-stretch items-center justify-start py-2 pr-4 rounded"
                                id={e.id}
                              >
                                <div
                                  class="flex space-x-4 items-start justify-start w-full cursor-pointer"
                                  onClick={(event) => {
                                    meta.showmodalku(e.id);
                                  }}
                                >
                                  <div class="flex items-start justify-start">
                                    <img
                                      src="/fimgs/I448_1610_1448_4295.x3.png"
                                      class="rounded-full"
                                      style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
                                    />
                                  </div>
                                  <div class="flex flex-col items-start justify-start">
                                    <div class="flex self-stretch items-start justify-start">
                                      <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                                        {e.muser_detail.fullname}
                                      </div>
                                    </div>
                                    <div class="flex self-stretch items-start justify-start">
                                      <div class="text-xs tracking-wide leading-none text-coolGray-500">
                                        UIUX Designer
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            )}
                            {meta.modalku[e.id] && (
                              <div class="flex self-stretch items-center justify-between py-2 pr-4 pl-5 bg-white rounded">
                                <div
                                  class="flex space-x-4 items-start justify-start w-full cursor-pointer"
                                  onClick={(event) => {
                                    meta.showmodalku(e.id);
                                  }}
                                >
                                  <div class="flex items-start justify-start">
                                    <img
                                      src="/fimgs/I448_1610_1448_4295.x3.png"
                                      class="rounded-full"
                                      style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
                                    />
                                  </div>
                                  <div class="flex flex-col items-start justify-start">
                                    <div class="flex self-stretch items-start justify-start">
                                      <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                                        {e.muser_detail.fullname}
                                      </div>
                                    </div>
                                    <div class="flex self-stretch items-start justify-start">
                                      <div class="text-xs tracking-wide leading-none text-coolGray-500">
                                        UIUX Designer
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div
                                  class="flex items-start justify-start"
                                  onClick={(event) =>
                                    meta.modalDelete(
                                      e.id,
                                      e.muser_detail.fullname
                                    )
                                  }
                                >
                                  <img
                                    src="/fimgs/295_281.x3.png"
                                    class="cursor-pointer"
                                    style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
                                  />
                                </div>
                              </div>
                            )}
                          </div>
                        );
                      })}
                    </div>
                  </div>
                </div>
              </>
            ) : (
              <div class="px-3 py-4 whitespace-normal text-left">
                <div class="flex self-stretch flex-wrap items-center justify-center">
                  <div class="py-2 px-6 rounded-lg flex items-center flex-col">
                    <div
                      class="loader-dots block relative w-22 h-6 mt-2"
                      style="width: 5rem;"
                    >
                      <div
                        class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                        style="top: 0; width: 0.75rem; height: 0.75rem;"
                      ></div>
                      <div
                        class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                        style="top: 0; 	width: 0.75rem; height: 0.75rem;"
                      ></div>
                      <div
                        class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                        style="top: 0; 	width: 0.75rem; height: 0.75rem;"
                      ></div>
                      <div
                        class="absolute top-0 mt-1 w-4 h-4 rounded-full bg-blue-700"
                        style="top: 0; 	width: 0.75rem; height: 0.75rem;"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            )}
          </div>
        </div>
      </div>
    </div>
  </div>
  {meta.showModalAddMember && (
    <>
      <div class="flex justify-center items-center overflow-ellipsis fixed inset-0 z-50 outline-none focus:outline-none">
        <div
          class="relative w-auto mx-auto max-w-3xl"
          style="min-width: 480px; width: 480px;"
        >
          {/*content*/}
          <div class="border-0 rounded shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            {/*body*/}
            <div class="border-0 rounded flex flex-col items-start justify-start relative overflow-ellipsis bg-gray-50">
              <div class="border-0 rounded-t flex self-stretch flex-col px-7 py-4 items-start justify-start bg-white shadow">
                <div class="flex self-stretch flex-col items-start justify-start">
                  <div class="flex self-stretch items-center justify-between">
                    <div class="flex items-start justify-start pl-40">
                      <div class="text-xl font-medium tracking-wide leading-loose text-center text-coolGray-900">
                        Add Member
                      </div>
                    </div>
                    <form onSubmit={meta.modalAddMember}>
                      <button class="flex flex-col items-start justify-start">
                        <img
                          src="/fimgs/517_574.x1.svg"
                          style="width: 24px; min-width: 24px; max-width: 24px; height: 30px; min-height: 30px; max-height: 30px;"
                        />
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <form
                class="flex flex-1 self-stretch flex-col items-start justify-start"
                // onSubmit={meta.submitData}
              >
                <div class="flex self-stretch flex-col space-y-8 items-start justify-start p-8">
                  <div class="flex self-stretch flex-col space-y-2.5 items-start justify-center">
                    <div class="flex self-stretch items-start justify-start">
                      <div class="text-sm tracking-wide leading-none text-center text-gray-500">
                        Search Employee
                      </div>
                    </div>
                    <div class="flex self-stretch items-center justify-start">
                      <div class="relative flex flex-1 items-center justify-start">
                        <multipleselect
                          options={meta.dataUser()}
                          theme={(theme) => ({
                            ...theme,
                            colors: {
                              ...theme.colors,
                              primary25: "#F3F4F6",
                              primary: "#6366F1",
                            },
                          })}
                          styles={meta.styles}
                          className="w-full"
                          classNamePrefix="select"
                          isMulti
                          name="member"
                          onChange={(e) => {
                            meta.actionmember.onChange(e);
                          }}
                        />
                      </div>
                    </div>
                  </div>

                  <button
                    type="submit"
                    class="flex flex-1 self-stretch flex-col items-start justify-start"
                    onClick={meta.addMember}
                  >
                    <div class="flex self-stretch items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded">
                      <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                        Save
                      </div>
                    </div>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div className="opacity-25 fixed inset-0 z-40 bg-black"></div>
    </>
  )}
  {meta.confirmDelete ? (
    <>
      <div class="flex justify-center items-center overflow-ellipsis fixed inset-0 z-50 outline-none focus:outline-none">
        <div
          class="relative w-auto mx-auto max-w-3xl"
          style="min-width: 325px; width: 325px;"
        >
          <div class="border-0 rounded shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <div class="flex w-full flex-col items-start justify-start p-4 space-y-6 bg-white rounded">
              <div class="flex w-full space-x-4 items-start justify-start">
                <div>
                  <img
                    style="width: 30px; min-width: 30px; max-width: 30px; height: 30px; min-height: 30px; max-height: 30px;"
                    src="/fimgs/295_281.x3.png"
                  />
                </div>
                <div class="flex flex-1 flex-col space-y-1 items-start justify-start">
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-base font-medium tracking-wide leading-normal text-coolGray-900">
                      Remove Member
                    </div>
                  </div>
                  <div class="flex self-stretch items-start justify-start">
                    <div class="text-sm tracking-wide leading-tight">
                      Are you sure remove{" "}
                      <small class="text-sm font-medium">
                        "{meta.deleteTeam.name}"?
                      </small>{" "}
                      You can’t undo this action
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex w-full space-x-6 items-start justify-end">
                <div class="flex items-start justify-end">
                  <div class="flex items-start justify-end px-4 py-2 rounded">
                    <div class="text-base font-medium tracking-wide leading-normal text-center text-coolGray-500">
                      <button onClick={meta.closeDelete}>Cancel</button>
                    </div>
                  </div>
                </div>
                <div class="flex items-start justify-end bg-red-500 rounded">
                  <div class="flex items-start justify-end px-4 py-2 rounded">
                    <button
                      class="text-base font-medium tracking-wide leading-normal text-center text-white"
                      onClick={(event) => meta.delTeam(meta.deleteTeam.idteam)}
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div className="opacity-25 fixed inset-0 z-40 bg-black"></div>
    </>
  ) : null}
</>