<>
  <effect meta={{}} run={async () => {}} />
  <div class="flex flex-col self-stretch space-y-8 p-10 w-auto">
    <div class="flex self-stretch flex-col space-y-8 items-start justify-start pl-6 pr-8 pt-8 pb-10 bg-white rounded">
      <div class="flex self-stretch flex-col space-y-2 items-start justify-center">
        <div class="flex self-stretch items-start justify-start">
          <div class="text-xl font-medium tracking-wide leading-loose text-coolGray-900">
            Team 1
          </div>
        </div>
        <div class="flex self-stretch items-start justify-start">
          <div class="text-base tracking-wide leading-normal text-coolGray-500">
            5 Total Member
          </div>
        </div>
      </div>
      <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
        <div class="flex self-stretch items-center justify-start px-6 py-3 bg-coolGray-50 border rounded border-coolGray-300">
          <div class="flex flex-1 space-x-3 items-center justify-start">
            <div class="text-base tracking-wide leading-normal text-coolGray-900">
              Team 1
            </div>
          </div>
        </div>
        <div class="flex self-stretch flex-col items-start justify-start p-6 bg-coolGray-50 border rounded border-coolGray-300">
          <div class="flex self-stretch flex-col space-y-4 items-start justify-start">
            <div class="flex self-stretch space-x-2.5 items-center justify-start">
              <div class="flex flex-1 items-start justify-start">
                <div class="text-base tracking-wide leading-normal text-coolGray-500">
                  List Member
                </div>
              </div>
              <button class="flex flex-col items-start justify-start">
                <div class="flex space-x-1 items-center justify-center px-4 py-2 bg-indigo-500 hover:bg-indigo-700 rounded">
                  <img
                    src="/fimgs/603_427.x3.png"
                    style="width: 16px; min-width: 16px; max-width: 16px; height: 16px; min-height: 16px; max-height: 16px;"
                  />
                  <div class="text-base font-medium tracking-wide leading-normal text-center text-white">
                    Add Member
                  </div>
                </div>
              </button>
            </div>
            <div class="flex self-stretch flex-col items-start justify-start py-6 pl-6 bg-coolGray-50 rounded">
              <div class="flex self-stretch flex-col items-start justify-start">
                <div class="flex self-stretch flex-col space-y-2 items-start justify-start">
                  <div class="flex self-stretch items-center justify-start py-2 pr-4 rounded">
                    <div class="flex space-x-4 items-start justify-start">
                      <div class="flex items-start justify-start">
                        <img
                          src="/fimgs/I580_1398_1448_4295.x3.png"
                          class="rounded-full"
                          style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
                        />
                      </div>
                      <div class="flex flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                            Afif Hanifudin
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-xs tracking-wide leading-none text-coolGray-500">
                            UIUX Designer
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-center py-2 pr-4">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="flex items-start justify-start">
                        <img
                          src="/fimgs/I580_1398_1448_4304.x3.png"
                          class="rounded-full"
                          style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
                        />
                      </div>
                      <div class="flex flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                            Dzaki
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-xs tracking-wide leading-none text-coolGray-500">
                            Business Analyst
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-center py-2 pr-4">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="flex items-start justify-start">
                        <img
                          src="/fimgs/I580_1398_1448_4313.x3.png"
                          class="rounded-full"
                          style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
                        />
                      </div>
                      <div class="flex flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                            Faisal
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-xs tracking-wide leading-none text-coolGray-500">
                            Full Stack Developer
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-center py-2 pr-4">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="flex items-start justify-start">
                        <img
                          src="/fimgs/I580_1398_1448_4322.x3.png"
                          class="rounded-full"
                          style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
                        />
                      </div>
                      <div class="flex flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                            Royhan
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-xs tracking-wide leading-none text-coolGray-500">
                            Full Stack Developer
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex self-stretch flex-col items-start justify-center py-2 pr-4">
                    <div class="flex self-stretch space-x-4 items-start justify-start">
                      <div class="flex items-start justify-start">
                        <img
                          src="/fimgs/I580_1398_1448_4331.x3.png"
                          class="rounded-full"
                          style="width: 32px; min-width: 32px; max-width: 32px; height: 32px; min-height: 32px; max-height: 32px;"
                        />
                      </div>
                      <div class="flex flex-col items-start justify-start">
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-sm tracking-wide leading-tight text-coolGray-900">
                            Bukhari
                          </div>
                        </div>
                        <div class="flex self-stretch items-start justify-start">
                          <div class="text-xs tracking-wide leading-none text-coolGray-500">
                            Full Stack Developer
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>